<% content_for :center do -%>
  <p> This OTU has content for the following text content types: <%= @content_types_with_content.size > 0 ? @content_types_with_content.collect{|c| c.display_name}.join("; ") : '<i>none</i>'  -%> </p>
  <div id="content_options">
    <% if !@content_template.blank? -%>
    <%= render :partial => 'content_template/page_header_and_options' -%>
    <% end -%>
  </div>

  <hr style="width:33%; color:#ccc; margin-bottom:10px;" />

  <div id="contents">
    <% if !@content_template.blank? -%>
    <%= render :partial => "content_template/page", :locals => {:content => @page_content}  -%>  
    <% else -%>

    <p><i> Choose a content template from the dropdown to the right, or click on the "compare..." or "show all..."  links.</i></p>
    <% end -%>
  </div>
<% end %>

<% content_for :right do -%>

<div class="subform">
  <div class="header"> additional view/edit options </div>
  <div class="content"> 
    <%= link_to('matrix syncing', :action => 'show_matrix_sync', :id => @otu) -%> <hr />
    <%= link_to('show all content for this OTU', :action => 'show_all_content', :id => @otu) -%> <hr />
    <%= link_to('compare 2 OTUs for 1 content type', :action => 'show_compare_content', :controller => 'otu', :id => @otu) -%> <hr />
    <%= form_tag(:action => 'refresh') do -%> 
    <span class="lbl4">switch template to </span> <%= select("tmplt", "choice", @templates.collect{|o| [o.name, o.id]}, :include_blank => true)  -%>
    <%= observe_field("tmplt_choice",  :on => "changed", :url => {:action => '_update_content_page', :otu_id => @otu.id}, :loading => "Element.show('tmplt_spinner')", :complete => "Element.hide('tmplt_spinner')" ) -%> 
    <%= spinner_tag('tmplt_spinner') -%>
    <% end -%>
  </div>
</div>

<% if @content_template -%>
<div id="transfer_form">
  <%= render(:partial => 'content/transfer_form') -%>
</div>
<% end -%>

<% end -%>
