<% content_for :center do -%>

<% @mx.figures.group_by(&:image).each do |image, figures| -%>
<div style="margin-bottom:0.5em; border-bottom:1px dotted silver;">

  <div style="float:left;padding:0.5em;">
    show image: <%= link_to(image.id.to_s, {:action => :show, :controller => :images, :id => image.id}, :target => '_blank')  -%> <br />
    <% figure_markers = figures.inject([]){|arry, fig| arry += fig.figure_markers} -%>
    <% if figure_markers.size > 0 -%>
      <%= image_with_svg_markers_tag(:image => image, :figure_markers => figure_markers   )  -%>
    <% else -%>
      <%= image_tag(image.path_for(:size => :medium)) -%> 
    <% end -%>
    
    <p> <%= link_to("original file", image.path_for(:size => :original) ) -%> </p>

    <br style="clear:both;" />

  </div>

  <div style="float:left;padding:0.5em;border-left:1px dotted silver;">  
    <% figures.each do |f| -%>
    <div>
      <%= link_to("annotate",{ :action => :annotate, :controller => :figures, :id => f.id}, :target => '_blank') -%>
      <% o = f.figured_obj -%>
      <% if o.class == ChrState -%>
      <span style="color:gray;">chr_id: <%= o.chr.id -%> </span>  <%= o.chr.display_name + ": " +  f.figured_obj.display_name -%>
      <% else -%>
        non character state tagging: <%= o.display_name -%>
      <% end %>
    </div>
    <% end -%> 
    <br style="clear:both;" />
  </div>

  <br style="clear:both;" />

</div>

<% end -%>

<%= render_svged_figures -%>


<% end -%>
