<% content_for :center do -%>
  <h3> sorting OTUs </h3>
  <p><%= link_to('reset otu sorting', :action => :reset_otu_positions, :id => @mx) -%><i> resets based on matrix name then OTU name</i> </p>

  <div>
    <p><i> Drag to sort.</i> </p>
    <table id="otus"
      style="margin-left: 2em;"
      data-sortable
      data-sortable-items="tr"
      data-sortable-on-change-url="<%= url_for(:action=>'sort_otus')%>">

      <% @mxes_otus.each do |mxotu| -%>
        <%= content_tag_for :tr, mxotu do -%>
          <td class="handle"><%= render("shared/drag_handle")%></td>
          <td> <%= mxotu.otu.id -%> </td>
          <td>
            <%= link_to(mxotu.otu.display_name(type: :matrix_name).html_safe, :action => :show, :id => mxotu.otu.id, :controller => :otus) -%>
          </td>
        <% end %>
      <% end %>
    </table>
  </div>


<% end %>
