<%= content_for :center do -%>
  <h4> sorting characters </h4>
  <p>  <%= link_to('reset character sorting', :action => :reset_chr_positions, :id => @mx) -%> <i>resets to alphabetical by character name</i> </p>
  <div>
    <p><i> Drag to sort.</i>  <%= image_tag('/images/spinner.gif', :alt => 'Updating', :id => 'move_spinner', :style => "display: none; vertical-align:middle;"  ) %> </p>
    <ul id="chrs">
      <% @chrs_mxes.each do |chrmx| -%>
        <%= content_tag_for :li, chrmx do -%>
          <span class="handle">[drag]</span><span> &nbsp; <%= chrmx.chr.id -%></span> &nbsp;
          <%= link_to(chrmx.chr.display_name, :action => :show, :controller => :chrs, :id => chrmx.chr.id) -%>
        <% end %>
      <% end %>
    </ul>
  </div>
  <%= sortable_element("chrs", :url => {:action => 'sort_chrs'}, :handle => 'handle',  :loading => "Element.show('move_spinner')", :complete => "Element.hide('move_spinner')" )-%>

<% end %>
