<div class='navigator'>

  <%= link_to 'enter from ref', enter_from_ref_trait_path -%>

  <h3> Coding demos </h3>
  <%= link_to 'browse data', browse_data_trait_path -%>
  <%= link_to('matrix coding', {:action => :matrix_coding, :controller => :mxes, :id => @proj.mxes.first}, :method => 'get' ) -%>
  <%= link_to('by row', code_otu_demo_trait_path ) -%>
  <%= link_to('by column', code_chr_demo_trait_path ) -%>

</div>
