<% content_for :center do -%>
<script type="text/javascript">
	$(function() {
		$("#source_ref_id_to_find_for_otu").bind("autocompleteselect", function(event, ui) {
			$('#taxon').show();
		});
		$("#taxon_name").bind("autocompleteselect", function(event, ui) {
			$('#study_data').show();
		});
		$("#ce_ed_y").keyup( function() {
			if ($(this).val().length == 4)
				$('#pop').show();
		 });
	});
</script>

<%= form_tag(:action => 'create') do -%>
<div id="nform">
	<div id="nform_left" class="column">
		<%= error_messages_for 'otu' %>
		<%= error_messages_for 'ce' %>
		<%= hidden_field "otu", "id" %>
		<%= hidden_field "taxon_name", "taxon_name_id" %>

		<%= render partial: 'choose_ref' -%>
		<div id="taxon" class="hidden">
			<%= render partial: 'choose_taxon' -%>
		</div>
		<div id="study_data" class="hidden">
			<%= render partial: 'enter_study_data' -%>
		</div>
		<div id="pop" class="hidden">
			<%= render partial: 'enter_population_name' -%>
			<input type="submit" name="submit" value="create" />
		</div>
	</div>
	<div id="nform_right" class="column">
		<%= render :partial => 'otus_for_ref' -%>
	</div>
</div>
<p style="clear: both;"></p>
<% end -%>

<% end %>
<%= render :partial => 'layout' -%> 