<div style="font-size: smaller; font-weight:bold;">
  <% for o in future.reverse! -%>
  <div style="margin-left: <%= o[:depth].to_i * 5 %>px;">
    <%= link_to(truncate(o[:cpl].couplet_text, :length => 38), :action => act, :id => o[:cpl].parent_id) -%>
   <% if !o[:cpl].link_out_text.blank? && !o[:cpl].link_out.blank? -%>
     <span style="display:inline;"> <%= "... " + link_to(htmlize(o[:cpl].link_out_text), "http://#{o[:cpl].link_out}", :popup  => true) -%>  </span>
   <% elsif o[:cpl].otu -%>
    ...
    <%# this is pretty nasty hitting the db, likely optimize down the road -%>
    <% if PublicContent.find_by_otu_id(o[:cpl].otu_id) -%>
      <%= link_to(o[:cpl].otu.display_name, :action => 'show', :controller => 'otus', :controller => 'public_contents', :id => o[:cpl].otu_id) -%>
      <% else -%>
      <%= o[:cpl].otu.display_name -%>
    <% end -%>  
  <% end -%>
   </div>
  <% end -%>
</div>

