
<%= error_messages_for 'association_support' %>

<!--[form:association_support]-->
<%= hidden_field "association_support", "type", :value => @association_support.class %>

<p><%= check_box "association_support", "negative" %>
<label for="association_support_negative">Negative support?</label></p>

<p><label for="association_support_confidence_id">Confidence</label><br/>
<%= select("association_support", "confidence_id", @proj.confidences.collect {|c| [c.name, c.id] }, { :include_blank => true }) %></p>

<p><label for="association_support_setting">Setting</label><br/>
<%= select 'association_support', 'setting', AssociationSupport.settings  %></p>

<% if @association_support.class == RefSupport -%>
  
  <p><label for="ref_name">Reference</label><br/>
  <%= render :partial => "ref/picker", :locals => {
    :object => 'association_support', :method => 'ref_id', :tag_id => "ref_name", 
    :display => (@association_support.ref.display_name if @association_support.ref) } %></p>
  
  <p><label for="association_support_temp_ref">Temporary reference</label><br/>
  <%= text_area 'association_support', 'temp_ref', "cols" => 60, "rows" => 2   %></p>
  
  <% elsif @association_support.class == SpecimenSupport -%>

  <p><label for="association_support_specimen_id">Specimen</label><br/>
    <%= render :partial => "shared/picker", :locals => {
      :controller => 'specimen',
      :object => 'association_support',
      :method => 'specimen_id',
      :tag_id => "association_support_specimen_id_to_find",
      :display => @association_support.specimen.andand.display_name(:type => :for_select_list),
      :size => 80} -%> 
  </p>
  
  <% elsif @association_support.class == VoucherLotSupport -%>

  <p><label for="association_support_voucher_lot_id">Lot</label><br/>
    <%= render :partial => "lot/picker", :locals => {
      :object => 'association_support', :method => 'voucher_lot_id', :tag_id => "lot_to_find", 
      :display => (@association_support.lot.display_name if @association_support.lot) } %>
  </p>

<% end -%>

<p><label for="association_support_notes">Notes</label><br/>
<%= text_area 'association_support', 'notes', "cols" => 60, "rows" => 2   %></p>

<p><label for="association_support_temp_ref_mjy_id">Temporary MJY reference ID</label><br/>
<%= text_field 'association_support', 'temp_ref_mjy_id' %></p>

<!--[eoform:association_support]-->

