<div> 
  <% if @part == 'center' %>
    <p>Alphabetical by family name grouped by order (no order headers). Total families: <%= @families ? @families.size : 0  %>.</p>
    <% if @families %>
      <% for f in @families %>
        <p><h4 style="display: inline;"><%= f.name %></h4>
        <% otus = f.child_otus_in_group(@otu_group.id, @proj.id) %>
        (<%= otus.size %>) </p>
      <br /><br />
      <% for o in otus %>
        <%= link_to(o.name, :action => 'browse_by_otu', :id => o.id) %><br />
      <% end %>
    <% end  %>
  <% else %>
    <i> Choose an OTU group at right </i>
  <% end %>

<% elsif @part == 'right' %>

  <h4>Delimit by</h4>
  <%= form_tag :action => 'browse_otus' do -%>
    <h4>OTU group:</h4>
    <%= render :partial =>"otu_group/picker", :locals => { :c_name => 'otu_group', :f_name => 'id' }  %> <br /> <br />
    <%= submit_tag "show" %>
  <% end -%>
<% end %>
</div>

