<p>
<h3 style="display: inline;">Editing association</h3> (<%= @association.id %>)</p>
<p>
  <%= render :partial => "part", :collection =>  @association.association_parts -%>
  <%= link_to 'x', :action => 'destroy_part', :id => @association %><br />
</p>

<%= error_messages_for 'new_part' %>

<%= form_tag :action => 'update', :id => @association do -%>
  <%= render :partial => "new_part", :locals => { :part => @new_part } %>
  <%= render :partial => "form" %>
  <%= submit_tag "Update" %>
<% end -%>

<%= link_to 'Show', :action => 'show', :id => @association %> |
<%= link_to 'Back', :action => 'list' %>
