<p> The following OTUs were read.  If you do not wish to import the OTU uncheck the checkbox to the right.</p>

 <%= '<p><b>Setting reference to:</b> ' + @ref.display_name + '</p>' if @ref %> 
 <%= '<p><b>Adding these OTUs to group:</b> ' + @otu_group.display_name + '</p>' if @otu_group %> 

<%= form_tag(:action => 'batch_create') do -%>

  <%= hidden_field_tag("otu_group_id", @otu_group.id) if @otu_group -%>
  <%= hidden_field_tag("ref_id",  @ref.id) if @ref %>

  <%= submit_tag("Create") %>
  
  <% i = 0 %>
  <% @otus.each do |o| -%>
    <% i += 1 %>
    <p> 
        <%= text_field("otu", i, :value => o, :rows => o.count("\n") ) %>  
        <%= check_box_tag("check[#{i}]", '1', true ) %>  
        <% if existing = Otu.find(:all, :conditions => ["name = ? and proj_id = ?",o,@proj.id]) -%>
          <span style="color: red;"> existing matches found:</span> <%= existing.collect{|e| link_to(e.display_name, :action => :show, :controller => :otus, :id => e.id)}.join(", ") -%>
        <% end %>
    </p>
  <% end %>

<% end %>

