<% content_for :center do -%>
  <div class="subform">
    <div class="header">Add a lot</div>
    <%= form_tag :action => 'add_lot' do -%>
    <label for="lot_id">Lot</label>&nbsp;
    <%= render :partial => "lot/picker", :locals => {
    :object => 'lot', :method => 'id', :tag_id => "lot_to_find",
    :display => ('') } -%>&nbsp;
    <%= submit_tag "Add" -%>
    <%= hidden_field('lot_group', 'id') -%>
    <% end -%>
  </div>

  <div id='lots'>
    Total: <%= @lots.size -%>
    <ul>
      <% for l in @lots -%>
      <li> <%= link_to(l.display_name, :action => 'show', :controller => 'lot', :id => l) -%>  <%= link_to('x', {:action => 'remove_lot', :controller => 'lot_group', :id => l, :lot_group_id => @lot_group}, :method => "post") -%></li>
      <% end -%>
    </ul>
  </div>
<% end -%>
