<h3><%= otu_and_states.display_name + " " + otu_and_states.id.to_s -%></h3>
<% for s in @mk.remaining_states_by_otu(otu_and_states.id.to_i) -%>
  <div style="margin: .1em 0em; padding: .2em; clear: both;">
    
    <div id="figs_for_state_<%=s.id%>" style="padding: .2em; float: right; display: inline; font-size: smaller;">
      <%= link_to_remote('figure(s)', :url => { :action => '_popup_figs_for_state', :id => s.id}) -%> 
    </div> 
    <span class="no_decision" style="padding: 0em .3em;"><%= s.chr.display_name -%>:</span>    
      <%= link_to(s.display_name, :action => 'add_state', :id => s)  -%>
  </div>
<% end -%>
