<% content_for :center do -%>
 <div class="show_row"><span class="show_lbl">Title:</span><span class="show_data"><%= @ref.title -%> </span></div>
  <div class="show_row"><span class="show_lbl">Authors:</span><span class="show_data"><%= @ref.authors_for_display -%> </span></div>
  <div class="show_row"><span class="show_lbl">Year:</span><span class="show_data"><%= @ref.year -%> </span></div>
  <div class="show_row"><span class="show_lbl">Year letter:</span><span class="show_data"><%= @ref.year_letter -%> </span></div>
  <div class="show_row"><span class="show_lbl">Volume:</span><span class="show_data"><%= @ref.volume -%> </span></div>
  <div class="show_row"><span class="show_lbl">Issue:</span><span class="show_data"><%= @ref.issue -%> </span></div>
  <div class="show_row"><span class="show_lbl">Page start:</span><span class="show_data"><%= @ref.pg_start -%> </span></div>
  <div class="show_row"><span class="show_lbl">Page end:</span><span class="show_data"><%= @ref.pg_end -%> </span></div>
  <div class="show_row"><span class="show_lbl">Pages:</span><span class="show_data"><%= @ref.pages -%> </span></div>
  <div class="show_row"><span class="show_lbl">Type:</span><span class="show_data"><%= @ref.ref_type -%> </span></div>
 
  <div class="show_row"><span class="show_lbl">Serial:</span><span class="show_data"><%= link_to(@ref.serial.display_name, :action => :show, :id => @ref.serial.id, :controller => :serials) if @ref.serial -%></span></div>
  <div class="show_row"><span class="show_lbl">Book title:</span><span class="show_data"><%= @ref.book_title -%> </span></div>


  <div class="show_row"><span class="show_lbl">Valid reference:</span><span class="show_data"><%= @ref.valid_ref.andand.display_name -%></span></div>
  <div class="show_row"><span class="show_lbl">Language:</span><span class="show_data"><%= @ref.language.andand.display_name-%></span></div>
  
  
  <div class="show_row"><span class="show_lbl">City:</span><span class="show_data"><%= @ref.city -%> </span></div>
  <div class="show_row"><span class="show_lbl">Publisher:</span><span class="show_data"><%= @ref.publisher -%> </span></div>
  <div class="show_row"><span class="show_lbl">Institution:</span><span class="show_data"><%= @ref.institution -%> </span></div>

  <div class="show_row"><span class="show_lbl">Is public?:</span><span class="show_data"><%= @ref.is_public -%> </span></div>

   <% if !@ref.pdf.blank? -%> 
   <div class="show_row"><span class="show_lbl">PDF:</span><span class="show_data"><%= link_to('View pdf', @ref.pdf.public_filename) -%></span></div>
   <% end -%>

  <%= render(:partial => '/shared/show/record/notes', :locals => {:obj => @ref}) -%>
  <%= render(:partial => '/shared/show/record/identifiers', :locals => {:obj => @ref}) -%>
  <%= render(:partial => '/shared/show/record/record_details', :locals => {:obj => @ref}) -%>

  <div class="show_category"> Maintainence fields (not user editable) </div>

  <div  style="margin-left:1em;" >
    <div class="show_category"> Non-standard composition </div>
    <div class="show_comment"> If you wish to update this reference based on the data below you must parse out the individual fields using edit. </div>
    <div class="show_row"><span class="show_lbl">Full citation:</span><span class="show_data"><%= @ref.full_citation -%> </span></div>
    <div class="show_row"><span class="show_lbl">Temp citation:</span><span class="show_data"><%= @ref.temp_citation -%> </span></div>
    <div class="show_row"><span class="show_lbl">Short citation:</span><span class="show_data"><%= @ref.short_citation -%> </span></div>
    <div class="show_row"><span class="show_lbl">Author:</span><span class="show_data"><%= @ref.author -%> </span></div>
    <div class="show_row"><span class="show_lbl">Journal:</span><span class="show_data"><%= @ref.journal -%> </span></div>
    <div class="show_row"><span class="show_lbl">Date:</span><span class="show_data"><%= @ref.date -%> </span></div>

    <% if !@ref.external_id.blank? && !@ref.namespace_id.blank? -%>
    <div class="show_category"> External id (cross-reference for import) </div>
    <div class="show_row"><span class="show_lbl">Identifier:</span><span class="show_data"><%= @ref.external_id -%></span></div>
    <div class="show_row"><span class="show_lbl">Namespace:</span><span class="show_data"><%= @ref.namespace.andand.display_name -%></span></div>
    <% end -%>
  </div>

  <% if !@ref.ocr_text.blank? -%>
    <div class="show_category"> OCR Text  </div>
    <div class="show_row"><span class="show_lbl"></span><span class="show_data"><%= @ref.ocr_text -%></span></div>
  <% end %>

<% end -%>

<% content_for :right do -%>

<div class="box4"><div class="header"> Taxa described here </div> 
  <div class="content"> 
    <%= @ref.taxon_names.collect{|t| 
    link_to(h(t.name), :controller => 'taxon_names', :action => 'show', :id => t)
    }.join(", ")%>
  </div>
</div>

<% end %>
