<% @show.collect{|s| render :partial => (s)} -%>

<div id="inner_wrapper">
  <div id="inner_header" style="text-align: center;"></div>

  <div id="inner_container" <%= 'style="padding-right: 0px;"' if @no_right_col %>>

    <%# CENTER COLUMN %> 
    <div id="inner_center" class="column">  
        <%= yield :center -%>
    </div>

    <%# LEFT COLUMN %>
    <div id="inner_left" class="column">
      <%= render :partial =>("navigator") %> 
      <%= yield :left -%>
    </div>

    <%# RIGHT COLUMN %>
    <div id="inner_right" class="column" <%= 'style="width: 0px; margin-right: 0px;"' if @no_right_col %> >
       <%= yield :right -%>
    </div> 
  </div>
   
</div>






