<% geog_types ||= 'all' -%>
<% url = url_for(:controller => 'geog', :action => 'auto_complete_for_geog', :tag_id => tag_id, :geog_types => geog_types, :escape => false) -%>

<input autocomplete="off" title="find and select a geographical name from the database" class="ajaxPicker" id="<%= tag_id %>" name="<%= tag_id %>" style="width: 98%;" type="text" value="<%= display %>" />
<div class="auto_complete" id="<%= tag_id %>_auto_complete"></div>

<script type="text/javascript">
function loadResult<%= method -%>(element,selectedElement){
  $('<%= object %>_<%= method %>').value = selectedElement.id.split('::')[1];
}
    
new Ajax.Autocompleter('<%= tag_id %>', '<%= tag_id %>_auto_complete', '<%= url %>', { afterUpdateElement: loadResult<%= method %> })
</script>

<%= hidden_field object, method  %>
