<%= error_messages_for 'chromatogram' %>

<!--[form:chromatogram]-->

<div class="fr"> <label for="chromatogram_pcr_id" class="lbl4">PCR</label>
  <span class="fld"> <%= render :partial => "shared/picker", :locals => {
    :controller => 'specimen',
    :object => 'chromatogram',
    :method => 'pcr_id',
    :tag_id => "pcr_id_to_find",
    :display => (@chromatogram.pcr ? @chromatogram.pcr.display_name(:type => :selected) : ''),
    :size => 80} -%> </span>
</div>

<div class="fr"> <label for="chromatogram_primer_id" class="lbl4">Primer</label>
  <span class="fld"><%= select("chromatogram", "primer_id", @proj.primers.collect {|o| [ o.display_name, o.id ] }, { :include_blank => true }) -%> </span>
</div>

<div class="fr"> <label for="chromatogram_filename">Chromatogram file</label>
  <% if @target == "create" -%>
      <span class="fld"> <%= file_field('chromatogram', 'uploaded_data', 'title' => 'browse for chromatogram file') -%> </span>
  <% elsif @target == "edit" -%>
      <span class="fld"><%= @chromatogram.filename %><em> You must delete this chromatogram to alter the attached chromatogram. </em></span>
    <% end %>
</div>

<div class="fr"> <label for="chromatogram_done_by" class="lbl4">Done by</label>
  <span class="fld"><%= text_field "chromatogram", "done_by", 'title' => 'person who submitted this for sequencing' %></span>
</div>

<div class="fr"> <label for="chromatogram_result" class="lbl4">Result</label>
  <span class="fld"><%= select("chromatogram", "result", ["succeeded", "failed", "reamplify/merge", "reamplify/redo"] , { :include_blank => true }) %></span>
</div>

<div class="fr"> <label for="chromatogram_read" class="lbl4">Sequence / Read</label>
  <span class="fld"><%= text_area 'chromatogram', 'seq', :cols => 50, :rows => 6, 'title' => 'raw sequence from chromatogram'   %></span>
</div>

<div class="fr"> <label for="chromatogram_notes" class="lbl4">Notes</label>
  <span class="fld"><%= text_area 'chromatogram', 'notes', :cols => 50, :rows => 6, 'title' => 'notes on chromatogram'   %></span>
</div>

<div class="fr"><label><h4>Attached to these seqs:</h4></label></div>

<% if params[:commit] != "Create"  %>
  <% if @seqs.size == 0 %>
    <i> none </i><br /><br />
  <% else %>
    <% @seqs.each do |seq| %>
      <p><%= seq.display_name %> <%= link_to 'Show', :controller => "seq", :action => 'show', :id => seq %></p> 
  <% end %>
<% end %>

<% end %>

<% if @target == "create" || @target == "edit" -%>
  <div class="fr"> <label for="seqs_chromatograms" class="lbl4">Attach to sequence</label>
    <span class="fld"><%= render :partial => "shared/picker", :locals => {
    :controller => 'seq',
    :object => 'seq',
    :method => 'seq_id',
    :tag_id => "seq_id_to_find",
    :size => 80} -%></span>
  </div>
<% end -%>

<!--[eoform:chromatogram]-->
