<h3>Visible taxon names for this project</h3>

<p> <i> Names can be added and removed according to which names you want to see in your list.  Removing a name does not delete it, it just hides it.  All children of name are included. Names that are public are variously visible in public functions. </i> </p>

<%= form_tag :action => 'visibility' do %>
  <table>
    <tr><td></td><td>public</td><td>remove</td></tr>

    <% for name_in in @names_in %>
      <% url = url_for :action => 'toggle_public', :id => name_in %>
      <tr>
        <td><%= name_in.taxon_name.display_name %></td>
        <td><%= check_box_tag "toggle_public", name_in.id, name_in.is_public?, {:id => name_in.id, :onclick => "document.location.href='#{url}'"} %></td>
        <td><%= check_box_tag "name_to_remove", name_in.id, false, {:id => name_in.id, :onclick => "submit(this.form)"} %></td>
      </tr>
    <% end %> 
  </table>

  <div class="subform">
    <div class="header">Add a name</div>
    <div class="content">
      <div class="fr"> <label for="taxon_name_id" class="lbl4">Name</label>
        <span class="fld"><%= render :partial => 'shared/picker', :locals => {
          :controller => 'taxon_name',
          :object => 'name_to_add',
          :method => 'id',
          :use_proj => 'false',
          :tag_id => "add_name",
          :name_group => 'all',
          :display => "",
          :size => 80} -%> </span>
      </div>


      <%= submit_tag "Add" %>
    
    </div>
    <br style="clear: both;" />
    </div>
  </div>

<% end -%>
