<h3> Personal preferences for <%= @person.login -%> </h3>
<%= form_for :person, :url => preferences_path, :method => :post do |f| -%>
  <div class="fr"><label class="lbl4">Default matrix window width </label><span class="fld"><%= f.text_field :pref_mx_display_width, :size => 3 %></span></div>
  <div class="fr"><label class="lbl4">Default matrix window height </label><span class="fld"><%= f.text_field :pref_mx_display_height, :size => 3 %></span></div>
  <div class="fr"><label class="lbl4">Receive reference update emails?</label><span class="fld"><%= f.check_box :pref_receive_reference_update_emails %></span></div>

  <span style="margin-left: 20%"><%= submit_tag %></span>

  <div class="fr">
    <span class="fld">
      <a href="<%=account_change_email_path %>"> Change Email </a>
    </span>
  </div>
  <div class="fr">
    <span class="fld">
      <a href="<%=account_change_password_path %>"> Change Password </a>
    </span>
  </div>
<% end -%>
