<% if flash[:notice] -%><div class="notice"><%= flash[:notice] -%></div><% end -%>

<%= render(:partial => 'image_description/list') -%>

<div style="background-color:#ddf; padding:0.5em;">
   <div class="show_category"> Add a description </div>
  <% form_remote_tag  :url => {:action => :create, :controller => :image_description}, :loading => "Element.show('add_description')", :complete => "Element.hide('add_description')", :update => 'image_description_list' do -%>
    <%= hidden_field(:image, :id) -%>

    <%= submit_tag "Add", :style => "margin-left: 26%;" -%>
    <%= render(:partial => 'image_description/form') -%>
    <%= submit_tag "Add", :style => "margin-left: 26%;margin-top:0.5em;" -%>
  <% end -%>
</div> 
