<div class="box1" style="width: auto;">
  <% if @public == false %> <span class="small_grey"> <%= link_to('edit description', :action => 'edit', :controller => 'image_description', :id => @image_description.id) -%></span> <% end %>
  <div>
    <div>
      <span class="lbl1">otu</span><%= @image_description.otu ? link_to(@image_description.otu.display_name(:type => :multi_name), :action => 'show_images', :controller => 'otu', :id => @image_description.otu) : 'tied to specimen' -%></div>
      <% if @image_description.specimen %>
        <div><span class="lbl1">specimen</span><%= link_to(@image_description.specimen.display_name(:type => :identifiers), :action => 'show', :controller => 'specimen', :id => @image_description.specimen)  -%></div>
        <% if @image_description.specimen.ce and @image_description.specimen.ce.geog %>
          <div><span class="lbl1">country</span> <%=@image_description.specimen.ce.geog.country.name %></div>
        <% end %> 
      <% end %>
    </div>
    <span class="small_grey">  <%= link_to("hide", :remote => true, :update =>  "more_#{@image_description.id}",  :url => { :action => 'less', :controller => 'image_description'}) -%> </span>
 </div>
