<% if @image_description_pages %>
  <div class="list_pagination"><span class="lbl1" style="color: #bbb;">view page: </span> <%= pagination_links_with_ajax(@image_description_pages, { :element_name => 'search_results', :action => 'add_list', :proj_to_search => proj_to_search}) -%></div>
<% end %>

<div class="notice"><%= flash[:notice] -%></div>

<% for id in @ids %>

  <div class="box4">
    <table>
      <tr>
        <td> <!-- image -->
          <%= render(:partial => 'image_description/cid', :locals => {:cid => id}) %>
        </td>

        <td> <!-- form -->

          <% if @existing_images.include?(id.image_id) %>
            <div class="box1" style="margin-top: 1em;"> <i> Your project already includes this image.</i></div>        
           <% else %>

            <div id="<%= id.id %>_form_to_update">
              <% form_remote_tag :update => "#{id.id}_form_to_update", :url => { :action => 'add_list'}, :html => {:id => 'myform'} do  %>
                <%= hidden_field(:image, :id, :value => id.image_id  ) %>
                <%= hidden_field(:proj_to_search_a, :id, :value => proj_to_search  ) -%>

                <table>
                  <tr>
                    <td colspan='2'>Add this image to your project with these data (OTU is required):</td></tr>
                  <tr>
                    <td>OTU:</td> <td> <%= render :partial => 'shared/picker', :locals => {
                        :controller => 'otu',
                        :object => 'otu',
                        :method => 'id',
                        :tag_id => "#{id.id}_otu_to_find",
                        :display => "",
                        :size => 50} -%> </td>
                  </tr>
                  <tr>
                    <td>Part: </td> <td> <%= render :partial => 'shared/picker', :locals => {
                        :controller => 'part',
                        :object => 'part',
                        :method => 'id',
                        :tag_id => "#{id.id}_part_to_find",
                        :display => "",
                        :size => 15} -%> </td>
                  </tr>
                  <tr>
                    <td>View:</td><td> <%= render :partial =>"image_view/picker", :locals => {:c_name=> 'image_description', :f_name => 'image_view_id'}  -%></td>
                  </tr>
                </table>
                <%= submit_tag('add', :name => 'add') -%>
              <% end %><!-- end form tag -->
            </div>

          <% end %>

        </td>
      </tr>
    </table>
  </div>

<% end %>
