<div id = "search_form" style="float: left;">
  <div class="search_bar">    
    <% form_remote_tag(:update => 'results', :url => {:action => 'search_list', :controller => 'figure', :fig_obj_class => fig_obj_class, :fig_obj_id => fig_obj_id },
      :complete => "Element.hide('fig_popup_search_spinner')", :loading => "Element.show('fig_popup_search_spinner')",
      :html => {:id => 'image_search_form'}) do -%>

      <table id="search_table">
        <tr>
          <td>Specimen<br/>
            <%= render :partial => 'shared/picker', :locals => {
              :controller => 'specimen',
              :object => 'id',
              :method => 'specimen_id',
              :tag_id => "specimen_for_img_search",
              :display => "",
              :size => 40} -%>
          </td>


          <td>OTU<br/>
            <%= render :partial => 'shared/picker', :locals => {
              :controller => 'otu',
              :object => 'id',
              :method => 'otu_id',
              :tag_id => "otu_for_img_search",
              :display => "",
              :size => 40} -%>
          </td>

        </tr>
        <tr>

          <td>Part / Label<br/><%= render :partial => 'shared/picker', :locals => {
              :controller => 'label',
              :object => 'id',
              :method => 'label_id',
              :use_proj => true,
              :tag_id => "label_id_for_fig_popup"} -%></td>

          <td>View<br/><%= render(:partial => "image_view/picker", :locals => {:c_name=> 'id', :f_name => 'image_view_id'} ) -%></td>

        </tr>

        <tr>
          <td> Image Id <br /> <%= text_field :id, :image_id %></td>
        </tr>

        <tr>
          <td><br /><%= submit_tag "Search" %> <%= image_tag('/images/spinner.gif', :alt => 'Loading', :id => 'fig_popup_search_spinner', :style => "display: none; vertical-align:middle;"  ) %>  </td>
          <td> </td>

        </tr>
      </table>
    <% end -%>
  </div>
  <hr style="width: 33%; color: silver;" />
  <div id="results"></div>
</div>
