<div style="padding:0.5em;">

  <div style="padding:1em; margin:0.5em;border-right:1px dotted silver;float:left; " >
    <%= image_with_svg_tag(@image) -%>
  </div>

  <div style="padding:0.5em; margin:0.5em; float:left; width: 400;">
  <%= link_to('previous', :action => :browse_figure_markers, :id => @previous) if @previous -%>&nbsp;|&nbsp;<%= link_to('next', :action => :browse_figure_markers, :id => @next ) if @next -%>

    <div class="show_rec"> 
      <div class="show_category"> Image metadata </div>
      <div class="show_row"><span class="show_lbl">Image ID:</span><span class="show_data"> <%= @image.id -%> </span></div>
      <% @image.image_descriptions.with_proj_id(@proj.id).each do |desc| -%>
        <div style="border-bottom: 1px dotted silver;"> <%= render(:partial => '/image_description/brief_no_image', :locals => {:image_description => desc}) -%> </div>
      <% end -%>
    </div>

    <div class="show_rec"> 
      <div class="show_category">Figure markers</div>

      <% @image.figure_markers.each_with_index do |fm,i| -%>
        <div style="padding:0.2em;">
          <% o = fm.figure.figured_obj -%>
          <% if o.class.to_s == 'OntologyClass' -%>
            <%=  o.display_name(:type => :label_first) -%>
          <% else %> 
            <%= o.display_name -%>
          <% end -%> 
          <%= link_to_function("toggle visibility", "toggleFigureMarkerVisibility('img_svg_root_#{@image.id}', 'marker_#{fm.id}')") -%>   <br />
        </div>

     <% end -%>

    </div>
  </div>

  <br style="clear:both;" />

</div>



<%= render_svged_figures -%>

