<!-- content is a ContentTemplate.content_by_otu result -->
<% if content.size > 0 -%>
<div class="box4">
  <% @content_template.content_types.each do |ct| -%>
  <% if content[ct] -%>
    <% if ct.class == TextContent -%>

      <div class="header"><%= ct.display_name -%>
        <% if ct.can_markup && !content[ct].is_image_box -%>
        <div class="small_grey" style="float:right;"> <%= image_tag('/images/spinner.gif', :alt => 'Loading', :id => "markup_ct_#{ct.id}", :style => "display: none; vertical-align:middle;" ) -%>
          <%= link_to_remote("markup", :loading => "Element.show('markup_ct_#{ct.id}')", :complete => "Element.hide('markup_ct_#{ct.id}')", :postion => :top, :url => {:controller => 'public/public_content', :action => '_markup_description', :id => content[ct]}) -%>
        </div> 
        <% end -%>
      </div>

      <div>
      <div class="content" id="content_<%= content[ct].id -%>" >
        <%= render_content(
        :text => content[ct].text,
        :public => @public,
        :content_template_id => @content_template.id ) if !content[ct].is_image_box
        -%>
      </div>
     <%= render_figs_for_obj(content[ct], 'thumb') -%>
    </div>

    <% else %>
      <%= render(:partial => (@public ? ct.public_partial : ct.partial)) -%> <!-- all these partials require only @otu -->
    <% end -%>
    
    <% end %>
  <% end %>
</div>

<% else -%>
<em>No content for the content types in this template exists yet.</em>
<% end -%>
