Template: <strong><%= @con_template.name -%></strong> <%= link_to '(rename)', :action => 'edit', :id => @con_template.id -%>

<div class="box4">
  <div class="header"> Included content types  </div>

  <% if @con_template.content_types.size == 0 -%>
    <i> None. </i>
  <% else -%>
    <div>
      <p><i> Drag to sort, uncheck to remove.</i>  <%= image_tag('/images/spinner.gif', :alt => 'Updating', :id => 'move_spinner', :style => "display: none; vertical-align:middle;"  ) -%> </p>
      <ul id="content_types">
        <% @content_types.each do |con_type| -%>
          <% content_tag_for :li, con_type do -%>
            <span class="handle">[drag]</span>
            <% my_url = url_for(:controller => 'content_template', :action => 'add_remove_type', :id => @con_template.id) + "?content_type_id=#{con_type.content_type.id}&amp;out=true" -%>
            <input type="checkbox" name="content_type[<%= con_type.id %>]" value="0" checked="checked"
                   onclick="document.location.href='<%= my_url %>'"/>
                   <%= link_to(con_type.content_type.display_name, :action => :show, :id => con_type.content_type.id, :controller => :content_type) -%> 
                 <% end -%>
               <% end -%>
      </ul>
    </div>
    <%= sortable_element("content_types", :url => {:action => 'sort_content_types'}, :handle => 'handle',  :loading => "Element.show('move_spinner')", :complete => "Element.hide('move_spinner')" ) -%>

  <% end %>
</div>

<div class="box4">
  <div class="header"> Available text content types </div>
  <% @available_content_types.each do |con_type| -%>
    <%- my_url = url_for(:controller => 'content_template', :action => 'add_remove_type', :id => @con_template.id) + "?content_type_id=#{con_type.id}" %>
    <input type="checkbox" name="content_type[<%= con_type.id %>]" value="0"
           onclick="document.location.href='<%= my_url %>'"/> <%= con_type.name %><br />
         <% end %>
</div>

<div class="box4">
  <div class="header"> Available built in content types </div>

  <% if @available_built_in_content_types.size > 0 -%>
    <table>
      <% @available_built_in_content_types.each do |con_type| -%>
        <tr>
          <td><% my_url = url_for(:controller => 'content_template', :action => 'add_remove_type', :id => @con_template.id) + "?mx_content_type=#{con_type.name}" %>
            <input type="checkbox" name="mx_content_type[<%= "#{con_type.name}" -%>]" value="0"
                   onclick="document.location.href='<%= my_url %>'"/>
            <%= con_type.display_name -%></td>
          <td style="font-size: smaller;"><%= con_type.description  -%> </td>
        </tr>
      <% end %>

    </table>
  <% else %>
    <i> All custom types are presently included in the template. </i>
  <% end %>

</div>



