<% fields_for "ref[author_attributes][]", author do |author_form| -%>
  <%= content_tag_for :li, author  do -%>
    <%= error_messages_for 'author' %>
    <%= author_form.hidden_field('id', :index => nil) if !author.new_record?  %>
    <%= author_form.hidden_field('position', :index => nil) if !author.new_record?  %>

    <span class="handle"> <%= !author.new_record? ? '[drag]' : 'needs save!' -%>
      <table style="display:inline; position: relative; top: 5px;">
        <tr>
          <td><%= author_form.text_field :last_name, :index => nil -%></td>
          <td><%= author_form.text_field :first_name, :index => nil -%></td>
          <td><%= author_form.text_field :initials, :index => nil, "size" => 8  %></td>
          <td><%= author_form.select :auth_is, ['author', 'editor'],{} , :index => nil -%></td>
          <td><%= link_to("X", :remote => true, :url => {:action => "_destroy_author", :author_id => author.id }) if !author.new_record? %></td>
        </tr>
      </table>
    </span>
  <% end %>
<% end -%>

