<h3> Result (<%= operation -%>) </h3>

<table>
  <tr><td><b>These serials are unmatched and will auto create on save</b><td><td><%= results.unmatched_serials.size -%></td><td><ol><%=  results.unmatched_serials.collect{|s| content_tag :li, s.name}.join %></ol></td></tr>	
  <tr><td><b>Refs in database (matched on verbatim title)</b><td><td><%= results.matched_rephs.size -%></td><td><ol><%= results.matched_rephs.collect{|r| content_tag :li, r.ref.display_name}.join %></ol></td></tr>	
  <tr><td><b>Refs not in database to be created on save</b><td><td><%= results.unmatched_rephs.size -%></td><td><ol><%= results.unmatched_rephs.collect{|r| content_tag :li, r.ref.display_name(:type => :new_record)}.join %></ol></td></tr>	
</table>

<h3> File </h3>
<%= debug(endnote_file) -%>
