<%= error_messages_for 'ref' %>
  
<% if @ref.pdf.blank? -%>
  <p>
    <label for="pdf">Attach a pdf:</label>
    <%= file_field 'pdf', 'uploaded_data', :size => 70 -%>
  </p>  
<% end -%>

<!--[form:ref]-->

<div class="subform">

<% if (@target == 'update') || (@target == 'edit') -%>
  <div class="header">Edit Author(s)</div>
<% else -%>
  <div class="header">Authors / Editors </div>
<% end -%>
<%= error_messages_for 'author' -%>
  <%= link_to_function 'add author / editor' do |page|
    page.insert_html :bottom, :authors, :partial => 'author', :object => Author.new 
  end %>
 <%= spinner_tag('move_spinner') -%>

<table style="margin-left: 10em;">
    <tr>
        <th style="width: 20em;"><label for="author_last_name">Last name</label></th>
        <th style="width: 15em;"><label for="author_first_name">First name</label></th>
        <th style="width: 8em;"><label for="author_initials">Initials</label></th>
        <th><label for="author_is">Is</label></th><th>&nbsp;</th>
    </tr>
</table>

  <ul id="authors">
    <%= render(:partial => "author", :collection => @ref.authors) %>
  </ul>

  <%= sortable_element("authors", :url => {:action => 'sort_authors'}, :handle => 'handle',  :loading => "Element.show('move_spinner')", :complete => "Element.hide('move_spinner')" )-%>
</div>

<table>
  <tr>
    <td><label for="ref_year">Year</label><br /><%= text_field 'ref', 'year', 'title' => 'year published', :size => 4   -%></td>
    <td><label for="ref_year_letter">Year letter</label><br /><%= text_field 'ref', 'year_letter', 'title' => 'letter (if more than one publication by this author in this year)', :size => 4 %></td>
    <td><label for="ref_export">Public?</label><br /><%= check_box 'ref', 'is_public', 'title' => 'check to make reference public' -%></td>
  </tr>
</table>

<p><label for="ref_title">Title / Book Name / Chapter Heading (<i>only when citing a chapter or book section</i>)</label><br />
<%= text_field 'ref', 'title', 'title' => 'reference title', :size => 100  -%></p>

<p><label for="ref_serial_id">Serial</label><br />
<%= render :partial => "shared/picker", :locals => {
    :controller => 'serial',
		:object => 'ref',
		:method => 'serial_id',
    :tag_id => "ref_serial_id_for_ref_form",
    :display =>  (@ref.serial.name if @ref.serial) } -%>
</p>

<table>
  <tr>
    <td><label for="ref_volume">Volume</label><br /><%= f.text_field :volume, 'title' => 'reference volume', :size => 4 -%></td>
    <td><label for="ref_issue">Number/Issue</label><br /><%= f.text_field :issue, 'title' => 'reference issue', :size => 4 -%></td>
    <td><label for="ref_pg_start">Pg start</label><br /><%= f.text_field :pg_start, 'title' => 'page start', :size => 12 -%></td>
    <td><label for="ref_end">Pg end</label><br /><%= f.text_field :pg_end, 'title' => 'page end' , :size => 12 -%></td>
    <td><label for="ref_pages">Pages</label><br /><%= f.text_field :pages, 'title' => 'other pages', :size => 12 -%></td>
  </tr>
</table>

<p>Reference type: <%= f.select 'ref_type', Ref.valid_reference_types, { :include_blank => true }  -%></p>
	
<p><label for="ref_language_id">Language</label>
<%= render :partial => "shared/picker", :locals => {
    :controller => 'language',
		:object => 'ref',
		:size => 50,
		:method => 'language_id',
    :tag_id => "ref_language_id",
    :display =>  (@ref.language.display_name if @ref.language) } -%> 
</p>

<div class="subform">
<p><label for="ref_title">Book Title (<i>use only when the Reference type = 'Book Section', otherwise enter the book title in Title</i>)</label><br />
<%= f.text_field 'book_title', 'title' => 'book title', :size => 100  -%></p>

<table>
  <tr>
    <td>
      <label for="ref_publisher">Publisher</label><br/>
      <%= f.text_field 'publisher', 'title' => 'publisher', :size => 27 -%>
    </td>
    <td>
      <label for="ref_city">City</label><br/>
      <%= f.text_field 'city', 'title' => 'city of publication', :size => 27 -%>
    </td>
    <td>
      <label for="ref_institution">Institution</label><br/>
      <%= f.text_field 'institution', 'title' => 'e.g., if dissertation', :size => 39 -%>
    </td>
    
    <td>
      </td>    
  </tr>
</table>

</div>

<table>
  <tr>
    <td colspan="2">
      <label for="ref_notes">Notes</label><br/>
      <%= f.text_area 'notes', 'title' => 'notes about this reference', :rows => 2, :cols => 100 -%>
    </td>
  </tr>

  <tr>
    <td colspan="2">
      <label for="ref_notes">OCR text</label><br/>
      <%= f.text_area 'ocr_text', 'title' => 'The OCRed text for this record', :rows => 2, :cols => 100, :style => 'overflow: auto;' -%>
    </td>
  </tr>

</table>

<div class="subform">

<p><label for="ref_full_citation">Full citation (if you're too lazy) TO BE DEPRECATED </label><br/>
<%= f.text_area 'full_citation', 'title' => 'full citation', :rows => 2, :cols => 99 -%></p>

</div>
<!--[eoform:ref]-->
