<div class='navigator'>  
  <%= navigator2(:obj => @ref, :do => session['ref_view']) %>
  
  <div class="category">Reports</div>
  <div class="item"> <%= session['ref_view'] == 'show_tags' ? '<span class="navigator_current">tags</span>' : link_to('tags', :action => 'show_tags', :id => @ref.id)  %> </div>
	<div class="item"><%= session['ref_view'] == 'show_associations' ? '<span class="navigator_current">associations</span>' :  link_to('associations', :action => 'show_associations', :id => @ref.id)  %></div>
  <div class="item"><%= session['ref_view'] == 'show_distributions' ? '<span class="navigator_current">distributions</span>' :  link_to('distributions', :action => 'show_distributions', :id => @ref.id)  %></div>

  <div class="category">Ontology</div>
	<div class="item"><%= session['ref_view'] == 'show_sensus' ? '<span class="navigator_current">sensus</span>' : link_to('sensus', :action => 'show_sensus', :id => @ref.id)  %></div>

  <div class="category">Functions</div>
	<div class="item"><%= link_to "replace (merge)", :action => :replace, :id => @ref %></div>
  
  <div class="category">OCR</div>
  <div class="item"><%= link_to "OCR text", :action => :ocr_text, :id => @ref %></div>
	<% if !@ref.ocr_text.blank? -%>
		<div class="item">  <%= link_to('proof OCR text', :action => :proofer, :controller => :ontology, :ref_id => @ref.id) if !@ref.ocr_text.blank? -%>  </div>
	<% end -%>
</div>
