<div class="subform">
  <div class="header"> Replace/merge references </div>
  <div class="content"> <p><em> This form merges equivalent references. If the reference occurs in another project you'll need to be a member of that project to use this functionality.</em></p>
<p>Replace this reference:</p>
<div style="padding: 2px;" class="failed"><%= @ref.display_name %> (ID: <%= @ref.id %>) </div>
<p>with this reference:</p>
<%= form_tag :action => 'replace', :id => @ref do -%>

<p>
<%= render :partial => 'shared/picker', :locals => {
    :controller => 'ref',
		:object => 'replacement_ref',
		:method => 'id',
    :tag_id => "ref_to_find_for_replacement",
    :size => 60 } -%>
</p>

<strong>OR</strong> this ref ID (if from another project) <%= text_field_tag('ref_from_another_proj') -%>

  <%= submit_tag 'replace' %>
  <% end -%>
</div>
</div>
