<div class="subform">
  <div class="header">Show sequences for:</div>
  
  <!--[form:seq_view_controls]-->
  <%= form_remote_tag :action => 'view_query' do -%>

    <em> Selections are merged in report, i.e. you can choose both a group and an OTU and the unique set is returned. </em>

    <div class="fr"> <label for="otu_group" class="lbl4">OTU group</label>
      <span class="fld"><%= render :partial => "otu_group/picker", :locals => {:c_name => 'view', :f_name => 'otu_group_id'} -%></span>
    </div>

    <div class="fr"> <label for="otu" class="lbl4">OTU</label>
      <span class="fld"> 
      <%= render :partial => 'shared/picker', :locals => {
        :controller => 'otu',
        :object => 'view',
        :method => 'otu_id',
        :tag_id => "otu_to_find_for_seq_views",
        :display => "",
        :size => 40} -%></span>
    </div>

    <div class="fr"> <label for="otus_with_seqs_only" class="lbl4">OTUs with sequences only?</label>
      <span class="fld"> <%= check_box('view', 'data_only') -%><i>OTUs without data are not included in the file</i></span>
    </div>

    <div style="margin:1em; padding: 1em;clear: both;border-bottom: 1px dotted silver"></div>

    <div class="fr"> <label for="gene_group" class="lbl4">gene group</label>
      <span class="fld"> 
      <%= render :partial => 'shared/picker', :locals => {
        :controller => 'gene_group',
        :object => 'view',
        :method => 'gene_group_id',
        :tag_id => "gene_group_to_find",
        :display => "",
        :size => 40} -%></span>
    </div>


    <div class="fr"> <label for="gene" class="lbl4">gene</label>
      <span class="fld"> 
      <%= render :partial => 'shared/picker', :locals => {
        :controller => 'gene',
        :object => 'view',
        :method => 'gene_id',
        :tag_id => "gene_to_find_for_seq_report",
        :display => "",
        :size => 40} -%></span>
    </div>

    <div style="margin:1em; padding: 1em;clear: both;border-bottom: 1px dotted silver"></div>

    <div class="fr"> <label for="report" class="lbl4">Report  </label>
      <span class="fld"><%= select_tag(:report_type, options_for_select(Seq::SEQUENCE_REPORT_TYPES) ) -%></span>
    </div>

  <%= submit_to_remote "to_screen_btn", "to screen", :url => {:action => :summarize, :controller => :seq}, :loading => "Element.show('seq_summarize')", :complete => "Element.hide('seq_summarize')" -%>
  <%= submit_tag "to file" -%>

  <%= spinner_tag('seq_summarize') -%>
 
<% end -%>

</div>
<!--[eoform:seq_view_controls]-->
