<h3>New sequence(s)</h3>
<%= error_messages_for 'seq' %>

<div class="subform">
 <div class="header">For an individual specimen:</div>
 
  <%= form_tag :action => 'create' do -%>
    <%= render :partial => "form" %>
    <%= submit_tag "Create single" %>
    <br style="clear:both;"/>
  <% end -%>
</div>

<p><em> The form below can alternatively used to outline your project.  </em> </p>

<div class="subform">
  <div class="header">Stub sequences for multiple specimens</div>
    <%= form_tag :action => 'create_multiple' do -%>

      <div class="fr"> <label for="group" class="lbl4">OTU Group</label>
        <span class="fld">   <%= render :partial => 'shared/picker', :locals => {
              :controller => 'otu_group',
              :object => 'multi_seq',
              :method => 'otu_group_id',
              :tag_id => "otu_group_name_for_multiseq",
              :display =>'' ,
              :size => 40} -%></span>
      </div>

      <div class="fr"> <label for="gene" class="lbl4">Gene</label>
        <span class="fld"> <%= render :partial => 'shared/picker', :locals => {
                    :controller => 'gene',
                    :object => 'multi_seq',
                    :method => 'gene_id',
                    :tag_id => "gene_to_find",
                    :display => "",
                    :size => 40 } -%> </span>
      </div>

  <%= submit_tag "Create multiple" %>
<% end -%>
</div>

