<div id='fast_coding_center_content'>
  <div id="fast_coding_form" >
    <div><!-- outer containter -->
      <table><!-- chr nav -->
        <tr>
          <td colspan="2" style="padding-left: 15px; background-color: <%= @mode =='row' ? 'rgb(243,243,243)' : 'none' -%>;">
            <% @chrs.each_with_index do |c, i| -%>
              <% coded = Coding.by_chr(c).by_otu(@otu).count  -%>
              <a class="quicknavbox" style="background-color:<%= (c == @chr ? "red" : (coded > 0 ? "green" : "white")) -%>;" title="<%= html_escape(c.display_name) -%>" href="/projects/<%= @proj.id -%>/mxes/<%= @mx.id -%>/fast_code/<%= @mode -%>/<%= @mode == 'row' ? i : @present_position -%>/<%= @otu.id -%>/<%= c.id -%>" id="chr_<%= c.id -%>"></a>
            <% end -%>
          </td>
        </tr>
      </table>

      <table>
        <tr>
          <!-- otu nav -->
          <td style="width: 10px; background-color: <%= @mode =='col' ? 'rgb(243,243,243)' : 'none' -%>;">
            <% @otus.each_with_index do |o, i| -%>
              <% coded = Coding.by_chr(@chr).by_otu(o).count  -%>
              <a  class="quicknavbox" style="background-color:<%= (o == @otu ? "red" : (coded > 0 ? "green" : "white")) -%>;" title="<%= html_escape(o.display_name) -%>" href="/projects/<%= @proj.id -%>/mxes/<%= @mx.id -%>/fast_code/<%= @mode -%>/<%= @mode == 'col' ? i : @present_position -%>/<%= o.id -%>/<%= @chr.id -%>" id="otu_<%= o.id -%>"></a>
            <% end -%>
          </td>

          <td style="width: 430px; margin: 0 10px;">
            <div style='margin: 0 5px;'>
              <div class='t-r'><b>Coding (by <%= @mode == 'col' ? 'character' : 'OTU' %>)</b></div>
              <%=@otu.display_name %> (matrix name: <%= @otu.display_name(:type => :matrix_name) -%>)&nbsp;
              <span class="small_grey">
                id: <%= link_to(@otu.id, :action => 'show', :controller => 'otus', :id => @otu) %>
              </span>
              <br/>
              <em class='small_grey'>for</em>
              <br/>
              <%= @chr.name %>
              <span class="small_grey">
                id: <%= link_to(@chr.id, {:action => 'show', :controller => 'chrs', :id => @chr}, :target => '_blank') -%>
              </span>
            </div>
            <%= form_tag(:url => {:action => 'fast_code', :controller => :mxes, :id => @mx, :otu_id => @otu, :position => @present_position}, :html => {:id => 'one_click_form', :name => "myform", "data-ajaxify"=>"submit", :style => "width: 400px;"} ) do -%>
              <%= hidden_field_tag('mode', @mode) -%>
              <%= hidden_field_tag('chr_id', @chr.id) -%>

              <div class="subform" style="width: 404px;">
                <table class='table-form'>
                  <tr class='t-c plain'>
                    <td colspan=2 class='t-c'>
                      <%= link_to("<< previous", {:action => 'fast_code', :id => @mx, :mode => @mode, :otu_id => @last_otu, :chr_id => @last_chr, :position => @previous_position - 1}, class: 'spaced-link') if @previous_position != 0 -%>
                      <%= link_to("skip >>",     {:action => 'fast_code', :id => @mx, :mode => @mode, :otu_id => @otu.id, :chr_id => @chr.id,     :position => @present_position + 1}, class: 'spaced-link') -%>
                    </td>
                  </tr>
                  <tr><td colspan=2><hr/></td></tr>
                  <% if @chr.continuous? && !@chr.is_continuous -%>
                    <tr>
                      <td> &nbsp; </td>
                      <td> From Specimens TODO </td>
                    </tr>
                  <% else %>
                    <!-- can have confidence/tags -->
                    <!-- confidence levels -->
                    <% if @confidences.size > 0 -%>
                      <tr>
                        <td>
                          Confidence
                        </td>
                        <td>
                          <%= select("coding", "confidence_id", @confidences.collect{|p| [ p.name, p.id ] }, { :include_blank => true }, {:style =>"font-size: smaller; width: 200px; color:red;"}) -%>
                          <% # TODO: style the confidence chosen with the confidence colors (if we can't be that fine-grained on a select we need to use another solution), make the select a little more prominent.  Confidence levels are sticky. %>
                        </td>
                      </tr>
                    <% end %>
                    <tr>
                      <td> Ref/source: </td>
                      <td>
                        <%= render :partial => 'shared/picker', :locals => {
                              :controller => 'refs',
                              :object => 'codings',
                              :method => 'ref_id',
                              :tag_id => "ref_id_to_find_for_codings",
                              :display => (), # TODO
                              :size => 40 } -%>
                        <br/>
                        TODO: values sticky/displayed
                        </td>
                      </tr>
                    <tr><td colspan=2><hr/></td></tr>
                    <% if @chr.is_continuous -%>
                      <%= render(:partial => 'fc_continuous') %>
                    <% else -%>
                      <tr>
                        <td class='plain' colspan='2'>
                          <span class='small_grey'> Click to code (&#10008; to remove, &#10004; to add)</span>
                        </td>
                      </tr>
                      <%= render(:partial => 'fc_multistate') %>
                    <% end -%>
                    <tr><td colspan=2><hr/></td></tr>
                  <% end -%> <!-- end taggable/confidenceable cells -->
                  <tr><td colspan=2><hr/></td></tr>
                  <tr>
                    <td class='t-l'>
                      <input type='submit' name="nuke" value='Destroy'
                        onclick="return(confirm('This will delete all the states presently coded? Are you sure?'));">
                      </input>
                    </td>
                    <td class='t-r'>
                      <input type='submit' value="Save"></input>
                      <input type='submit' value="Save & Next"></input>
                    </td>
                  </tr>
                </table>
              </div>
            <% end -%> <!-- End of form -->

            <div class="subform box4" >
              <div class="header" > character description </div>
              <div class="content">
                <% if @chr.doc_char_descr.blank? %>
                  <i> none </i>
                <% else %>
                  <%= @chr.doc_char_descr -%>
                <% end %>
              </div>
            </div>
          </td>

          <!-- coding data -->
          <td style="border-left: 1px solid silver;">
            <div class="box4" style="border: none;">
              <div class="header">
                state details and cell tagging
              </div>

              <% if @chr.continuous? -%>
                    Character is continuous.
              <% else -%>

                <% @chr.chr_states.each do |state| -%>
                  <div class="content" style="border-bottom:1px solid silver;">
                    <b><%= state.s_and_m  -%></b>
                    <% if @s = state.coded?(@otu.id) -%>
                    <% if @s.confidence -%><br/>&nbsp;&nbsp; coded with confidence: <span style="color:red;"><%= @s.confidence.display_name -%></span> <% end %>
                    <% end -%>
                    <%= render_figs_for_obj(state, 'thumb') -%>
                  </div>
                <% end -%>

              <% end %>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
