<% one_click_coding = session[:fast_coding_mode] == :one_click %>
<div id='fast_coding_center_content'>
  <div id="fast_coding_mode_selection">
    <%= form_tag set_fast_coding_mode_for_mxes_path, method: :post do %>
      <input type="hidden" name="return_to" value="<%= request.fullpath%>"></input>
      <input  id='fast_coding_mode_checkbox'
        type="checkbox"
        data-ajaxify='onchange'
        data-ajaxify-spinner-target="#fast_coding_center_content"
        name='fast_coding_mode' value='one_click_mode'
        <% if one_click_coding %>
          checked
        <%end%>
      </input>
      <label for='fast_coding_mode_checkbox'> One-Click Coding Mode </label>
    <% end %>
  </div>
  <div id="fast_coding_form" >
    <div><!-- outer containter -->
      <table><!-- chr nav -->
        <tr>
          <td colspan="2" style="padding-left: 15px; background-color: <%= @mode =='row' ? 'rgb(243,243,243)' : 'none' -%>;">
            <% @chrs.each_with_index do |c, i| -%>
              <% coded = Coding.by_chr(c).by_otu(@otu).count  -%>
              <a class="quicknavbox" style="background-color:<%= (c == @chr ? "red" : (coded > 0 ? "green" : "white")) -%>;" title="<%= html_escape(c.display_name) -%>" href="/projects/<%= @proj.id -%>/mxes/<%= @mx.id -%>/fast_code/<%= @mode -%>/<%= @mode == 'row' ? i : @present_position -%>/<%= @otu.id -%>/<%= c.id -%>" id="chr_<%= c.id -%>"></a>
            <% end -%>
          </td>
        </tr>
      </table>

      <table>
        <tr>
          <!-- otu nav -->
          <td style="width: 10px; background-color: <%= @mode =='col' ? 'rgb(243,243,243)' : 'none' -%>;">
            <% @otus.each_with_index do |o, i| -%>
              <% coded = Coding.by_chr(@chr).by_otu(o).count  -%>
              <a  class="quicknavbox" style="background-color:<%= (o == @otu ? "red" : (coded > 0 ? "green" : "white")) -%>;" title="<%= html_escape(o.display_name) -%>" href="/projects/<%= @proj.id -%>/mxes/<%= @mx.id -%>/fast_code/<%= @mode -%>/<%= @mode == 'col' ? i : @present_position -%>/<%= o.id -%>/<%= @chr.id -%>" id="otu_<%= o.id -%>"></a>
            <% end -%>
          </td>

          <td style="width: 430px; margin: 0 10px;">
            <div style='margin: 0 5px;'>
              <b style='float:right'>Coding (by <%= @mode == 'col' ? 'character' : 'OTU' %>)</b>
              <%=@otu.display_name %> (matrix name: <%= @otu.display_name(:type => :matrix_name) -%>)&nbsp;
              <span class="small_grey">
                id: <%= link_to(@otu.id, :action => 'show', :controller => 'otus', :id => @otu) %>
              </span>
              <br/>
              <em class='small_grey'>for</em>
              <br/>
              <%= @chr.name %>
              <span class="small_grey">
                id: <%= link_to(@chr.id, {:action => 'show', :controller => 'chrs', :id => @chr}, :target => '_blank') -%>
              </span>
            </div>
            <%= form_tag(:url => {:action => 'fast_code', :controller => :mxes, :id => @mx, :otu_id => @otu, :position => @present_position}, :html => {:id => 'one_click_form', :name => "myform", "data-ajaxify"=>"submit", :style => "width: 400px;"} ) do -%>
              <%= hidden_field_tag('mode', @mode) -%>
              <%= hidden_field_tag('chr_id', @chr.id) -%>

              <% if one_click_coding %>

              <% else %>

              <% end %>


              <div class="subform" style="width: 400px;">
                <% if @chr.continuous? && !@chr.is_continuous -%>
                  <!-- auto filed from measurements, no tags/confidence -->
                  <div> From specimens TODO</div>
                <% else %>
                  <!-- can have confidence/tags -->
                  <!-- confidence levels -->
                  <% if @confidences.size > 0 -%>
                    <table style="float: right; font-size: smaller;">
                      <tr>
                        <td>
                          apply confidence <%= select("coding", "confidence_id", @confidences.collect{|p| [ p.name, p.id ] }, { :include_blank => true }, {:style =>"font-size: smaller; width: 200px; color:red;"}) -%> to this click
                        </td>
                      </tr>
                    </table>
                  <% end %>

                  <br style="clear:both;" />

                  <ul class='coding-list'>
                    <% if @chr.is_continuous -%>
                      <%= render(:partial => 'fc_continuous', :locals=>{:one_click => one_click_coding}) %>
                    <% else -%>
                      <%= render(:partial => 'fc_multistate', :locals=>{:one_click => one_click_coding}) %>
                    <% end -%>
                  </li>
                </div>

                <!-- tag form -->
                <div class="subform" style="width: 400px;">
                  <div class="header">
                    include a tag with this coding &nbsp;&nbsp;&nbsp;&nbsp;
                  </div>
                  <div id="tag_form">
                    <span class='small_grey'>
                      <i> tag will not be saved if you skip </i>
                    </span>
                    <%= render(:partial => 'tags/form') %>
                  </div>
                </div>
              <% end -%> <!-- end taggable/confidenceable cells -->
              <% unless one_click_coding %>
                <div style='text-align: right'>
                  <input type='submit' value="Save Coding"></input>
                </div>
              <% end %>
            <% end -%> <!-- End of form -->

            <table style="clear: both;">
              <tr>
                  <td style="padding-left: 5em;"><%= link_to("<< previous",                 {:action => 'fast_code', :id => @mx, :mode => @mode, :otu_id => @last_otu, :chr_id => @last_chr, :position => @previous_position - 1}) if @previous_position != 0 -%></td>
                  <td style="padding-left: 5em;"><%= link_to "destroy existing codings", {:action => 'fast_code', :id => @mx, :mode => @mode, :otu_id => @otu.id, :chr_id => @chr.id,     :position => @present_position, :nuke => 'true'}, :confirm => 'This will delete all the states presently coded? Are you sure?' -%></td>
                  <td style="padding-left: 5em;"><%= link_to "skip >>",                     {:action => 'fast_code', :id => @mx, :mode => @mode, :otu_id => @otu.id, :chr_id => @chr.id,     :position => @present_position + 1} -%></td>
              </tr>
            </table>

            <div class="box4" style="border: none;">
              <div class="header" style="border: none;"> character description </div>
              <div class="content">
                <% if @chr.doc_char_descr.blank? %>
                  <i> none </i>
                <% else %>
                  <%= @chr.doc_char_descr -%>
                <% end %>
              </div>
            </div>
          </td>

          <!-- coding data -->
          <td style="border-left: 1px solid silver;">
            <div class="box4" style="border: none;">
              <div class="header">
                state details and cell tagging
              </div>

              <% if @chr.continuous? -%>
                    Character is continuous.
              <% else -%>

                <% @chr.chr_states.each do |state| -%>
                  <div class="content" style="border-bottom:1px solid silver;">
                    <b><%= state.s_and_m  -%></b>
                    <% if @s = state.coded?(@otu.id) -%>
                    <% if @s.confidence -%><br/>&nbsp;&nbsp; coded with confidence: <span style="color:red;"><%= @s.confidence.display_name -%></span> <% end %>
                    <% end -%>
                    <%= render_figs_for_obj(state, 'thumb') -%>
                  </div>
                <% end -%>

              <% end %>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
