<table class='table-form'>
  <tr><td colspan=2><hr/></td></tr>
  <tr>
    <td>
      Confidence
    </td>
    <td>
      <select name='confidence[id]'>
        <% @confidences.each do |c| -%>
          <option style='color: <%= contrasting_text_color(c.html_color)%>' >
            <%= c.display_name.html_safe -%>
          </option>
        <% end -%>
      </select>
    </td>
  </tr>
  <tr>
    <td> Ref / Source: </td>
    <td>
      <%= render :partial => 'shared/picker', :locals => {
            :controller => 'refs',
            :object => 'codings',
            :method => 'ref_id',
            :tag_id => "ref_id_to_find_for_codings",
            :display => (), # TODO
            :size => 40 } -%>
      </td>
    </tr>
  </table>

<table class='table-form'>
  <%= render :partial => "fc_coding_navigation" %>
  <tr><td colspan=2><hr/></td></tr>
  <% if @chr.continuous? && !@chr.is_continuous -%>
    <tr>
      <td> &nbsp; </td>
      <td> From Specimens TODO </td>
    </tr>
  <% else %>
    <!-- can have confidence/tags -->
    <tr>
      <td> Current Confidence </td>
      <td> None </td>
    </tr>
    <tr>
      <td> Current Source </td>
      <td> Mickey Mouse (OTU: 4) </td>
    </tr>

    <!-- confidence levels -->
    <% if @chr.is_continuous -%>
      <%= render(:partial => 'fc_continuous') %>
    <% else -%>
      <%= render(:partial => 'fc_multistate') %>
    <% end -%>
    <tr><td colspan=2><hr/></td></tr>
  <% end -%> <!-- end taggable/confidenceable cells -->
  <%= render :partial => "fc_bottom_controls" %>
</table>
