<%= form_tag(:url => {:action => 'fast_code', :controller => :mxes, :id => @mx, :otu_id => @otu, :position => @present_position}, :html => {:id => 'one_click_form', :name => "myform", "data-ajaxify"=>"submit", :style => "width: 400px;"} ) do -%>
  <%= hidden_field_tag('mode', @mode) -%>
  <%= hidden_field_tag('chr_id', @chr.id) -%>
  <table class='table-form subform'>
    <tr class='t-l'>
      <td> 1 Click Coding Settings</td>
      <td class='small_grey'> When you click a coding, these settings will be applied</td>
    </tr>
    <tr><td colspan=2><hr/></td></tr>
    <tr>
      <td>
        Confidence
      </td>
      <td>
        <table class='table-form'>
          <tr>
            <td>
              <input type='radio' name='confidence[id]' value='-1' ></input>
            </td>
            <td> None </td>
          </tr>
          <% @confidences.each do |c| -%>
            <tr style='color: <%= contrasting_text_color(c.html_color)%>' >
              <td>
                <input type="radio" name='confidence[id]' value='<%=c.id%>'></input>
              </td>
              <td>
                <%= c.display_name.html_safe %>
              </td>
            </tr>
          <% end -%>
        </table>
      </td>
    </tr>
    <tr>
      <td> Ref / Source: </td>
      <td>
        <%= render :partial => 'shared/picker', :locals => {
              :controller => 'refs',
              :object => 'codings',
              :method => 'ref_id',
              :tag_id => "ref_id_to_find_for_codings",
              :display => (), # TODO
              :size => 40 } -%>
        </td>
      </tr>
    </table>

  <table class='table-form subform'>
    <tr class='t-c plain'>
      <td colspan=2 class='t-c' style='width: 400px;'>
        <%= link_to("<< previous", {:action => 'fast_code', :id => @mx, :mode => @mode, :otu_id => @last_otu, :chr_id => @last_chr, :position => @previous_position - 1}, class: 'spaced-link') if @previous_position != 0 -%>
        <%= link_to("skip >>",     {:action => 'fast_code', :id => @mx, :mode => @mode, :otu_id => @otu.id, :chr_id => @chr.id,     :position => @present_position + 1}, class: 'spaced-link') -%>
      </td>
    </tr>
    <tr><td colspan=2><hr/></td></tr>
    <% if @chr.continuous? && !@chr.is_continuous -%>
      <tr>
        <td> &nbsp; </td>
        <td> From Specimens TODO </td>
      </tr>
    <% else %>
      <!-- can have confidence/tags -->
      <tr>
        <td> Current Confidence </td>
        <td> None </td>
      </tr>
      <tr>
        <td> Current Source </td>
        <td> Mickey Mouse (OTU: 4) </td>
      </tr>

      <!-- confidence levels -->
      <% if @chr.is_continuous -%>
        <%= render(:partial => 'fc_continuous') %>
      <% else -%>
        <%= render(:partial => 'fc_multistate') %>
      <% end -%>
      <tr><td colspan=2><hr/></td></tr>
    <% end -%> <!-- end taggable/confidenceable cells -->

    <tr>
      <td class='t-l'>
        <input type='submit' name="nuke" value='Destroy'
          onclick="return(confirm('This will delete all the states presently coded? Are you sure?'));">
        </input>
      </td>
      <td class='t-r'>
      </td>
    </tr>
  </table>
<% end -%> <!-- End of form -->
