<p><i> If both OTU and raw text are filled OTU will over-ride.</i></p>

   <div class="fr"> <label for="otu_name" class="lbl4">OTU</label>
     <span class="fld">      <%= render :partial => 'shared/picker', :locals => {
        :controller => 'otus',
        :object => 'specimen_determination',
        :method => 'otu_id',
        :tag_id => "otu_name",
        :display => @specimen_determination && @specimen_determination.otu ? @specimen_determination.otu.display_name : "",
        :size => 40} -%><b>&nbsp; OR </b> </span> 
    </div>

    <div class="fr"> 
      <label for="specimen_determination" class="lbl4">Raw Text</label>
      <span class="fld">  <%= text_field 'specimen_determination', 'name', 'title' => 'taxonomic determination' -%></span>
    </div>

    <div class="fr"> <label for="specimen_determination_det_on" class="lbl4">Date of determination</label>
      <span class="fld"> <%= date_select 'specimen_determination', 'det_on', :start_year => 1650, :end_year => Time.now.year, :include_blank => true %>
      <%= link_to_function('Today!') do |page| 
        page["specimen_determination_det_on_1i"].value = Date.today.year
        page["specimen_determination_det_on_2i"].selectedIndex = Date.today.month
        page["specimen_determination_det_on_3i"].selectedIndex = Date.today.day
      end -%></span>
    </div>
    
    <div class="fr"> <label for="specimen_determined_by" class="lbl4">Determined by</label>
      <span class="fld"><%= text_field 'specimen_determination', 'determiner', 'title' => 'person providing this determination'  %></span>
    </div>
    
    <div class="fr"> <label for="specimen_determination_determination_basis" class="lbl4"> Determination basis </label>
        <span class="fld">  <%= select('specimen_determination', 'determination_basis', SpecimenDetermination.basises, { :include_blank => true }) %></span>
    </div>

    <div class="fr"> <label for="specimen_determined_by" class="lbl4">  Determination confidence</label>
      <span class="fld"> <%= render(:partial => 'confidences/picker', :locals => {:c_name => 'specimen_determination', :f_name => 'confidence_id'}) %></span>
    </div>
    
    <p style="clear: both;"></p>
      
