<div class="box4" style="font-size: smaller;">
  <div class="header"> Grand sumamry, lots by lot-group, then OTU. </div>
  <table>
    <tr>
      <th>LotGroup</th>
      <th>LotID</th>
      <th>OTU</th>
      <th>#val</th>
      <th>DNAusable</th>
      <th>Geography</th>
      <th>Locality</th>
      <th>lat</th>
      <th>long</th>
      <th>elev</th>
      <th>date</th>
      <th>collectors</th>
    </tr>

    <% @lot_groups.each do |lot_group|  -%>
      <% lg = @l.lots.group_by{|lot| lot.otu.display_name} -%>
      <% lg.each do |otu_name, lots| -%>
        <% lots.each do |l| -%>
          <tr>
            <td><%= lot_group.display_name -%></td>
            <td><%= link_to(l.id, :action => 'show', :controller => 'lots') -%></td>
            <td><%= otu_name -%></td>
            <td><%= l.value_specimens -%></td>
            <td><%= l.dna_usable -%></td>
            <td><%= (l.ce and l.ce.geog) ? l.ce.geog.display_name : '' -%></td>
            <td><%= l.ce ? l.ce.locality : '' -%> </td>
            <td><%= l.ce ? l.ce.latitude : '' -%> </td>
            <td><%= l.ce ? l.ce.longitude : '' -%> </td>
            <td><%= l.ce ? l.ce.elevation : '' -%> </td>
            <td><%= l.ce ? l.ce.date_range : '' -%> </td>
            <td><%= l.ce ? l.ce.collectors : '' -%> </td>
          </tr>
        <% end %>
      <% end %>
    <% end %>
  </table>
</div>
