<% content_for :center do -%>
  <h3> Codings </h3>
  <div class="subform">
    <div class="header"> limit to matrix </div>
    <div class="content"> 
      <div style="float: right;">  <%= link_to('show all', :action => :show_codings, :show_all => true) -%>  <i>(may take time)</i> </div>
      <%= form_tag({:action => :show_codings}, :remote => true, :method => 'get') do -%> 

        <span class="lbl4">matrix </span>
        <%= select_tag :mx_id, options_for_select( @mxes.collect{|m| [m.name, m.id]})  -%>

        <%= submit_tag "filter" -%>
      <% end -%>
    </div>
  </div>

  <div class="passed" style="padding: 2px; text-align: center;">diagnostic codings in green</div>

  <div id="codings">
    <%= render(:partial => 'otus/codings', :locals => {codings: @codings}) -%>
  </div>
<% end -%>
