<% content_for :center do -%>
  <p><i> For each box in the update column that is checked the text in 'existing text' will be REPLACED with the 'text from codings' </i></p>

  <%= form_tag :action => :update_content_from_matrix_sync, :id => @otu.id -%>

  <table>
    <tr><th>content type</th><th>existing text</th><th>text from codings</th><th>update?</th></tr>
    <% @proj.content_types.with_chr_group_mapping.each do |ct| -%>
    <tr>
      <td><%= ct.display_name -%> </td>
      <td><%= @content[ct.id] ? htmlize(link_refs(:text => @content[ct.id].text)) : "<i>none</i>"-%></td> 
      <td><%= ct.natural_language_by_otu(@otu) -%> </td>    
      <td><%= check_box_tag("ct[#{ct.id}]", value = "1", checked = false) -%> </td>
    </tr> 
    <% end -%>
  </table>

  <%= submit_tag('update') -%>
<% end %>
