<!-- is this used!? -->
<h3>Listing taxon name status values</h3>

<table class="record_list">
  <tr>
  <% for column in TaxonNameStatus.content_columns %>
    <th><%= column.human_name %></th>
  <% end %>
  </tr>
  
<% for taxon_name_status in @taxon_name_status %>
  <tr>
  <% for column in TaxonNameStatus.content_columns %>
    <td><%=h taxon_name_status.send(column.name) %></td>
  <% end %>
    <td><%= link_to 'Show', :action => 'show', :id => taxon_name_status %></td>
    <td><%= link_to 'Edit', :action => 'edit', :id => taxon_name_status %></td>
    <td><%= link_to 'Destroy', {:action => 'destroy', :id => taxon_name_status}, :confirm => 'Are you sure?' %></td>
  </tr>
<% end %>
</table>

<%= paginate(@taxon_name_statuses, :total_count => @taxon_name_statuses.total_count) -%>

