<div class="fig" style="text-align: center; width:<%= figure.image.width_for_size(:thumb).to_i + 10 -%>px;" >
  <% if !@public -%> 
    <div style="text-align:center;">
      <span style="border-right: 1px dotted silver; padding: 2px;"><%= link_to("annotate", :action => :annotate, :controller => :figures, :id => figure) -%></span>
      <span style="border-right: 1px dotted silver; padding: 2px;"><%= link_to("edit", :action => :edit, :controller => :figures, :id => figure) -%>  </span>
      <span style="border-right: 1px dotted silver; padding: 2px;"><%= link_to_figured(figure, 'context') -%> </span>
      <span style="padding: 2px;"><%= link_to("image", :action => :show, :controller => :images, :id => figure.image.id) -%>  </span>
      <br style="clear: right;" />
    </div>
  <% end -%>

  <%= figure_thumbnail_with_svg_tag(figure) -%> 

  <% if !@public -%>
    <div style="text-align: left; margin-top: 3px; padding: 4px; background-color: #cdcdcd; width:<%= figure.image.width_for_size(:thumb) -%>px;" >
      <em>on</em>: <%= figure.display_name(:type => :on)  -%>
    </div> 
  <% end -%>

  <%= caption_tag(figure) -%>

</div>
