<%= content_tag :div, :id => illustrate_image_description_id(id), :class => 'browse_rec' do -%>
  <div id ="img_<%= "#{id.image.id}" -%>" class="browse_thumb" <%= (id.image.is_morphbank == true) ? 'style="background-color: #b1c2e6;"' : '' -%> >
    <%= create_figure_tag(:image => id.image, :object => object, :link_text => 'attach') -%><br />
    <%= image_thumb_tag(id.image).html_safe -%>
  </div>

  <div>
    <div class="browse_otu"><%= id.otu ? id.otu.display_name(:type => :dual_name) : content_tag(:em, 'See specimen.')  -%></div>
    <div class="browse_label_view"><%= id.display_name(:type => :label_view) -%></div>
    <span class="small_grey" style="text-align: right;">
      <!-- TODO: make this a Tooltip like mouseover  some metadata via a partial -->
      <%# link_to("more", :remote => true, :update =>  "more_#{id.id}", :postion => :top, :url => { :action => 'more', :controller => 'image_descriptions', :id => id}) -%>
    </span>
  </div>

<% end %>
