<h3>Editing figure</h3>
<div>For: <%= figured_object_tag(@figure) -%></div>

<table>
  <tr>
    <td>
      <%= render :partial => 'figures/svg_anchored', :locals => {:size => :medium, :figure => @figure} -%>
    </td>
    <td>
      <%= form_tag :action => 'update', :id => @figure do -%>
      <%= render :partial => 'form' %>
      <%= submit_tag 'Edit' %>
      <% end -%>
    </td>
  </tr>
</table>
