<%= error_messages_for 'extract' %>

<!--[form:extract]-->

    
<div class="fr"> <label for="extract_specimen_id" class="lbl4">From specimen</label>
  <span class="fld"><%= render :partial => 'shared/picker', :locals => {
    :controller => 'specimens',
    :object => 'extract',
    :method => 'specimen_id',
    :tag_id => "specimen_id_to_find",
    :display => @extract.specimen.andand.display_name(:type => :for_select_list),
    :size => 80} -%> </span>
</div>

<div class="fr"><label><b>OR</b> (not both)</label></div>

<div class="fr"> <label for="extract_lot_id" class="lbl4">From lot</label>
  <span class="fld">  <%= render :partial => "lots/picker", :locals => {
    :object => 'extract', :method => 'lot_id', :tag_id => "lot_to_find", 
    :display => "" } -%> </span>
</div>

<div class="fr"> <label for="extract_protocol_id" class="lbl4">via Protocol</label>
  <span class="fld"><%= select("extract", "protocol_id", @proj.protocols.collect {|o| [o.display_name(:type => :for_select_list),  o.id ] }, { :include_blank => true } ) -%> </span>
</div>

<div class="fr"> <label for="extract_quality" class="lbl4">Quality</label>
  <span class="fld"><%= select("extract", "quality", ["failed", "poor", "ok", "good" ], { :include_blank => true } ) %></span>
</div>

<div class="fr"> <label for="extract_parts_extracted_from" class="lbl4">Parts extracted from</label>
  <span class="fld"><%= text_area 'extract', 'parts_extracted_from', 'title' => 'body parts used in the extraction', :cols => 60, :rows => 2 %></span>
</div>

<div class="fr"> <label for="extract_notes" class="lbl4">Notes</label>
  <span class="fld"><%= text_area 'extract', 'notes', 'title' => 'notes about this extraction', :cols => 60, :rows => 3  %></span>
</div>

<div class="fr"> <label for="extract_extracted_on" class="lbl4">Extracted on</label>
  <span class="fld"><%= date_select 'extract', 'extracted_on', 'title' => 'date of extraction', :start_year => 1991 -%></span>
</div>

<div class="fr"> <label for="extract_extracted_by" class="lbl4">Extracted by</label>
  <span class="fld"><%= text_field 'extract', 'extracted_by', 'title' => 'person who did the extraction'  %></span>
</div>

<div class="fr"><label for="extract_other_extract_identifier" class="lbl4">Alternative/other extract identifier</label>
  <span class="fld"><%= text_field 'extract', 'other_extract_identifier', 'title' => 'alternative identifier/voucher for this extraction' -%></span>
</div>

<!--[eoform:extract]-->
