<h3>Editing gene group</h3>

<%= form_tag :action => 'update', :id => @gene_group do -%>
  <%= render :partial => "form" %>
  <%= submit_tag "Edit" %>
<% end -%>

<%= link_to 'Show', :action => 'show', :id => @gene_group %> |
<%= link_to 'Back', :action => 'list' %>
