<% content_for :center do -%>
  <% if @nexus_file -%>
  <%= render(:partial => "nf_preview") -%>

  <div class="subform">
    <div class="header"> Convert this data source to the db </div>
    <%= form_tag({:action => 'show_convert'}) do -%>
    <%= text_field_tag('title', nil, :title => 'provide a matrix name', :size => 50) -%> <label for="generate_short_chr_name" class="lbl4">matrix name (left blank will provide a timestamped default)</label><br />
    <%= check_box_tag('generate_short_chr_name',1,false, :title => 'generate short chr name') -%> <label for="generate_short_chr_name" class="lbl4">generate short name for characters</label><br />
    <%= check_box_tag('generate_otu_name_with_ds_id',1,false, :title => 'generate otu name with datasource ID') -%> <label for="generate_short_chr_name" class="lbl4">generate otu name with datasource ID</label><br />
    <%= check_box_tag('generate_chr_name_with_ds_id',1, false, :title => 'generate character name with datasource ID') -%> <label for="generate_short_chr_name" class="lbl4">generate character name with datasource ID</label><br />
    <%= check_box_tag('match_otu_to_db_using_name',1, false,  :title => 'match otu to db using name') %> <label for="generate_short_chr_name" class="lbl4">match otu to db using name</label><br />
    <%= check_box_tag('match_otu_to_db_using_matrix_name',1, false,  :title => 'match otu to db using matrix name') -%> <label for="generate_short_chr_name" class="lbl4">match otu to db using matrix name</label><br />
    <%= check_box_tag('match_chr_to_db_using_name',1, false,  :title => 'match character to db using name') %> <label for="generate_short_chr_name" class="lbl4">match character to db using name</label><br />
    <% if @data_source.ref -%>
    <%= check_box_tag('generate_chr_with_ds_ref_id',1, false,  :title => 'generate character with datasource ref ID') -%> <label for="generate_short_chr_name" class="lbl4">tie ref ID from datasource to new characters</label><br />
    <%= check_box_tag('generate_otu_with_ds_ref_id', 1, false, :title => 'generate OTU with datasource ref ID') -%> <label for="generate_short_chr_name" class="lbl4">tie ref ID from datasource to new OTUs</label><br />
    <% else %>
    <br /> <i> More options are available if you supply a reference for this datasource.</i><br />
    <% end %>

    <br />
    <%= submit_tag "Convert" %> <i> this may take some time, do NOT navigate away from the page or hit click again untill you recieve a response! </i>

    <% end %>
  </div>
<% end -%>
