<% content_for(:center) do -%>
<div class="show_rec">

  <% if @without_figure_markers.length > 0 -%> 
  <div class="show_category"> Without figure markers  (<%= @without_figure_markers.length -%>) </div>
  <div>
    <%= render(:partial => '/figure/figure', :collection => @without_figure_markers) -%>
    <br style="clear: both;" />
  </div>
  <% end -%>

  <% if @with_figure_markers.length > 0 -%> 
  <div class="show_category"> With figure markers (<%= @with_figure_markers.length -%>) </div>
  <div>
    <%= render(:partial => '/figure/figure', :collection => @with_figure_markers) -%>
    <br style="clear: both;" />
  </div>
  <% end -%>

</div>
<% end -%>

<%= render_svged_figures -%>

