<!-- Not used -->
<h3>Listing protocol steps</h3>

<table>
  <tr>
<% for column in ProtocolStep.content_columns %>
    <th><%= column.human_name %></th>
<% end %>
  </tr>
  
<% for protocol_step in @protocol_steps %>
  <tr>
  <% for column in ProtocolStep.content_columns %>
    <td><%=h protocol_step.send(column.name) %></td>
  <% end %>
    <td><%= link_to 'Show', :action => 'show', :id => protocol_step %></td>
    <td><%= link_to 'Edit', :action => 'edit', :id => protocol_step %></td>
    <td><%= link_to 'Destroy', {:action => 'destroy', :id => protocol_step}, :confirm => "Are you sure?" %></td>
  </tr>
<% end %>
</table>

<%= paginate(@protocol_steps, :total_count => @protocol_steps.total_count) -%>

