<%= error_messages_for 'label' %>

<!--[form:label]-->

<div class="fr"> <label for="label_name" class="lbl4">label</label>
  <span class="fld">
    <% if !@label.has_ontology_class_with_xref? -%>
      <%= f.text_field :name, 'title' => 'name'-%>
    <% else -%>
      <em> "<%= @label.name -%>" can not be edited, it is associated with a ontology class that has a xref. </em>
    <% end -%>
  </span>
</div>

<div class="fr"> <label for="label_plural_of_label_id" class="lbl4">plural of</label>
  <span class="fld">	<%= render :partial => 'shared/picker', :locals => {
      :controller => 'labels',
      :object => 'label',
      :size => 50,
      :method => 'plural_of_label_id',
      :tag_id => "plural_of_label_id_for_label_form",
      :display =>  (@label.plural_of_label.display_name if @label.plural_of_label) } -%></span>
</div>

<div class="fr"> <label for="label_language_id" class="lbl4">language</label>
  <span class="fld"><%= render :partial => 'shared/picker', :locals => {
      :controller => 'languages',
      :object => 'label',
      :size => 50,
      :method => 'language_id',
      :tag_id => "language_id_for_label_form",
      :display =>  (@label.language.display_name if @label.language) } -%></span>
</div>


<!--[eoform:label]-->

