<div class="browse_rec">
  <div id ="img_<%= "#{id.id}" -%>" class="browse_thumb" <%= (id.image.is_morphbank == true) ? 'style="background-color: #b1c2e6;"' : '' -%> >

    <%# Cary - make this ajaxy :) %> 
    <%# link_to_remote("attach this image", :update => "items", :url => {:action => :create_from_popup, :controller => :figure, :id => "img_#{id.id}", :fig_obj_class => @obj.class, :fig_obj_id => @obj.id}) -%>

    <%# see figure_helper -%>
    <%= new_figure_tag(:image => @image, :obj => @object, :link_text => 'attach') -%>
    <%= image_thumb_tag(id.image) -%>
  </div>

  <div class="box1" >
    <div class="browse_otu"><%= id.otu ? id.otu.display_name(:type => :dual_name) : '<em>see specimen</em>' -%></div>
    <div class="browse_label_view"><%= id.display_name(:type => :label_view) -%></div>
    <span class="small_grey" style="text-align: right;">
      <!-- TODO: make this a Tooltip like mouseover  some metadata via a partial--%>
      <%# link_to_remote("more", :update =>  "more_#{id.id}", :postion => :top, :url => { :action => 'more', :controller => 'image_description', :id => id}) -%>
    </span>
    <div style="position: absolute; z-index: 300;" id = "more_<%= id.id -%>"> </div>
  </div>

</div>

