<div class="popupform" style="width: 700px;" id="fp_<%= "#{@obj.class.to_s}_#{@obj.id}" %>">
  <div style="padding-bottom:15px;">
    <span class="small_form_button" style="float: right;" >
      <%= link_to_remote("cancel/close", :url => { :action => 'cancel_from_popup', :controller => 'figure', :fig_obj_class => @obj.class, :fig_obj_id => @obj.id}    ) -%>
    </span>

    <span style="float:left;">Figures for : <%= params[:fig_obj_id] -%></span>
  </div>

  <div id="cart" class="cart" style="clear:left;height:15px;margin-top:2px;border:2px solid black;">
    <div id="items" >
      <%= render(:partial => 'figure/edit_attached_figs') -%>
    </div>
  </div>

  <%= drop_receiving_element("cart", :update => "items",
  :url => { :action => "create_from_popup", :controller => "figure", :fig_obj_class => params[:fig_obj_class], :fig_obj_id => params[:fig_obj_id] }, :accept => "browse_thumb", :hoverclass => "cart-active") -%>

  <!-- the drag/droppable image results -->
  <div>
    <div style="clear:both;">&nbsp;</div>
    <%= render :partial => 'image/search', :locals => {:fig_obj_class => params[:fig_obj_class], :fig_obj_id => params[:fig_obj_id] } -%>
  </div>
  <div style="clear:both;">&nbsp;</div>
</div>

<!-- some hints from http://demo.script.aculo.us/ajax/update_element -->
