<% content_for :center do -%>
  <%= render_show(@chr_group, true, false) -%>

  <p><b>Total members:</b> <%= @chrs_in.length -%></p>

  <%= form_tag :action => 'add_chr', :id => @chr_group.id do -%>
  <%= hidden_field 'chr_group', 'id' %>

  <div class="subform">
    <div class="header"> Add a character </div>
    <%= render :partial => 'shared/picker', :locals => {
    :controller => 'chr',
    :object => 'chr',
    :method => 'id',
    :use_proj => true,
    :tag_id => "chr_to_find",
    :display => "" } -%>

    <%= submit_tag "add" -%>
    <% end -%>
  </div>

  <div>
    <p><i> Drag to sort.</i>  <%= image_tag('/images/spinner.gif', :alt => 'Updating', :id => 'move_spinner', :style => "display: none; vertical-align:middle;"  ) %> </p>
    <ul id="chrs">
      <% @chrs_in.each do |chrgc| -%>
        <%= content_tag_for :li, chrgc do -%>
          <span class="handle">[drag]</span><span> &nbsp; <%= chrgc.chr.id -%></span> &nbsp;
          <%= link_to(chrgc.chr.display_name, :action => :show, :id => chrgc.chr.id, :controller => :chr) -%>
          &nbsp;&nbsp; <%= link_to("x", :action => :remove_chr, :id => @chr_group.id, :chr_id => chrgc.chr.id, :controller => :chr_group) -%>
        <% end %>
      <% end %>
    </ul>
  </div>
  <%= sortable_element("chrs", :url => {:action => 'sort_chrs'}, :handle => 'handle',  :loading => "Element.show('move_spinner')", :complete => "Element.hide('move_spinner')" )-%>
<% end %>
