<% content_for :center do -%>
  <h3>Document character description</h3>
  <div class="content">
    <span id="description"><%= htmlize(@chr.doc_char_descr) %></span>
  </div>

  <%= form_tag({:action => 'update', :id => @chr.id}, :method => "put") do -%>
    <p><input type="submit" value="update" /></p>
    <p><%= text_area('chr', 'doc_char_descr', 'title' => 'verbatim character description from publication', :rows => 15, 'class' => 'rc_markup', :style => "width: 100%") -%></p>

    <h3>Notes</h3>
    <div class="content">
      <span style="font-size: smaller;"><%= @chr.notes %></span>
    </div>

    <p><%= text_area('chr' , 'notes', 'title' => 'notes about this character', :rows => 15, :style => "width: 100%") -%></p>
  <% end -%>
<% end %>
