<% content_for :center do -%>
  <h4> Member of: </h4>
  <ul style="list-style-type: square;">
    <% for g in @chr_groups  %>
    <li>  <%= link_to( g.name, :action => 'show', :controller => 'chr_groups', :id => g.id) %> </li>
    <% end %>
  </ul>

  <h4> Add to group: </h4>
  <%= form_tag :action => "add_to_group" do -%>
  <%= hidden_field 'chr', 'id' %>
  <select name="chr_group_id">
    <option></option>
    <%= options_from_collection_for_select(@proj.chr_groups, "id", "name") %>
  </select>
  <%= submit_tag "Add" %>
  <% end -%>
<% end %>
