<% @show.collect{|s| render :partial => (s)} -%>
<div id="inner_wrapper">
  <div id="inner_header" style="text-align: center;"> 
    <%= @otu_group.display_name %> <span class="small_grey" style="display: inline">(id: <%=h @otu_group.id %>)</span>
  </div>
  <div id="inner_container" <%= 'style="padding-right: 0px;"' if @no_right_col %>>
    <div id="inner_center" class="column">   
      <%= yield :center -%> 
    </div>

    <div id="inner_left" class="column">
      <%= yield :left -%> 
      <%= render :partial =>("navigator") %> 
    </div>

    <div id="inner_right" class="column" <%= 'style="width: 0px; margin-right: 0px;"' if @no_right_col %>>
      <%= yield :right -%> 
    </div>   
  </div>
</div>
