<% content_for :head do -%>
  <%= render(:partial => '/shared/colorPicker_header')  -%>
<% end %>

<h3> Personal preferences for <%= @person.login -%> </h3>
<%= form_for :person, :url => {:action => :update} do |f| -%>
  <div class="fr"><label class="lbl4">Default matrix window width </label><span class="fld"><%= f.text_field :pref_mx_display_width, :size => 3 %></span></div>
  <div class="fr"><label class="lbl4">Default matrix window height </label><span class="fld"><%= f.text_field :pref_mx_display_height, :size => 3 %></span></div>

  <div class="fr"> <label for="person_pref_creator_html_color" class="lbl4">Creator color</label>
    <span class="fld"><%= f.text_field :pref_creator_html_color , :size => 6, :default => 'dddddd'  %> <i> click to pick, used as background in some displays</i></span>
  </div>
  <div class="fr"> <label for="person_pref_default_repository_id" class="lbl4">Default Repository</label>
  <span class="fld"><%= render :partial => "shared/picker", :locals => {
      :controller => 'repository',
      :object => 'person',
      :method => 'pref_default_repository_id',
      :tag_id => "persons_pref_default_repository_id",
      :display =>(@person.default_repository.display_name if @person.default_repository)
      } -%><i>will be used when creating new specimens and lots</i> <em style="color:red;"> You must logout then back in for the setting to first take effect. </em>
  </span>
  </div>

  <script type="text/javascript">
    new Control.ColorPicker("person_pref_creator_html_color");
  </script>

  <div class="fr"><label class="lbl4">Receive reference update emails?</label><span class="fld"><%= f.check_box :pref_receive_reference_update_emails %></span></div>

  <span style="margin-left: 20%"><%= submit_tag %></span>
<% end -%>  
