<!-- with some hints from http://demo.script.aculo.us/ajax/update_element -->
<div id="<%= "tp_#{@obj.class.to_s}_#{@obj.id}" -%>" class="popupform" style="width: 390px;">
  <div>
    <span class="small_form_button" style="float: right;" >
      <%= link_to("cancel", :remote => true, :url => { :action => 'cancel_from_popup', :controller => 'tag', :tag_o_class => params[:tag_obj_class], :tag_o_id => params[:tag_obj_id]}) -%>
    </span> 
    <span style="float: left;">Tagging: <%= params[:tag_obj_id] %></span>   
  </div>
  <br style="clear: both;" />
  <%= form_remote_for :tag, :html => {:id => "tpf_#{@obj.class.to_s}_#{@obj.id}"}, :url => url_for(:action => "create") do |f| %>
  <%= submit_tag "Create" -%> 
  <%= render :partial => 'form', :locals => {:keyword_id => keyword_id} -%>
      <%= submit_tag "Create" -%>
  <% end -%>
</div>
