<%# with some hints from http://demo.script.aculo.us/ajax/update_element# %>
<div id="<%= "ti_#{addressable_type}_#{addressable_id}" -%>" class="popupform" style="z-index: 55; left: -20px; min-width: 280px; height: <%= 165 * @tags.size -%>px; overflow:auto;">
  <span class="small_form_button" style="float: right;" > <%= link_to_remote("close",  :url => { :action => :_close_popup_info, :controller => :tag, :addressable_type => addressable_type, :addressable_id => addressable_id}) -%></span>
  <span style="float:left;"><%= @keyword.display_name %></span>
  <% @tags.each_with_index do |t,i|  %>
    <table style="width: 98%; margin: .2em; clear: both;  font-size: smaller; border: 1px solid gray; background-color: #ffffcc;" id ="popup_info_tbl_<%= t.id -%>" >
      <tr>
        <td><%= i+1 %></td><td style="text-align:right;">this tag:<%= tag_link_for_show(t,nil,'tag' ) -%> | <%= link_to_remote("destroy", :url => { :action => 'destroy', :controller => 'tag', :id => t.id}) -%> | <%= link_to("edit", :action => :edit, :controller => :tag, :id => t.id) -%></td><td> </td>
      </tr>
      <tr>
        <td>notes/value:</td><td>
          <div class="ip_edit" id="tag_notes_<%= t.id -%>"><%= t.notes.blank? ? '<i> click to edit </i>' : t.notes -%></div>
          <%= in_place_editor "tag_notes_#{t.id}", :url => url_for(:controller => :tag, :action => :in_place_notes_update, :id => t.id), :rows => 2, :cols => 30 -%>
        </td>
      </tr>
      <tr>
        <td>ref: </td><td><%= t.ref.blank? ? '<i>none</i>' : t.ref.display_name -%></td>
      </tr>
      <tr>
        <td>ref. obj: </td><td><%= t.referenced_object.blank? ? '<i>none</i>' : t.referenced_object  -%></td>
      </tr>

      <tr>
        <td>pages:</td><td><%= t.page_txt -%></td>
      </tr>

      <tr>
        <td>by:</td><td><%= t.creator.full_name -%></td>
      </tr>

      <tr>
        <td>last mod:</td><td><%= time_ago_in_words(t.updated_on) -%></td>
      </tr>

    </table>
  <% end -%>
</div>
