<div style="margin: 4px; padding-left: <%= 20 * level -%>px; border-top: 1px solid silver; <%= 'background-color:#b5ebc7' if newly_inserted -%> " id="tag_<%= tn.id -%>">
  <div style="float:right;" ><%= tag_link_for_show(tn) -%> <span class="small_form_button"><%= link_to('edit', :action => :edit, :controller => :tag, :id => tn.id) -%></span>&nbsp;<span class="failed" style="padding:2px;"><%= destroy_tag_link(tn) -%></span></div>
  <div style="float:left;">
    <%= tn.keyword.display_name -%>, by <%= tn.creator.full_name -%>, <%= time_ago_in_words(tn.created_on) %> ago <br/>
    notes: <%= content_tag :strong, truncate(tn.notes, :length => 200) %>  <br/>
    ref: <strong><%= link_to(tn.ref.authors_year, :action => :show, :id => tn.ref.id) if tn.ref -%> </strong>  <br/>
    ref_obj: <%= link_to_referenced_object(tn) -%>
  </div>
  <br style="clear:both;" />
</div>
<div id="meta_<%=tn.id-%>"> </div>
