<%# requires @distributions -%>
<p><i> This uses the distributions recorded from the literature (references).</i> <span style="background-color: #ddaaaa; padding: 4px;">Verbatim text does not match geographic name.</span> </p>
<table>
  <tr><th> <%= self.controller.controller_name == 'ref' ? "otu" : "reference" -%></th><th>distribution</th><th>verbatim</th></tr>
  <% @distributions.each do |d| -%>
    <tr style="<%= d.geog ? (d.geog.display_name == d.verbatim_geog ? '' : "background-color: #ddaaaa") : '' -%>">
      <td><%= self.controller.controller_name == 'ref' ? (link_to d.otu.display_name,  :action => :show_distributions, :controller => :refs, :id => d.otu.id) : (link_to d.ref.display_name, :action => :show_distributions, :controller => :refs, :id => d.ref.id) -%></td>
      <td><%= d.geog ? d.geog.display_name : (link_to '<span style="color: red;"> INVALID RECORD. CLICK TO UPDATE Geography </span>', :action => :edit, :controller => :distributions, :id => d.id) -%></td>
      <td><%= d.verbatim_geog -%></td>
    </tr>
<% end %>
</table>

