<!-- requires an instance of ByTnName in @display_data -->
<table>
  <!--  <tr><th>OTU</th><th>OTU id</th><th>total</th><th>published</th><th>publish?</th></tr> -->
  <% @display_data.sections.each do |s| -%>
  <% if s.items.size > 1 -%>
  <tr class="failed">
    <td colspan=5>
      <%= "#{'&nbsp;' * rank_n(s.header.iczn_group) * 2 }" %> 
      <%= s.header.taxon_name.name -%>

    </td>
  </tr>
  <% end -%>
  
  <% s.items.each do |i| -%>
    <tr class="">
      <td>
        <div style="margin-left:<%= (0 + (rank_n(s.header.iczn_group) * 5) + (s.items.size > 1 ? 10 : 0)) -%>px;" >
          <%= otu_to_content_link(i, @content_template) -%>        
          <%= text_content_for(i, @intro_content_type, @public) if @intro_content_type -%>
        </div>
      </td>
    </tr>
    <% end -%>
  <% end %>

  <% if @display_data.unplaced_items.size > 0 -%>
    <tr><td colspan="5"><h3> OTUs with content, but not linked to taxon names</h3></td></tr>
    <% @display_data.unplaced_items.each do |i| -%>
    <tr> 
      <td> <%= otu_to_content_link(i, @content_template) -%>  </td>
    </tr> 
    <% end %>
  <% end %>
</table>
