<h3>Editing standard view group</h3>

<%= form_tag :action => 'update', :id => @standard_view_group do -%>
  <%= render :partial => 'form' -%>
  <%= submit_tag 'Edit' %>
<% end -%>

<%= link_to 'Show', :action => 'show', :id => @standard_view_group %> |
<%= link_to 'Back', :action => 'list' %>
