<% if @seqs.length > 0 -%>
  <ul style ="list-style-type: square;">
    <% for seq in @seqs -%>
      <li> <strong> <%= seq_source_genes_tag(seq) -%> </strong> <span style="color:gray;"> (id: <%= seq.id -%>) </span>  <%= seq.source_specimen.andand.display_name(:type => :identifiers) -%>    <span style="font-size: smaller;"> <%= link_to( 'edit', {:controller => "seqs", :action => "edit", :id => seq.id}) %> |  <%= link_to( 'destroy', {:controller => "seqs", :action => "destroy", :id => seq.id}, :confirm => "Are you sure?" ) -%> </span>
      <div style="padding: .3em;font-family:Courier new, fixed" class="seq"><%= display_seq_tag(seq) -%></div>
      </li>
    <% end -%>
  </ul>
<% else %>
  <em> none </em>
<% end -%>
