<h3>FASTA batch upload results</h3>

<p><span class="failed"> <em>Indicates the uploaded sequence fragment matches an identical fragment in another sequence. </em> </span> </p>

<%= render :partial => 'shared/checkbox_selector_buttons' -%>

<%= form_tag :action => '_batch_add_FASTA', :controller => :seqs do -%>
  <table style="width: 100%;">
    <tr style="text-align:center;">
      <th></th>
      <th>import?</th>
      <th>FASTA label</th>
      <th>match/PCR</th>
      <th>sequence</th>
      <th>nucleotide matches</th>
    </tr>

    <% @seqs.each_with_index do |s,i| -%>
      <% matching_seqs = @proj.seqs.with_fragment(s[1].seq) -%>
      <tr <%= (matching_seqs.size > 0 ? 'class="failed"' : (i % 2 == 0 ? 'class="stripe"' : '')) -%> >
        <td style="width: 20px;"><%= i+1 -%></td>
        <td style="width: 20px;"> <%= check_box(:seq, "#{i}") -%> </td>
        <!-- the hidden fields -->
        <% if !s[0].nil? -%>
          <%= hidden_field_tag  "seqs[#{i}][pcr_id]", s[0].pcr_id -%>
          <%= hidden_field_tag  "seqs[#{i}][sequence]", s[0].sequence -%>
        <% end -%>
        <td style="width: 15%;">
          <%= s[1].definition -%>
        </td>
       <td style="width: 300px; vertical-align: middle;">
        <% if s[0].nil? -%>
          <strong style="color: red;">No PCR match</strong>
        <% else -%>
          <%= s[0].pcr.display_name -%>
        <% end -%>
       </td>
       <td style="width: 8em;">
         <div style="font-family: courier; overflow: auto; font-size: smaller;">
        <%= [s[1].seq[0..9], s[1].seq[(s[1].length - 10)..(s[1].length)]].join('...<br/>...') -%>
         </div>
       </td>
       <td style="">

        <%= matching_seqs.size > 0 ? matching_seqs.collect{|s| link_to(s.id, :action => :show, :controller => :seqs, :id => s.id)}.join(", ") : '<em>none</em>' -%>
       </td>
     </tr>
      <% end -%>
  </table>

      <%= submit_tag 'add' -%>
    <% end -%>

<script type="text/javascript">
var checkboxes = [];
checkboxes = $$('input').each(function(e){ if(e.type == 'checkbox') checkboxes.push(e) });
</script>
