<div style="padding: .3em;">
  <div>
    Editing content for: <%= @content_type.display_name %>
  </div>

  <%= form_tag(:remote => true, :update => {:success => 'contents', :failure => 'msg'}, :url => {:action => '_update_compare_content'}, :failure => "new Effect.Pulsate('Somethign went wrong.')" ) do -%>

  <%= submit_tag('save') %>
    <%= hidden_field('left_otu', 'id', :value =>  left_otu ? left_otu.id : nil) %>
    <%= hidden_field('right_otu', 'id', :value => right_otu ? right_otu.id : nil) %>
    <%= hidden_field('right', 'lock', :value => @right_lock) -%>
    <%= hidden_field('left', 'lock', :value => @left_lock) -%>
    <%= hidden_field('content_type', 'id', :value => @content_type.id) -%>
     
  <%# need some return to function here %>

    <table>
      <tr>
       <td>
        <% if left_otu  -%>
          <%= render(:partial => 'content_type/compare_side', :locals => {:otu => left_otu,  :content => @left_content, :side => 'left' }) -%>
        <% else %>

        <% end %>
      </td>

      <td>
        <% if right_otu -%>
         <%= render(:partial => 'content_type/compare_side', :locals => {:otu => right_otu, :content => @right_content, :side => 'right'}) -%>
        <% else %>
        <% end %>
      </td>
    </tr>
    </table>
    <%= submit_tag('save') -%>
    
  <% end -%>
</div>
