<div id="inner_wrapper">
  <div id="inner_header" style="text-align: center;"> 
    <h3 style="display: inline"><%= @content_type.display_name %> <span class='small_grey'>id:<%= @content_type.id %></span></h3>
  </div>

  <%# this is yield data %>
  <% @show.each do |s| %>
    <% render(:partial => s) %>
  <% end %>

  <div id="inner_container"  <%= 'style="padding-right: 0px;"' if @no_right_col -%>>
    <%# CENTER COLUMN (must be rendered here for CSS to work!) %> 
    <div id="inner_center" class="column"><div><%= yield :center -%></div></div>

    <%# LEFT COLUMN %>
    <div id="inner_left" class="column"><%= render :partial => "navigator" -%> <%= yield :left -%> </div>

    <%# RIGHT COLUMN %>
    <div id="inner_right" class="column" <%= 'style="width: 0px; margin-right: 0px;"' if @no_right_col -%> ><%= yield :right -%></div>

    <br style="clear: both;">
  </div> 
</div>
