<%
  # What is going on in this file?
  # We are hand-building 3 sets of SVG images to make it so it can be scaled in each browser as it needs

  width  =  image.width_for_size(size).round.to_i
  height =  image.height_for_size(size).round.to_i
  scale  =  image.width_scale_for_size(size)
  img_xlink = image.xlink_href(size)

  figure_markers ||= []
  %>
<% if is_ie?
#   ----
#   height / 0.477
#   width  / 0.477
#   (then scale it back down with currentScale && the webkit transform scale)
#   ----
%>
<svg class='image-with-markers' id='ie' currentScale='<%= scale %>' viewBox="0 0 <%=width %> <%= height %>" height='<%= height %>' width='<%= width %>'>
  <image x="0" y="0" height="<%= height / scale.to_f %>" width="<%= width / scale.to_f%>" xlink:href="<%= img_xlink %>"></image>
  <% figure_markers.each_with_index do |marker, i|
    figure_xlink_href = ModelExtensions::MiscMethods.host_url + "/projects/#{marker.proj_id}/ontology_class/show/#{marker.figure.figured_obj.id}"
    %>
    <a xlink:href="<%= figure_xlink_href %>" target="_parent" >
      <g class='figure-marker-<%= i % 12 %> '> <%= marker.svg.html_safe %> </g>
    </a>
  <% end %>
</svg>

<%
  elsif is_ffx?
%>

  <svg class='image-with-markers'
       style="height: <%=height%>px; width:<%=width%>px; -moz-transform: scale(<%= scale %> <%= scale %>); transform: scale(<%= scale %> <%= scale %>)">
    <image x="0" y="0" height="<%=height%>" width="<%=width%>" xlink:href="<%= img_xlink %>"></image>
    <% figure_markers.each_with_index do |marker, i|
      figure_xlink_href = ModelExtensions::MiscMethods.host_url + "/projects/#{marker.proj_id}/ontology_class/show/#{marker.figure.figured_obj.id}"
      %>
      <a xlink:href="<%= figure_xlink_href %>" target="_parent" >
        <g transform="scale(<%= scale %>)" class='figure-marker-<%= i % 12 %> '>
          <%= marker.svg.html_safe %>
        </g>
      </a>
    <% end %>
  </svg>
<%
  #  THIS IS FOR CHROME / ETC
 else %>
  <svg class='image-with-markers'
       style="height: <%=height%>px; width:<%=width%>px; -webkit-transform: scale(<%= scale %> <%= scale %>); transform: scale(<%= scale %> <%= scale %>)">
    <image x="0" y="0" height="<%=height%>" width="<%=width%>"  xlink:href="<%= img_xlink %>"></image>
    <% figure_markers.each_with_index do |marker, i|
      figure_xlink_href = ModelExtensions::MiscMethods.host_url + "/projects/#{marker.proj_id}/ontology_class/show/#{marker.figure.figured_obj.id}"
      %>
      <a xlink:href="<%= figure_xlink_href %>" target="_parent" >
        <g style="-webkit-transform: scale(<%= scale %> <%= scale %>); transform: scale(<%= scale %> <%= scale %>)" transform="scale(<%= scale %>)"
          class='figure-marker-<%= i % 12 %> '>
          <%= marker.svg.html_safe %>
        </g>
      </a>

    <%end%>
  </svg>
<% end %>
