<h3>Editing taxonimic history</h3>

<%= form_tag :action => 'update', :id => @taxon_hist do -%>
   <input id="nav_aid" name="in_taxon_hists" type="hidden" value="1" />
    <%= render :partial => 'form' %>

  <%= submit_tag 'Edit' %>
<% end -%>

<%= link_to 'Show', :action => 'show', :id => @taxon_hist %> |
<%= link_to 'Back', :action => 'list' %>
