<%= error_messages_for 'clave' %>
<!--[form:claves]-->
<div class="fr"><label for="clave_couplet_text"  class="lbl4">Title</label><span class="fld">
    <%= text_area 'clave', 'couplet_text', :rows => 2, :cols => 60  %></span></div>

<div class="fr"><label for="claves_pub_annotation"  class="lbl4">Description (made public)</label><span class="fld">
    <%= text_area 'clave', 'head_annotation', :rows => 2, :cols => 60 %></span></div>

<div class="fr"><label for="clave_couplet_text"  class="lbl4">Is publicly accessible?</label><span class="fld">
    <%= check_box 'clave', 'is_public' %></span></div>

<div class="fr"><label for="claves_link_out"  class="lbl4">Link out (for title/top of key)</label><span class="fld">
    <%= text_area 'clave', 'link_out', :rows => 2, :cols => 60  %></span></div>

<div class="fr"><label for="clave_otu_id"  class="lbl4">OTU (the clade the key pertains to)</label><span class="fld">
       <%= render :partial => 'shared/picker', :locals => {
              :controller => 'otu',
              :object => 'clave',
              :method => 'otu_id',
              :tag_id =>  "otu_name",
              :display =>    (@clave.otu.display_name if @clave.otu),
              :size => 60} -%></span>
</div>

<div class="fr"><label for="ref_name"  class="lbl4">Published in</label><span class="fld">
<%= render :partial => "ref/picker", :locals => {
:object => 'clave', :method => 'ref_id', :tag_id => "ref_name", 
:display => (@clave.ref.display_name if @clave.ref) } %></span></div>
<br style="clear:both;"/>
<!--[eoform:claves]-->

