<div>
  <h3>Show Key</h3>
  <div id ="head">
   <%= '<span class="lbl4">couplet #' +  @clave.manual_id + '</span>' unless @clave.manual_id.to_s == '' -%>
    
   <div id="history" class="box5" style="font-size: smaller;">
     <span class="lbl4">History</span><br/>
     <%= render(:partial => 'clave/history', :locals => {:act => 'show'}) -%>
  </div>

  <% unless @clave.pub_annotation.to_s == '' -%>
    <div class="box5"><span class="lbl4">Notes:</span> <%= @clave.pub_annotation -%> </div>
  <% end -%>
  
    <% unless @clave.parent_id  == nil  -%> 
    <div style="text-align:center; margin: 0 45%;" class="navigator">
        <span class="navigator_button"><%= link_to('up', :action =>  'show', :id => @clave.parent.id) -%></span>
      </div>
    <% end -%>
  </div>

  <div id="couplets">

    <div id="left" class="box5" style="float: left; width: 420; margin:auto;">

       <% if @left.children.size > 0 -%>
       <div class="navigator" style="text-align: center; margin: 0 45%;">
          <span class="navigator_button"><%= link_to('go', :action => 'show', :id => @left.go_id) -%> </span>
        </div>
      <% end -%>      

      <!-- left couplet -->
      <div class="box5" >
        <%= htmlize(@left_text) -%>
           <div style="float: right; padding: .4em;" class="navigator_button">
              <% if @left.otu_id %>
              <%= link_to(@left.otu.display_name, :action => 'show', :id => @left.otu.id, :controller => 'otu') %>
              <% end %>

              <% if not ( @left.link_out_text.blank? or  @left.link_out.blank?) -%>
                <%= link_to(htmlize(@left.link_out_text), "http://#{@left.link_out}", :popup  => true) -%> 
              <% end %>
            </div>
          <div style="clear:both;"></div>                     
      </div>

      <!-- left figs -->
      <%= render_figs_for_obj(@left, 'thumb', false) -%>

      <!-- left future -->
      <% if @left_future.size > 0 %>
      <div class="claves_white_box">
        <span class="lbl4">future couplets</span><br/>
        <%= render(:partial => "future",  :locals => {:act => 'show', :future => @left_future}) -%>
      </div>
      <% end %>

      <% if @left.children.size > 0 -%>
        <div class="navigator" style="text-align: center; margin: 0 45%;">
          <span class="navigator_button"><%= link_to('go', :action => 'show', :id => @left.go_id) -%> </span>
        </div>
      <% end -%>      
      
      </div>

    <div id="right"  class="box5" style="float: right; width: 420; margin:auto; ">
        
      <% if @right.children.size > 0 -%>
          <div class="navigator" style="text-align: center; margin: 0 45%;">
            <span class="navigator_button"><%= link_to('go', :action => 'show', :id => @right.go_id) -%> </span>
          </div>
      <% end -%>      

       <!-- right couplet -->
      <div class="box5" >
        <%= htmlize(@right_text) -%>
        <div style="float: right; padding: .4em;" class="navigator_button">        
          <% if @right.otu_id -%>
          <%= link_to(@right.otu.display_name, :action => 'show', :id => @right.otu.id, :controller => 'otu') %>
          <% end %>
          <% if not ( @right.link_out_text.blank? or  @right.link_out.blank?) -%>
            <%= link_to(htmlize(@right.link_out_text), "http://#{@left.link_out}", :popup  => true) -%>  
          <% end -%> 
        </div>
        <div style="clear:both;"></div>                     
      </div>

      <!-- right figs -->
      <%= render_figs_for_obj(@right, 'thumb', false) -%>
      

      <!-- right future -->
      <% if @right_future.size > 0 %>
      <div class="claves_white_box">
        <span class="lbl4">future couplets</span><br/>
        <%= render(:partial => "future",  :locals => {:act => 'show', :future => @right_future}) -%>
      </div>
      <% end %>

        
      <% if @right.children.size > 0 -%>
        <div class="navigator" style="text-align: center; margin: 0 45%;">
          <span class="navigator_button"><%= link_to('go', :action => 'show', :id => @right.go_id) -%> </span>
        </div>
      <% end -%>        
    </div>
  </div>        
  <div style="clear: both; text-align: center;"> <%= link_to('edit', :action => 'edit', :id => @clave) %> </div>
</div>

