<% objs.each_with_index do |o, i| -%>
  <% if o.class == Chr -%>
    <% coded = @vector_nav_codings.select{|c| c.otu_id == otu.id && c.chr_id == o.id}.empty? ? false : true -%>
  <% elsif o.class == Otu -%>
    <% coded = @vector_nav_codings.select{|c| c.chr_id == chr.id && c.otu_id == o.id}.empty? ? false : true -%>
  <% else %>
   <% raise %>
  <% end %>

  <% if o.class == Chr -%>
  <a class="quicknavbox" 
    style="background-color:<%= (o == chr ? "red" : (coded ? "green" : "white")) -%>;" 
    title="<%= html_escape(o.display_name) -%>" 
    href="<%= code_mx_path(@proj, @mx, mode, (mode == 'row' ? i : position), o, otu) -%>" ></a>
  <% elsif o.class == Otu -%>
  <a class="quicknavbox" 
    style="background-color:<%= (o == otu ? "red" : (coded ? "green" : "white")) -%>;"
    title="<%= html_escape(o.display_name(:type => :matrix_name  )) -%>"
    href="<%= code_mx_path(@proj, @mx, mode, (mode == 'col' ? i : position), chr, o) -%>"
  ></a>
  <% else %>
   <% raise %>
  <% end %>

<% end -%>
