<div id="code_interface">
  <div>
    <div id="neighbor_navigation">
      <%= render(:partial => 'mxes/code/navigation') -%>
    </div>

    <div class="vector_nav chr" style="background-color:<%= @mode =='col' ? 'rgb(213,213,213)' : 'none' -%>;" > 
      <%= render(:partial => 'mxes/code/cell_vector_navigation', :locals => {:objs => @chrs, :chr => @chr, :otu => @otu, :mode => @mode, :position => @position}) -%> 
      <br style="clear:both;" />
    </div> 

    <div>
      <div class='vector_nav otu' style="background-color:<%= @mode =='row' ? 'rgb(213,213,213)' : 'none' -%>;">
        <%= render(:partial => 'mxes/code/cell_vector_navigation', :locals => {:objs => @otus, :chr => @chr, :otu => @otu, :mode => @mode, :position => @position}) -%> 
      </div>

      <div id='coding_options' class="col" >
        <h3>Persistant Options</h3>
        <%= render(:partial => 'mxes/code/coding_options') -%>
      </div>

      <div id="cell_choices" class="col"> 
        <h3>Coding (by <%= @mode == 'col' ? 'character' : 'OTU' %>)</h3>
        <div class="chr_otu_name">
          <%=@otu.display_name %> (matrix name: <%= @otu.display_name(:type => :matrix_name) -%>)
          <span class="minor_text">
            <%= link_to("id: #{@otu.id}", {:action => 'show', :controller => 'otus', :id => @otu}, :target => '_blank') %>
          </span>
          <br />
          <em class='minor_text'>for</em>
          <br />
          <%= @chr.name %>
          <span class="minor_text">
            <%= link_to("id: #{@chr.id}", {:action => 'show', :controller => 'chrs', :id => @chr}, :target => '_blank') -%>
          </span>
        </div>
        <%= render(:partial => 'mxes/code/form') -%>
      </div>

      <div id="chr_details" class="col"> 
        <h3> Character Details</h3> 
        <%= render(:partial => 'mxes/code/character_details') -%>
      </div>

      <br style="clear:both;" />
    </div>

    <div style="background-color:blue;"> 
      footer
    </div>

    <br style="clear:both;" />
  </div>

</div> <!-- end code_interface -->

<br style="clear:both;" />
