<!-- char state choices -->
<% @chr.chr_states.each do |s| -%>
  <% coded = s.coded?(@otu.id) %>
  <tr class='coding'>
    <td>
      <% if one_click %>
        <% if coded %>
          <input type='submit' value="&#10008;" >
        <% else %>
          <input type='submit' value="&#10004;">
        <% end %>
      <% else %>
        <input type="checkbox" value="<%= s.id -%>" <%= "checked" if coded -%>>
      <% end %>
    </td>
    <td>
      <% if one_click %>
        <input type="checkbox" disabled value="<%= s.id -%>" <%= "checked" if coded -%>>
      <% end %>
      <%= s.s_and_m -%>
      <span class='r'>
        <a data-ajaxify='modal' href="<%= coding_details_path(@proj, s) %>"> More </a>
        |
        <%= new_tag_tag(:object => s) %>
      </span>
    </td>
  </tr>
<% end %>
