<!-- char state choices -->
<% @chr.chr_states.each do |s| -%>
  <% coded = s.coded?(@otu.id) %>
  <tr class='coding'>
    <td>
      <% if one_click %>
        <% if coded %>
          <input type='submit' value="&#10008;" name="clicked_chr_state[<%= s.id %>]" >
        <% else %>
          <input type='submit' value="&#10004;" name="clicked_chr_state[<%= s.id %>]" >
        <% end %>
      <% else %>
        <input type="checkbox"  name="chr_states[<%= s.id %>]"  value="<%= s.id -%>" <%= "checked" if coded -%>>
      <% end %>
    </td>
    <td>
      <% if one_click %>
        <input type="checkbox" disabled  <%= "checked" if coded -%>>
      <% end %>
      <%= s.s_and_m -%>
    </td>
    <td>
      <span class='r'>
        <a data-ajaxify='modal' href="<%= coding_details_path(@proj, s) %>"> More </a>
        |
        <%= new_tag_tag(:object => s) %>
      </span>
    </td>
  </tr>
<% end %>
