<div class="cell_coding_defaults_highlight" style="background-color:orange;"> 
  &#8592; Clicks applied with settings
</div>

<% if @chr.is_continuous? -%>

  <div>
    <%= hidden_field_tag("codings[0][ref_id]", @ref.andand.id)  -%>
    <%= hidden_field_tag("codings[0][confidence_id]", @confidence.andand.id) -%>
    <%= render(:partial => 'mxes/code/continuous_state_text_field', :locals => {:coding => @codings.first}) -%>
    <input type='submit' name="save" value='Save & Next' style="float:right;"> </input>
  </div> 
      
<% else %>
  <% @chr.chr_states.each_with_index do |cs, i| -%>
    <%= hidden_field_tag("codings[#{i}][ref_id]", @ref.andand.id)  -%>
    <%= hidden_field_tag("codings[#{i}][confidence_id]", @confidence.andand.id) -%>
    <%= hidden_field_tag("codings[#{i}][id]", cs.id) -%>
    <%= hidden_field_tag("checked[#{i}]", true) if !@codings[i].new_record? -%>

    <%= render(:partial => 'mxes/code/multistate_hidden_coding_fields', :locals => {:chr_state => cs, :otu => @otu, :chr => @chr, :index => i, :coding => @codings[i]}) -%>

  <div> 
    <div> <!-- check box -->
      <div style="float:left;">
        <% if @codings[i].new_record? %>
        <input type='submit' value="&#10004;" name="clicked[<%=i%>]" >               
        <% else %>
        <input type='submit' value="&#10008;" name="clicked[<%=i%>]" >
        <% end %>
      </div>

      <div style="float:left;">
        <input type="checkbox"  name="dummy" disabled <%= "checked" if !@codings[i].new_record? -%> >
      </div> 

      <div style="float:left;"> 
        <%= cs.s_and_m -%>
      </div>

      <br style="clear:both;" />
    </div>
  </div>

  <% end %>
<% end %>
