<%= @target == "update" ? "<h3>Edit project</h3>".html_safe : "" %>

<%= error_messages_for 'proj' %>
<%= link_to 'Cancel and back', :action => 'list' %>
<%= form_tag({:action => @target}, :method => "put") do %>

  <input type="submit" name="submit" value="<%= @target == "update" ? "Update" : "Create" %>" class="primary" />

  <div class="fr"> <label for="proj_name" class="lbl4">Name</label>
    <span class="fld">  <%= text_field 'proj', 'name', :size => 50 %></span>
  </div>

  <div class="fr"> <label for="proj_starting_tab" class="lbl4">Starting tab</label>
    <span class="fld">   <%= select 'proj', 'starting_tab', nav_tabs %></span>
  </div>

  <br/><br/>

  <div class="subform">
    <div class="header">Members</div>
    <div class="content">
      <% @people.in_groups_of(10, false).each do |grp| -%>
        <div style="float:left; padding: 2px;">
          <% for @person in grp %>
            <% if @proj.people.include? @person or (@target == "create" and @person.id == session[:person].id) %>
              <%= check_box_tag("people[" + @person.login + "]", value = "0", checked = true) %> <%= @person.login %><br />
            <% else %>
              <%= check_box_tag("people[" + @person.login + "]", value = "0", checked = false) %>  <%= @person.login %><br />
            <% end %>
          <% end %>
        </div>
      <% end %>
      <br style="clear: both;" />
    </div>
  </div>

  <table>
    <tr>
      <td>
        <div class="subform">
          <div class="header">Hidden navigation tabs (click to reveal)</div>
          <div class="content">
            <% for tab in navbars["main"] %>
              <%= check_box_tag("hidden_tabs[" + tab + "]", value = "1", checked = ( @proj.hidden_tabs and @proj.hidden_tabs.include?(tab))) %>
              <%= links[tab]['text'] %><br />
            <% end %>
          </div>
        </div>
      </td>
      <td>
        <div class="subform">
          <div class="header">Public Controllers</div>
          <div class="content">
            <% for c in @pub_controllers -%>
              <%= check_box_tag("public_controllers[" + c + "]", value = "1", checked = ( @proj.public_controllers and @proj.public_controllers.include?(c))) -%>
              <%= c %><br />
            <% end %>
          </div>
        </div>
      </td>
    </tr>
  </table>

  <h3> Advanced </h3>

  <div class="fr"> <label for="proj_public_server_name" class="lbl4">Public server name(s)</label>
    <span class="fld">   <%= text_field 'proj', 'public_server_name', :size => 50 -%></span>
  </div>

  <div class="fr"> <label for="proj_gmaps_API_key" class="lbl4">Public Google Maps API Key</label>
    <span class="fld"> <%= text_field 'proj', 'gmaps_API_key', :size => 110, :style => "font-size: 10;" -%></span>
  </div>

  <div class="fr"> <label for="proj_unix_name" class="lbl4">Unix name / subdomain</label>
    <span class="fld"> <%= text_field 'proj', 'unix_name', :size => 50 -%> <i> don't use '-', use '_' if you must </i></span>
  </div>

  <div class="fr"> <label for="proj_api_name" class="lbl4">API name</label>
    <span class="fld"> <%= text_field 'proj', 'api_name', :size => 50 -%> <i> must be included in public server name as well </i> </span>
  </div>

  <h3> Project wide default values </h3>

  <div class="fr"> <label for="proj_default_content_template_id" class="lbl4">Default content template</label>
    <span class="fld">   <%= render :partial => 'shared/picker', :locals => {
        :controller => 'content_templates',
        :object => 'proj',
        :method => 'default_content_template_id',
        :tag_id => "default_content_template_for_proj",
        :display =>(@proj.default_content_template.display_name if @proj.default_content_template)} -%></span>
  </div>

  <div class="fr"> <label for="proj_default_license" class="lbl4">Default License</label>
    <span class="fld"> <%= select "proj", "default_license", CONTENT_LICENSES.keys.sort.collect{|k| [CONTENT_LICENSES[k][:text], k]}, :include_blank => true %><em> required </em> <%= link_to "what's this?", "http://creativecommons.org/choose/", :target => '_blank' -%></span>
  </div>

  <div class="fr"> <label for="proj_default_copyright_holder" class="lbl4">Default copyright holder</label>
    <span class="fld"> <%= text_field "proj", "default_copyright_holder"  -%></span>
  </div>

  <div class="fr"> <label for="proj_public_tn_criteria" class="lbl4">Criteria for the public display of taxon names</label>
    <span class="fld"> <%= select "proj", "public_tn_criteria", Proj.tn_criteria_choices, { :include_blank => true } -%></span>
  </div>

  <div class="fr"> <label for="proj_repository_id" class="lbl4">Default institution/repository</label>
    <span class="fld"><%= render :partial => 'shared/picker', :locals => {
        :controller => 'repositories',
        :object => 'proj',
        :method => 'default_institution_repository_id',
        :tag_id => "repository_name",
        :display =>(@proj.default_institution.andand.display_name)} -%><i>visibility of public display of taxon names (largely deprecated)</i></span>
  </div>

  <div class="fr"> <label for="proj_collection_code" class="lbl4">Collection code</label>
    <span class="fld"> <%= text_field :proj, :collection_code -%></span>
  </div>

  <div class="fr"> <label for="proj_default_specimen_identifier_namespace_id" class="lbl4">Default specimen identifier namespace</label>
    <span class="fld">   <%= render :partial => 'shared/picker', :locals => {
        :controller => 'namespaces',
        :object => 'proj',
        :method => 'default_specimen_identifier_namespace_id',
        :tag_id => "default_default_specimen_identifier_namespace_id_for_proj",
        :display => (@proj.default_specimen_identifier_namespace.andand.display_name)} -%></span>
  </div>

  <h3> Pertaining to EOL </h3>

  <div class="fr"> <label for="proj_is_eol_exportable" class="lbl4">Is EOL exportable?</label>
    <span class="fld"> <%= check_box :proj, :is_eol_exportable -%></span>
  </div>

  <h3> Pertaining to GBIF </h3>

  <div class="fr"> <label for="proj_is_exportable_to_gbif" class="lbl4">Is GBIF exportable?</label>
    <span class="fld"> <%= check_box :proj, :is_exportable_to_gbif -%></span>
  </div>


  <h3> Pertaining to ontology </h3>

  <div class="fr"> <label for="proj_default_ontology_id" class="lbl4">Default Public Ontology</label>
    <span class="fld">  <%= select "proj", "default_ontology_id", Proj.find(:all).collect{|o| [o.name, o.id]} , { :include_blank => true } %></span>
  </div>

  <div class="fr"> <label for="proj_public_tn_criteria" class="lbl4">Ontology namespace (used in OBO export)</label>
    <span class="fld">   <%= text_field 'proj', 'ontology_namespace', :size => 32 -%></span>
  </div>

  <div class="fr"> <label for="proj_default_ontology_id" class="lbl4">Default root ontology class for ontology</label>
    <span class="fld"><%= render :partial => 'shared/picker', :locals => {
        :controller => 'ontology_classes',
        :object => 'proj',
        :method => 'default_ontology_class_id',
        :size => 40,
        :tag_id => "default_ontology_class_for_project",
        :display => (@proj.default_ontology_class.display_name if @proj.default_ontology_class) } -%></span>
  </div>

  <div class="fr"> <label for="proj_restrictor_keyword_id" class="lbl4">Ontology exclusion keyword</label>
    <span class="fld"><%= render :partial => 'shared/picker', :locals => {
        :controller => 'keywords',
        :object => 'proj',
        :method => 'ontology_exclusion_keyword_id',
        :size => 40,
        :tag_id => "ontology_exclusion_keyword",
        :display => (@proj.ontology_exclusion_keyword.display_name(:type => :simple) if @proj.ontology_exclusion_keyword)  } -%><i>keywords tagged with this keyword will subsequently restrict a term from being included in certain ontology functions</i></span>
  </div>

  <div class="fr"> <label for="proj_restrictor_keyword_id" class="lbl4">Ontology inclusion keyword</label>
    <span class="fld"><%= render :partial => 'shared/picker', :locals => {
        :controller => 'keywords',
        :object => 'proj',
        :method => 'ontology_inclusion_keyword_id',
        :size => 40,
        :tag_id => "inclusion_keyword_for_project",
        :display => (@proj.ontology_inclusion_keyword.display_name(:type => :simple) if @proj.ontology_inclusion_keyword)  } -%><i>opposite of above</i></span>
  </div>

  <div class="fr"> <label for="proj_obo_remark" class="lbl4">OBO remark</label>
    <span class="fld">  <%= text_area 'proj', 'obo_remark', :rows => 5 %></span>
  </div>


  <br style="clear: both;" />


  <input type="submit" name="submit" value="<%= @target == "update" ? "Update" : "Create" %>" class="primary" />
<% end -%>
