<% if not @tmplt.blank? %>

<table style="font-size: smaller;">
	<tr>
		<td></td>
		<% for t in @tmplt.content_types  %> 
		<td> <%= t.display_name -%> </td>
		<% end %>
	</tr>

	<% for o in @otu_group.otus  -%>
      <tr>
          <td> <%= link_to(o.display_name(:type => :multi_name), :action => :show_content, :controller => :otus, :id => o) -%> </td>
          <% for t in @tmplt.content_types  %> 
            <% @c = Content.find_by_otu_id_and_content_type_id(o.id, t.id) %>
              <% if @c and not @c.text.blank? %>
              <td class="passed"> <%= link_to(truncate(@c.text, 35, '...'), :action => 'show_compare_content', :controller => :otus, :id=> o.id, :content_type_id => t.id)  -%> </td>
              <% else %>
              <td class="failed" style="text-align: center;"><%= link_to('edit', :action => 'show_compare_content', :controller => :otus, :id=> o.id, :content_type_id => t.id)  -%></td>
              <% end %>
          <% end %>   
      </tr>
    <% end %>

	<tr>
		<td></td>
		<% for t in @tmplt.content_types  %> 
		<td> <%= t.display_name -%> </td>
		<% end %>
	</tr>
    
</table>

<% else %>
  <p><i> Choose a content template from the dropdown above.</i></p>
<% end %>
