<div class='navigator'>
  <%= navigator2(:obj => @taxon_name, :do => session['taxon_name_view'], :ord => 'id') -%> 

  <% ['immediate child otus', 'taxonomic history', 'tags', 'images', 'summary', 'type material', 'material' ].each do |l| -%>
    <%= show_nav_link(:obj => @taxon_name, :link => l)  -%>
  <% end %>

  <div class="category">reports</div>
  <div class="item"> <%= link_to('taxon name report', :action => 'report_taxon_names', :id => @taxon_name.id) -%> </div>  
  <div class="item"> <%= link_to('ITIS dump', :action => 'report_ITIS_dump', :id => @taxon_name.id) -%> </div>  

  <div class="category">other</div>
  <div class="item"> <%= link_to('rebuild display name', :action => 'rebuild_cached_display_name', :id => @taxon_name) %> </div>  
</div>
