<h3>Editing taxon name</h3>
<%= @taxon_name.display_name %>  <span style="color: gray"> id: <%= @taxon_name.id %></span> 
<%= form_tag({:action => 'update'}, :method => "put") do -%>
<div style="padding:1em;"> 
  <%= submit_tag 'Edit' %>
  <%= render :partial => 'form' %>
  <%= render :partial => '/identifiers/subform' -%>
</div>
<% end -%>
