<h3>Listing character groups</h3>
<table> 
  <tr>
    <td>Name</td>
    <td>default? <%= link_to "(clear)", :action => 'clear_default' -%></td>
    <td>ID</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
 
    <td>Position <%= link_to("(reset!)", { :action => 'reset_position'}, :confirm => "Reset the position of all your character groups?") -%></td>
  </tr>
  <% @chr_groups.each do |chr_group| -%>
  <tr>
      <td><%= link_to chr_group.name, :action => 'show', :id => chr_group.id -%></td>
      <% my_url = url_for :action => 'make_default', :id => chr_group.id -%>
      <td><%= check_box_tag("foo#{chr_group.id}", "1", (session['group_ids'] && session['group_ids']['chr']) && session['group_ids']['chr'] == chr_group.id.to_s, {:onclick => "document.location.href='#{my_url}'"}) -%></td>
      <td><%= chr_group.id -%></td>
      <td><%= link_to('Edit', :action => 'edit', :id => chr_group.id) -%></td>
      <td><%= link_to('Destroy', {:action => 'destroy', :id => chr_group.id}, :method => "post", :confirm => 'Destroy this character group?') -%></td>

      <td>   
      <div class="navigator">
        <div class="navigator_buttons">
          <%= link_to('<span class="navigator_button">&lt;&lt;</span>'.html_safe, :controller => 'chr_groups', :action => 'move',  :move => 'move_to_top',  :id => chr_group.id) -%>
          <%= link_to('<span class="navigator_button">&lt;</span>'.html_safe, :controller => 'chr_groups', :action => 'move',  :move => 'move_higher', :id => chr_group.id) -%>
          <%= link_to('<span class="navigator_button">&gt;</span>'.html_safe, :controller => 'chr_groups', :action => 'move',  :move => 'move_lower', :id => chr_group.id) -%>
          <%= link_to('<span class="navigator_button">&gt;&gt;</span>'.html_safe, :controller => 'chr_groups', :action => 'move',  :move => 'move_to_bottom',  :id => chr_group.id) -%>
        </div>
      </div>
      </td>  
    </tr>
  <% end -%>
</table>
