<% content_for(:center) do -%>

<% if @ontology_class.is_obsolete -%>
  <p class="failed" style="text-align:center; padding: 5px;"> <strong> THIS CLASS IS OBSOLETE </strong> </p>
<% end -%>

<div> <!-- ontology class base  -->
  <%= render :partial => 'oc', :object => @ontology_class -%>

  <div style="margin-left: 0.2em; padding:0.2em;">
    <div> Is a parents: <strong> <%= @ontology_class.is_a_parents.sort{|a,b| a.preferred_label.name <=> b.preferred_label.name}.collect{|o| link_to(o.preferred_label.name, :action => :show, :id => o.id) }.join(", ").html_safe -%></strong></div>
    <div> Part of parents: <strong> <%= @ontology_class.part_of_parents.sort{|a,b| a.preferred_label.name <=> b.preferred_label.name}.collect{|o| link_to(o.preferred_label.name, :action => :show, :id => o.id)}.join(", ").html_safe -%></strong></div>
  </div>

  <% if @ontology_class.relationships_are_sufficient %>
  <div><strong>Note: this class has a logical definition.</strong></div>
  <% end %>

  <br style="clear:both;" />
</div>

<%= render :partial => 'sensus/sensus', :locals => {:sensus => @ontology_class.sensus.ordered_by_position, :parent_id => @ontology_class.id, :sensus_for => "class"} -%>

<%= render :partial => "ontology_relationships/details" %>

<% end -%>
