<div class="browse_rec">
  <div id ="img_<%= "#{i.id}" -%>" class="browse_thumb" <%= (i.image.is_morphbank == true) ? 'style="background-color: #b1c2e6;"' : '' -%> >
    <%= link_to(image_thumb_tag(i.image), :action => 'show', :controller => 'image', :id => i.image) -%>
    <div class="box1" >
      <div class="browse_otu"><%= i.otu ? i.otu.display_name(:type => :dual_name) : '<em>see specimen</em>' -%></div>
      <div class="browse_part_view"><%= i.display_name(:type => :label_view) -%></div>
      <%# expanding info code went here %>
    </div>
    <table>
      <tr>
        <td style="color: #666;">id: <%= i.image.id -%></td>
      </tr>
    </table>
  </div>
</div>
