<div class="show_category">Editing lot</div> 
<%= form_tag :action => 'update', :id => @lot do -%>
<div class="fr"><span class="fld"><%= submit_tag "Edit" -%></span></div>
<%= render :partial => "form" %>

<div class="show_category">Existing Lot Identifiers</div>
<ul style=" list-style-type: square;">
  <% @lot.identifiers.each do |id| %>
  <li>
    <%= id.cached_display_name %> <%= link_to "x", {:controller => "lot", :action => "destroy_identifier", :id => id.id}, :method => "post" -%>
  </li>
  <% end %>
</ul>

<div class="subform">
  <div class="header">Add an Identifier</div>
  <%= render(:partial => '/identifier/form') -%>
  <br style="clear: both;" />
</div>

<div class="fr"><span class="fld"><%= submit_tag "Edit" -%></span></div>
<br style="clear:both;"/>
<% end -%>
