<%= error_messages_for 'taxon_hist' %>

<!-- [form:taxon_hist] -->

<% if !@in_taxon_hists %>
  <input id="taxon_name_id" name="taxon_hist[taxon_name_id]" type="hidden" value="<%= @taxon_name.id %>" /> 
<% else %>

  <div class="fr"> <label for="taxon_hist_taxon_name_id" class="lbl4">For taxon name:</label>
    <span class="fld">  <%= render :partial => "taxon_name/picker", :locals => {
    :object => 'taxon_hist', :method => 'taxon_name_id', :tag_id => "taxon_name", 
    :display => @taxon_hist.taxon_name.andand.display_name(:type => :for_select_list) } %></span>
  </div>

<% end %>

<div class="fr"> <label for="taxon_hist_taxon_name_status_id" class="lbl4">Reason this name is not valid</label>
    <span class="fld"> <%= render :partial =>'taxon_name_status/picker', :locals => {:c_name => 'taxon_hist', :f_name => 'taxon_name_status_id'} -%>(leave blank if valid)</span>
</div>

<br/>

<div class="box1" style="margin: 1em;">
  <div class="header">Applies to</div>
   
  <div class="fr"> <label for="taxon_hist_higher_taxon_id" class="lbl4">Higher taxon</label>
      <span class="fld"> <%= render :partial => "taxon_name/picker", :locals => {
        :object => 'taxon_hist', :method => 'higher_id', :tag_id => "taxon_hist_higher_id",
        :display => @taxon_hist.higher_taxon.andand.display_name(:type => :for_select_list) } -%></span>
  </div>

  <i> or combination </i>

  <div class="fr"> <label for="taxon_hist_genus_id" class="lbl4">Genus</label>
      <span class="fld"> <%= render :partial => "taxon_name/picker", :locals => {
  :object => 'taxon_hist', :method => 'genus_id', :tag_id => "genus", :name_group => 'genus',
  :display => @taxon_hist.genus.andand.display_name(:type => :for_select_list) } %></span>
  </div>

  <div class="fr"> <label for="taxon_hist_subgenus_id" class="lbl4">Subgenus</label>
      <span class="fld"><%= render :partial => "taxon_name/picker", :locals => {
  :object => 'taxon_hist', :method => 'subgenus_id', :tag_id => "subgenus", :name_group => 'genus',
  :display => @taxon_hist.subgenus.andand.display_name(:type => :for_select_list) } %></span>
  </div>

  <div class="fr"> <label for="taxon_hist_species_id" class="lbl4">Species</label>
      <span class="fld"><%= render :partial => "taxon_name/picker", :locals => {
  :object => 'taxon_hist', :method => 'species_id', :tag_id => "species", :name_group => 'species',
  :display => @taxon_hist.species.andand.display_name(:type => :for_select_list) } %></span>
  </div>

  <div class="fr"> <label for="taxon_hist_subspecies_id" class="lbl4">Subspecies</label>
      <span class="fld"><%= render :partial => "taxon_name/picker", :locals => {
  :object => 'taxon_hist', :method => 'subspecies_id', :tag_id => "subspecies", :name_group => 'species',
  :display => @taxon_hist.subspecies.andand.display_name(:type => :for_select_list) } %></span>
  </div>

  <div class="fr"> <label for="taxon_hist_varietal_id" class="lbl4">Variety/Form/Infraspecific</label>
      <span class="fld"><%= render :partial => "taxon_name/picker", :locals => {
  :object => 'taxon_hist', :method => 'varietal_id', :tag_id => "variety", :name_group => 'all',
  :display => @taxon_hist.varietal.andand.display_name(:type => :for_select_list) } %></span>
  </div>

  <div class="fr"> <label for="taxon_hist_varietal_id" class="lbl4">Variety/Form usage</label>
      <span class="fld"> <%= select("taxon_hist", "varietal_usage", ['variety', 'form' ], { :include_blank => true }) %></span>
  </div>

  <div class="fr"> <label for="taxon_hist_author" class="lbl4">Author</label>
      <span class="fld">  <%= text_field 'taxon_hist', 'author', 'title' => 'taxonomic author'  %></span>
  </div>

  <div class="fr"> <label for="taxon_hist_author" class="lbl4">Year</label>
      <span class="fld">  <%= text_field 'taxon_hist', 'year', 'title' => 'year name was valid', :size => 6  %></span>
  </div>
  <br style=" clear:both;" />
</div>

<div class="fr"> <label for="taxon_hist_ref_id" class="lbl4">Reference</label>
    <span class="fld"><%= render :partial => "ref/picker", :locals => {
:object => 'taxon_hist', :method => 'ref_id', :tag_id => "taxon_hist_ref", 
:display => (@taxon_hist.ref.display_name if @taxon_hist.ref) } %></span>
</div>

<div class="fr"> <label for="taxon_hist_ref_page" class="lbl4">Pages</label>
    <span class="fld"><%= text_field 'taxon_hist', 'ref_page', 'title' => 'pages in reference'  %></span>
</div>

<div class="fr"> <label for="taxon_hist_ref_page" class="lbl4">Notes</label>
    <span class="fld"><%= text_area 'taxon_hist', 'notes', 'title' => 'notes about taxonomic name', :cols => 60, :rows => 3  %></span>
</div>

<br style="clear: both;" />
<!--[eoform:taxon_hist]-->
