<% name_group ||= 'all' -%>
<% use_proj ||= 'true' -%>
<% url = url_for(:controller => 'taxon_hist', :action => 'auto_complete_for_taxon_hist',
    :tag_id => tag_id, :name_group => name_group, :use_proj => use_proj) -%>

<input autocomplete="off" title="find and select a taxon history from the database" class="ajaxPicker" id="<%= tag_id %>" name="<%= tag_id %>" size="40" type="text" value="<%= display %>" />
<div class="auto_complete" id="<%= tag_id %>_auto_complete"></div>

<script type="text/javascript">
function loadResult<%= method %>(element,selectedElement)
{
  $('<%= object %>_<%= method %>').value = selectedElement.id.split('::')[1];
}
    
new Ajax.Autocompleter('<%= tag_id %>', '<%= tag_id %>_auto_complete', 
'<%= url %>',
 { afterUpdateElement: loadResult<%= method %> })
</script>

<%= hidden_field object, method  %>
