<h3> Verify batch collecting event load </h3>

<div> The following <strong><%= @ces.size -%></strong> labels were read. </div>

<div>If you do not wish to import the label uncheck the checkbox.</div>

<%= form_tag(:action => 'batch_create') do %>
<%= submit_tag("Create") %>
  <% i = 0 %>
  <% for c in @ces do %>
    <% i += 1 %>
    <p> 
        <%= text_area("ce", i, :value => c, :rows => c.count("\n") ) %>  
        <%= check_box_tag("check[#{i}]", '1', true ) %>  
    </p>
  <% end %>

<% end %>
