<h3>Listing image descriptions</h3>
<%= paginate(@image_descriptions, :total_count => @image_descriptions.total_count) %>
<table class="record_list">
  <tr>
  <% for column in ImageDescription.content_columns %>
    <th><%= column.human_name %></th>
  <% end %>
  </tr>
  
<% for image_description in @image_descriptions %>
  <tr>
  <% for column in ImageDescription.content_columns %>
    <td><%=h image_description.send(column.name) %></td>
  <% end %>
    <td><%= link_to 'Show', :action => 'show', :id => image_description %></td>
    <td><%= link_to 'Edit', :action => 'edit', :id => image_description %></td>
    <td><%= link_to 'Destroy', {:action => 'destroy', :id => image_description}, :confirm => 'Are you sure?' %></td>
  </tr>
<% end %>
</table>
<%= paginate(@image_descriptions, :total_count => @image_descriptions.total_count) %>
