<% if not @otu_pages.blank? %>
  <%= render(:partial => 'shared/page_nav_scope', :locals => {:pages => @otu_pages}) -%>
  <%= render(:partial => 'shared/page_nav', :locals => {:pages => @otu_pages}) -%>
<% end %>
<table>
  <%= t_col_heads( [{'name' => "", 'style' => 'width: 50%;'}, "id", "mod by", "mod age"] ) -%>
  <% @otus.each_with_index do |otu, i| -%>
  <tr class="<%= (i % 2 == 0 ? 'stripe' : "") -%>"> 
    <td> <%= link_to(otu.display_name(:type => :multi_name), :action => 'show', :id => otu) -%></td>
      <%= t_row({ 'obj' => otu, 'open_tr' => false, 'inc_actions' => true,
        'cell_data' => [
        otu.id.to_s,
        otu.m_by,
        time_ago_in_words(otu.updated_on)] } ) -%>
  <% end -%>
</table>
<br />

<%= render(:partial => 'shared/page_nav', :locals => {:pages => @otu_pages}) if not @otu_pages.blank? -%>

<% javascript_tag do  %>
  bind_class_to_spinner('ajax_page_nav_link', 'pg_spinner');
<% end %>
