<%= error_messages_for 'otu' %>
<%= hidden_field "otu", "id" %>

<div class="fr"> <label for="otu_taxon_name_id" class="lbl4">Taxon name</label>
  <span class="fld"><%= render :partial => "shared/picker", :locals => {
    :controller => 'taxon_name',
    :object => 'otu',
    :method => 'taxon_name_id',
    :use_proj => true,
    :tag_id => "taxon_name",
    :display => @otu.taxon_name.andand.display_name(:type => :for_select_list),
    :size => 80,} -%> </span>
</div>

<div class="fr"> <label for="otu_name" class="lbl4">Name</label>
  <span class="fld"><%= text_field "otu", "name", 'title' => 'a general purpose name' %></span>
</div>
    
<div class="fr"> <label for="otu_sensu" class="lbl4">Sensu (a person who came up with this unpublished OTU concept)</label>
  <span class="fld"><%= text_field "otu", "sensu", 'title' => 'person whose concept this is' %></span>
</div>

<div class="fr"> <label for="otu_manuscript_name" class="lbl4">Manuscript name</label>
  <span class="fld"><%= text_field "otu", "manuscript_name", 'title' => 'unpublished manuscript name' %></span>
</div>

<div class="fr"> <label for="otu_matrix_name" class="lbl4">Matrix name</label>
  <span class="fld"><%= text_field "otu", "matrix_name", 'title' => 'name in phylogenetic matrix' %></span>
</div>

<div class="fr"> <label for="otu_syn_with" class="lbl4">Synonymous with (another OTU)</label>
  <span class="fld"><%= render :partial => "shared/picker", :locals => {
    :controller => 'otu',
    :object => 'otu',
    :method => 'syn_with_otu_id',
    :tag_id => "syn_otu_name",
    :display => @otu.syn_otu.andand.display_name(:type => :for_select_list),
    :size => 80,} -%> </span>
</div>

<div class="fr"> <label for="otu_iczn_group" class="lbl4">ICZN group</label>
  <span class="fld"><%= select("otu", "iczn_group", TaxonName::ICZN_RANKS, { :include_blank => true }) %></span>
</div>

<div class="fr"> <label for="otu_as_cited_in" class="lbl4">As cited in</label>
  <span class="fld"><%= render :partial => "shared/picker", :locals => {
    :controller => 'ref',
    :object => 'otu',
    :method => 'as_cited_in',
    :tag_id => "ref_id_to_find_for_otu",
    :display => (@otu.ref.display_name if @otu.ref),
		:size => 60 } -%></span>
</div>

<div class="fr"> <label for="otu_notes" class="lbl4">Notes</label> <span class="small_grey">(you should likely be using Content instead!)</span>
  <span class="fld">  <%= text_area "otu", "notes", 'title' => 'strictly functional notes, content should be included in Content', :rows => 3, :cols => 60 %></span>
</div>

<p style="clear:both;"></p>
