<% content_for :center do -%>

  <div class="show_rec">

    <div class="show_row"><span class="show_lbl">Is public?: </span><span class="show_data"><%= @otu_group.is_public -%></span></div>
    <%= render(:partial => '/shared/show/record/record_details', :locals => {:obj => @otu_group}) -%>


    <div class="show_category"> Members <%= @otu_group.otus.count -%> </div>

    <div>
      <%= form_tag url_for(:action => :sort_by_select, :id => @otu_group.id),{:class => "subform", :style => 'display:inline; float: right;'}  do -%>
        Reorder by <%= select_tag('sort_by', options_for_select(Otu.columns.collect{|n| n.name.to_s.gsub(/_/, " ")} - ["proj id"], nil)) -%>
        <%= submit_tag "sort" -%>
      <% end -%>
    </div>

    <div>
      <p><i> Drag to sort.</i> </p>
      <table id="otus"
          style="margin-left: 2em;"
          data-sortable
          data-sortable-items="tr"
          data-sortable-on-change-url="<%= url_for(:action=>'sort_otus')%>">

        <% @otus_in.each do |otugo| -%>
          <%= content_tag_for :tr, otugo do -%>
            <td class="handle"><%= render("shared/drag_handle")%></td>
            <td> <%= otugo.otu.id -%> </td>
            <td>
              <%= link_to('foo'.html_safe, :action => :show, :id => otugo.otu.id, :controller => :otu) -%>
            </td>
            <td>
              <a data-ajaxify='submit' href="<%= url_for(:action=>:remove_otu, :id => @otu_group.id, :otu_id => otugo.otu.id, :controller => :otu_group) %>">x</a>
            </td>
          <% end %>
        <% end %>
      </table>
    </div>

    <div class="subform">
      <%= form_tag :action => 'edit_multiple_content', :otu_group_id => @otu_group.id do %>
        <h4 style="display: inline;"> <input type="submit" name="submit" value="edit" /> or  <input type="submit" name="submit" value="show" /> members for content: </h4>
          <%= render :partial => 'content_type/picker', :locals => {:c_name => 'content_type', :f_name => 'id'} -%>
        <% end %>
    </div>

  </div>


<% end -%>

<% content_for :right do -%>

  <div class="subform">
    <div class="header">Add a single OTU</div>
    <div class="content">
      <%= form_tag :action => 'add_otu', :id => @otu_group.id do -%>
        <%= render :partial => 'shared/picker', :locals => {
          :controller => 'otu',
          :object => 'otu',
          :method => 'id',
          :tag_id =>  "otu_name",
          :display =>  "",
          :css_class => 'ajaxPickerSmall',
          :size => 30} -%>
        <input type="submit" value="add" />
      <% end -%>
    </div>
  </div>

  <div class="subform">
    <div class="header">Add/subtract another OTU group</div>
    <div class="content">
      <p><i> A one time addition of subtraction of OTUs to this group. See help.</i></p>
      <%= form_tag :action => 'combine', :id => @otu_group do -%>

        <%= select_tag('operation', options_for_select(['add', 'subtract'], 'add')) %>
        <%= render :partial => 'shared/picker', :locals => {
          :controller => 'otu_group',
          :object => 'group_to_find',
          :method => 'id',
          :tag_id => "otu_group_to_merge",
          :display => "",
          :size => 30,
          :css_class => 'ajaxPickerSmall' } -%>

        <%= submit_tag 'submit' -%>
      <% end -%>

    </div>
  </div>

<% end -%>
