<%= render(:partial => 'shared/page_nav_scope', :locals => {:pages => @sensu_pages}) -%>
<%= render(:partial => 'shared/page_nav', :locals => {:pages => @sensu_pages}) -%>
<table>
  <%= t_col_heads( ["label", "class", {'name' => "reference", "style" => "width: 150px"}, "notes", "id", "mod by", "mod on"] ) -%>
  <% @sensus.each_with_index do |s, i| -%>
    <%=  t_row({ 'obj' => s, 'tr_css' => i, 
    'cell_data' => [ 
    link_to(s.label.display_name, :action => :show, :controller => :label, :id => s.label),
    link_to(s.ontology_class.definition, :action => :show, :controller => :ontology_class, :id => s.ontology_class),
    short_ref_link_tag(s.ref),
    s.notes,
    s.id,
    s.updator.display_name,
    time_ago_in_words(s.updated_on)
    ] }) -%>
  <% end -%>
</table>
<br />
<%= render(:partial => 'shared/page_nav', :locals => {:pages => @sensu_pages}) -%>
