<!-- with some hints from http://demo.script.aculo.us/ajax/update_element -->
<div id="sensu_to_close" class="popupform" style="width: 500px;">
  <div>
    <span class="small_form_button" style="float: right;" >
      <%= link_to_function("cancel", nil, :id => "cancel_link") do |page|
            page[:sensu_to_close].remove
          end
       -%>
    </span> 
  </div>
  <br style="clear: both;">
  <%= form_remote_for :sensu, :html => {:id => "sensu_to_close"}, :url => url_for(:action => "create") do |f| %>
   <%= submit_tag "Create" -%>
      <%= render :partial => 'sensu/form', :locals => {:f => f} -%>
      <%= submit_tag "Create" -%>
  <% end -%>
</div>
