<div class="box4">
  <div class="header"> Sensus for <%= sensus_for -%> <span style="font-size:smaller;">(<%= sensus.size  -%>)</span>
    <%= image_tag('/images/spinner.gif', :alt => 'Updating', :id => 'sensu_move_spinner', :style => "display: none; vertical-align:middle;"  ) -%> 
  </div>
  <div class="content">
    <p><i>new sensus added to bottom of list</i> &nbsp;&nbsp;&nbsp; <%= link_to('jump to next w/o sensus', :action => :show_next_without, :filter => :without_sensus, :id => parent_id, :controller => :ontology_class) -%>  <em style="float: right;"> drag to reorder (page refresh required if new sensus added to list) </em></p>
    <div style="padding: 2px; border-bottom: 1px dotted silver; width: 100%; font-weight:bolder;">
      <div style="float:left; width: 20%;"> label </div> 
      <div style="float:left; width: 38%;"> class </div>
      <div style="float:left; width: 25%;"> reference </div>
      <div style="float:left; width: 10%;"> modified </div>
      <div style="float:left; width: 3%;"> </div> 
      <br style="clear: both;">
    </div>
    <ul id="sensus_for_<%= sensus_for + "_" + parent_id.to_s -%>" style="border:0; padding: 0; list-style-type:none;">
      <%= render(:partial => '/sensu/s', :collection => sensus) -%>
    </ul>
  </div>
</div>

<%= sortable_element("sensus_for_#{sensus_for}_#{parent_id.to_s}", :url => {:action => 'sort_sensus', :controller => 'sensu'}, :handle => 'handle',  :loading => "Element.show('sensu_move_spinner')", :complete => "Element.hide('sensu_move_spinner')" )-%>
