<div id="inner_wrapper">
  <div id="inner_header" style="text-align: center;"> 
	<%= show_header_tag(@sensu) -%>
  </div>

  <div id="inner_container"  <%= 'style="padding-right: 0;"' if @no_right_col -%>>

    <%# CENTER COLUMN %> 
    <div id="inner_center" class="column">  
      <% @part = 'center' %>
      <% for s in @show %>    
        <%= render :partial => (s) %>
      <% end %>
    </div>

    <%# LEFT COLUMN %>
    <div id="inner_left" class="column">
      <%= render(:partial => 'navigator') %> 
    </div>

    <%# RIGHT COLUMN %>

    <div id="inner_right" class="column" <%= 'style="width: 0; margin-right: 0;"' if @no_right_col -%> >
    <% @part = 'right' %>

    <% for s in @show %>
      <%= render :partial =>(s) %>
    <% end %>
    </div>
      
  </div> <%# end inner_container %> 
   
  <%# FOOTER (this will ultimately change) %>
  <div id="inner_footer"> 

  </div>
</div>


  





















