<div> <%# don't (re)move me! %>
  <% if @part == 'center' %>
    <p><b>Coding:</b></p>

    <p><%=@otu.display_name %> (matrix name: <%= @otu.display_name(:type => :matrix_name) -%>)&nbsp;<span class="small_grey">id: <%= link_to(@otu.id, :action => 'show', :controller => 'otus', :id => @otu) %></span></p>

    <i>for</i>

    <div>
      <p><%=@chr.name%> <span class="small_grey"> &nbsp;id: <%= link_to(@chr.id, :action => 'show', :controller => 'chrs', :id => @chr) %></span></p>
      <%= form_tag :action => 'show_code', :id => @mx.id, :otu_id => @otu.id, :chr_id => @chr.id do %>
        <% for state in @chr.chr_states %>
          <% if s = state.coded?(@otu.id) %>
            <input type="checkbox" name="state[<%= state.id %>]" value="1" checked="checked"/> <%= state.s_and_m -%>
            <%= render(:partial => 'tag/t', :locals => {:tags => s.tags, :del => true}) if s.tags.size > 0 %>
            <br />
          <% else %>
            <input type="checkbox" name="state[<%= state.id -%>]" value="1" /> <%= state.s_and_m -%> <br />
          <% end -%>
          <input name="state[<%= state.id -%>]" type="hidden" value="0" />
        <% end %>
        <br />
        <input type="submit" value="submit" />
      <% end -%>
    </div>

    <h3> figures / &nbsp;tag</h3>
    <div class="box5" style="padding: .6em;">
      <% for state in @chr.chr_states -%>
        <div style="clear: both;">
          <b><%= state.s_and_m  -%></b>   <% if s = state.coded?(@otu.id) %>&nbsp;<%= new_tag_tag(:object=>s) -%> <% end -%><br/>
          <%= render_figs_for_obj(state, 'thumb') -%>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
