<div id="<%= "fm_form_#{(figure_marker.new_record? ? 'new' : figure_marker.id)}" -%>">
  <%= error_messages_for 'figure_marker' -%>

  <% remote_form_for(:figure_marker, :url => {:controller => :figure_marker, :action => (figure_marker.new_record? ? 'create' : 'update'), :figure_id => @figure, :figure_marker_id => figure_marker.id}, :html => {}) do |f| -%>
  <%= f.hidden_field('position') if !figure_marker.new_record?  %>

  <div style="width: 100%;">
    <div style="width:75%; float:left;"><%= f.text_area :svg, {:style => 'width: 98%', :rows => 6} -%></div>
    <div style="width:10%; float:left;"><%= f.select :marker_type, FigureMarker::FIGURE_MARKER_TYPES.collect{|t| t.to_s},:selected => 'area' -%></div>
    <div style="width:5%; float:left;">&nbsp;</div>
    <div style="width:10%; float:left;"><%= submit_tag 'save' -%></div>
  </div>
  <br style="clear: both;" /> 
  <% end %><!-- end form -->

</div>
