<%= error_messages_for 'part' %>

<!--[form:part]-->
<p><label for="part_name">Name</label><br/>
<%= text_field 'part', 'name', 'title' => 'name of body part'  %></p>

<p><label for="part_abbrev">Abbreviation</label><br/>
<%= text_field 'part', 'abbrev', 'title' => 'abbreviation for this body part'  %></p>

<p><label for="part_ref_id">Referenced in</label><br/>
      <%= render :partial => "ref/picker", :locals => {
        :object => 'part', :method => 'ref_id', :tag_id => "part_ref_name", 
        :display => (@part.ref.display_name if @part.ref) } %></p>

<p><label for="part_ref_page">Ref page</label><br/>
<%= text_field 'part', 'ref_page', :size => 4  %></p>

<p><label for="part_description">Description (for display)</label><br/>
<%= text_area 'part', 'description', 'title' => 'description of this part for display' , :rows => 5, :cols => 60  %></p>

<p><label for="part_notes">Notes</label><br/>
<%= text_area 'part', 'notes', 'title' => 'notes about this part', :rows => 3, :cols => 60  %></p>

<!--[eoform:part]-->

