<h3>Listing confidences</h3>
<div>
  <p><i> Drag to sort, topmost is most confident. </i>
    <%= image_tag('/images/spinner.gif', :alt => 'Updating', :id => 'move_spinner', :style => "display: none; vertical-align:middle;"  ) -%>
  </p>

  <ul id="confidences"
    data-sortable
    data-sortable-on-change-url="<%= sort_confidences_path %>"
    data-sortable-items="li.confidence"
    data-sortable-handle='.drag-handle' >
    <%= @confidences.each do |c| -%>
      <%= content_tag_for :li, c do -%>
        <%= render 'shared/drag_handle' %>
        <span> &nbsp; <%= c.id -%></span> &nbsp;
        <% bg_color = "##{c.html_color.blank? ? "ffffff" : c.html_color}"
           fg_color = contrasting_text_color(bg_color)
        %>
        <span style="background-color:<%=bg_color-%>;">
          <a href="<%= confidence_path(@proj, c)%>" style='color:<%= fg_color%>'>
            <%= c.display_name.html_safe %>
          </a>
        </span>
        <%= "(#{c.short_name})" if c.short_name -%>
        &nbsp; <%= link_to 'Edit', :action => 'edit', :id => c -%>
        &nbsp; <%= link_to 'x', {:action => 'destroy', :id => c}, :confirm => "Are you sure?" -%>
     <% end -%>
   <% end -%>
  </ul>
</div>
