<%= error_messages_for 'measurement' -%>

<!--[form:measurement]-->

<div class="fr"><label for="measurement_specimen_id" class="lbl4">Specimen</label>
  <span class="fld">
    <% if @specimen %>
      <%= @specimen.display_name -%><%= hidden_field("measurement", "specimen_id", :value => @specimen.id) -%>
    <% else %>
      <%= render :partial => 'shared/picker', :locals => {
      :controller => 'specimens',
      :object => 'measurement',
      :method => 'specimen_id',
      :tag_id => "specimen_for_measurement",
      :size => 50,
      :display => (@measurement.specimen ? @measurement.specimen.display_name(:type => :selected) : '')
      } -%>
    <% end %><%= check_box(:lock, :specimen, :checked => (@specimen ? true : false )) -%><i>lock </i>
  </span>
</div>

<div class="fr"><label for="measurement_standard_view_id" class="lbl4">Standard view</label>
  <span class="fld">
    <% if @standard_view %>     
      <%= @standard_view.display_name -%><%= hidden_field("measurement", "standard_view_id", :value => @standard_view.id) -%>
    <% else %>
      <%= render :partial => 'shared/picker', :locals => {
        :controller => 'standard_views',
        :object => 'measurement',
        :method => 'standard_view_id',
        :tag_id => "standard_view_to_find",
        :size => 50,
        :display => (@measurement.standard_view ? @measurement.standard_view.display_name : '')
      } -%>
    <% end -%><%= check_box(:lock, :standard_view, :checked => (@standard_view ? true : false )) -%><i>lock </i>
  </span>
</div>

<div class="fr"><label for="measurement_measurement" class="lbl4">Measurement</label>
  <span class="fld"><%= text_field 'measurement', 'measurement' -%></span>
</div>

<div class="fr"><label for="measurement_units" class="lbl4">Units</label>
  <span class="fld">
    <% if @units %>
      <%= @units -%><%= hidden_field("measurement", "units", :value => @units) -%>
    <% else %>
      <%= select("measurement", "units", ['mm', 'cm', 'inches', 'um', 'reticle', 'other'], { :include_blank => true }) -%>
    <% end %><%= check_box(:lock, :units, :checked => (@units ? true : false )) -%><i>lock </i>
  </span>
</div>

<div class="fr"><label for="measurement_conversion_factor" class="lbl4">Conversion Factor</label>
  <span class="fld">
    <% if @conversion_factor %>
       <%= @conversion_factor -%><%= hidden_field("measurement", "conversion_factor", :value => @conversion_factor) -%>
    <% else %>
      <%= text_field 'measurement', 'conversion_factor'  -%> 
    <% end %><%= check_box(:lock, :conversion_factor,  :checked => (@conversion_factor ? true : false )) -%><i>lock </i>
  </span>
</div>

<!--[eoform:measurement]-->
