
  <div class="header"> Type information</div>
  <% if @type_assignments.size > 0 %>
  <h4> Assigned as type to</h4>
  <ul>
    <% @type_assignments.each do |t| -%>
    <li> <%= t.display_name %>  <%= link_to('show type information', :action => 'show_type_material', :controller => 'taxon_name', :id => t.id) -%></li>
      <% end -%> 
    </ul>
  <% else %>
  <i> Specimen not presently assigned as type of any specimen. </i>
  <% end -%>

<div class="subform">
  <h4> Associate as type of:</h4>

  <div class="fr"><label for="type_specimen_taxon_name_id"  class="lbl4">Taxon name</label>
    <span class="fld"> <%= render :partial => "taxon_name/picker", :locals => {
      :object => 'type_specimen', :method => 'taxon_name_id', :tag_id => "taxon_name_to_find", 
      :display => (@type_specimen ? @type_specimen.taxon_name.andand.display_name(:type => :selected) : '') } -%><em> Empty if OTU provided. </em></span>
  </div>

  <% if !@taxon_name -%><!-- Don't display on taxon name forms. -->

  <div class="fr"> <label for="type_specimen_otu_id" class="lbl4">OTU (unpublished concept)</label>
    <span class="fld"> <%= render :partial => "shared/picker", :locals => {
      :controller => 'otu',
      :object => 'type_specimen',
      :method => 'otu_id',
      :tag_id => "otu_for_type_specimen",
      :display => (@type_specimen ? @type_specimen.otu.andand.display_name(:type => :selected) : ""),
      :size => 40} -%><em> Empty if taxon name provided.</em></span>
  </div>

  <% end %>

  <div class="fr"> <label for="type_specimen_ref_id" class="lbl4">Reference</label>
    <span class="fld"> <%= render :partial => "shared/picker", :locals => {
  :controller => 'ref',
  :object => 'type_specimen',
  :method => 'ref_id',
  :tag_id => "type_specimen_ref_id_to_find",
  :display => (@type_specimen ? @type_specimen.ref.andand.display_name(:type => :selected) : ""),
  :size => 80} -%><em>optional</em></span>
  </div>

  <div class="fr"><label for="type_specimen_type_type"  class="lbl4">Type type</label>
    <span class="fld"> <%= select("type_specimen", "type_type", TYPE_TYPES, { :include_blank => true }) -%></span>
  </div>

  <div class="fr"><label for="type_specimen_notes"  class="lbl4">Notes (pertaining to type)</label>
    <span class="fld"> <%= text_area("type_specimen", "notes", :cols => 40, :rows => 2) -%></span>
  </div>

  <br style="clear:both;" />
</div>
