<h3>Editing specimen</h3>
<%= link_to 'Show', :action => 'show', :id => @specimen %> 
<%= render(:partial => 'identifier/existing_identifier_list', :locals => {:obj => @specimen}) -%>

<div class="show_category">Existing Determinations</div>
<% if @specimen.specimen_determinations.blank?  -%>
  <i> Specimen has no determinations.</i>
<% else -%>
  <ul style="list-style-type: disc;" >
    <% @specimen.specimen_determinations.each do |d| %>
    <li> <%= d.display_name %> 
    <%= link_to("delete", {:controller => :specimen, :action => :destroy_determination, :id => d.id, :specimen_id => @specimen} , :method => "post") -%>
    </li>
    <% end %>
  </ul>
<% end %>



<br />

<div class="box4">
  <%= form_tag({:action => 'update', :id => @specimen.id}, {:name => 'specimen_form'}) do -%>
    <%= submit_tag "Update" %>

    <div class="subform">
      <div class="header">Add Identifier</div>

      <%= render(:partial => '/identifier/form') -%>
        <br style="clear: both;"/>
       </div>

    <div class="subform">
      <div class="header">Add Determination</div>
      <%= render(:partial => 'form_specimen_det') -%>
    </div>

    <%= render :partial =>"form" -%> <br/><br/>


    <%= render(:partial => 'form_types') -%>

    <%= submit_tag "Update" %>
  <% end -%>
</div>


