<h3>Quick create specimen</h3>

<%= form_tag :action => 'quick_create' do %>
  <%= submit_tag "Create" -%>
  <%= submit_tag "Create and next" -%>
  <%= submit_tag "Create, clone and next"  %>

  <div class="subform">
    <div class="header">Identifiers (more can be added after creation by using <em>edit</em>, BOTH fields must be filled)</div>

    <div class="fr"><label for="specimen_identifier" class="lbl4">Identifier </label>
      <span class="fld"><%= text_field 'identifier', 'identifier', 'title' => 'identifier or voucher number - be sure to enter identifier source too',  'tabindex' => 1  -%></span>
    </div>

    <div class="fr">  <label for="specimen_identifier" class="lbl4">Identifier Source</label>
      <span class="fld">   <%= select("identifier", "namespace_id", @namespaces, { :include_blank => true } ) -%>   </span></div>
    <br style="clear: both;" />
  </div>

  <div class="fr">  <label for="ce_label" class="lbl4">Collecting Event</label>
    <span class="fld"> <%= text_area(:ce, :verbatim_label) -%><strong style="color:red;"> creates a NEW collecting event even on cloned specimens! </strong> </span>  <br style="clear: both;" /></div>

  <div class="fr"> <label for="specimen_sex" class="lbl4">Sex</label>
    <span class="fld"> <%= select("specimen", "sex", SEX, { :include_blank => true }) -%></span>
    <br style="clear: both;" />
  </div>

  <div class="fr"> <label for="specimen_stage" class="lbl4">Stage</label>
    <span class="fld"><%= select("specimen", "stage", ['adult', 'egg', 'larva', 'pupa', 'nymph', 'imago' ], { :default => 'adult', :include_blank => true} )  -%></span>
    <br style="clear: both;" />
  </div>

  <div class="fr"> <label for="specimen_repository_id" class="lbl4">Repository</label>
    <span class="fld"><%= render :partial => 'shared/picker', :locals => {
        :controller => 'repository',
        :object => 'specimen',
        :method => 'repository_id',
        :tag_id => "repository_name",
        :size => 40,
        :display =>(@specimen.repository.display_name if @specimen.repository)} -%></span>
    <br style="clear: both;" />
  </div>

  <div class="subform">
    <div class="header">Determinations (more can be added after creation by using edit)</div>
    <%= render(:partial => 'form_specimen_det') -%>
  </div>

  <div class="fr"> <label for="specimen_notes" class="lbl4">Notes</label>
    <span class="fld"><%= text_area 'specimen', 'notes', 'title' => 'notes about this specimen', :cols => 60, :rows => 4  -%></span>
  </div>

  <br style="clear:both;" />

  <%= submit_tag "Create" -%>
  <%= submit_tag "Create and next" -%>
  <%= submit_tag "Create, clone and next"  %>

<% end -%>


