<div class='navigator'>
  <%= navigator2(:obj => @ontology_class, :do =>  session['ontology_class_view'], :ord => 'id') -%>

  <% ['tags', 'figures', 'visualize newick', 'history'].each do |l| -%>
    <%= show_nav_link(:ontology_class => @otu, :link => l)  -%>
  <% end %>

  <br />
  <%= render(:partial => 'shared/nav_functions', :object => @ontology_class) -%>
  <div class="item"> <%= sensu_link_for_show(:ontology_class_id => @ontology_class.id, :div_id => "new_sensu_on_#{@ontology_class.id}") -%></div>
  <div class="item"> <%= ontology_relationship_link_for_show(:ontology_class_id => @ontology_class.id, :div_id => "new_ontology_relationship_on_#{@ontology_class.id}") -%></div>
  
</div>

<br />

<%= render(:partial => 'shared/tag_cloud', :object => @ontology_class) -%>

<br />

<!-- admin -->
<div class="navigator">
  <strong> admin </strong><br/>
  <div class="item"> <%= destroy_ontology_class_link_tag(@ontology_class, session[:person]) -%> </div>
  <div class="item"> <%= add_xref_to_ontology_class_tag(@ontology_class, session[:person]) -%> </div>
</div>

