(<%= link_to("back", :action => :show, :id => @matrix.id) -%>)  <h3 style="display: inline; margin-left: 10;"> <%= @matrix.display_name -%> </h3><%= image_tag('/images/spinner.gif', :alt => 'Loading', :id => 'update_spinner', :style => "display: none; vertical-align:middle;"  ) -%>
<table>
  <tr> 
    <td>&nbsp;&nbsp; &nbsp;OTUs / Chrs: <%= "#{@total_otus} x #{@total_chrs}" -%></td>
    <td> </td> 
  </tr>
  <tr> 
    <td><div id="window_to_update" style="clear: both;"><%= render :partial => 'mxes/browse/window' -%></div></td>
    <td><div id="cell_zoom" style="float: right; border-left:1px solid silver;"></div></td>
  </tr>
</table>
