<%= render(:partial => 'shared/page_nav_scope', :locals => {:pages => @extract_pages}) -%>
<%= render(:partial => 'shared/page_nav', :locals => {:pages => @extract_pages}) -%>
<table class="list_table">
  <%= t_col_heads( ["mx id", "specimen id", "material voucher#", "OTU", "locality", "quality", "extract notes", "other id",  "extracted on", "mod on", "mod by" ] ) %>
  <% @extracts.each_with_index do |o, i| -%>
  <%=  t_row({ 'obj' => o, 'tr_css' => ( o.quality == 'failed') ? "Failed" : "", 'tr_css' => i,
    'cell_data' =>[
    o.id,
    o.specimen_id,
    o.display_source_identifiers,
    o.display_source_determinations,
    o.display_source_ce,
    o.quality,  
    {o.notes => 'smaller_font'},
    o.other_extract_identifier,
    o.extracted_on, 
    o.m_on,
    o.m_by]}) %>
  <% end %>
</table>
<br />
<%= render(:partial => 'shared/page_nav', :locals => {:pages => @extract_pages}) -%>
