<% if @otus -%>
  <% @otus.each do |o|  -%>
    <strong><%= o.display_name -%></strong> <br/>
      <ul>
        <% o.associations.each do |as|  -%>
            <li><%= link_to render(:partial => "associations/part", :collection => as.association_parts), :action => 'show', :id => as.id, :controller => 'associations' -%> </li>
            <% @supports = AssociationSupport.find(:all, :conditions => ["association_id = ?", as.id], :include => :confidence, :order => "confidences.position") -%>

            <% @row_type ||= '' -%>
            <%=  render(:partial => "associations/support_table#{@row_type}", :locals => {:a => as} ) -%>
          <% end %>
        </ul>
   <% end %>

 <% elsif @otu %>

 <strong><%= @otu.display_name -%></strong> <br/>
<ul>
  <% @otu.associations.each do |as|  -%>
      <li><%= link_to render(:partial => "associations/part", :collection => as.association_parts), :action => 'show', :id => as.id, :controller => 'associations' -%> </li>
      <% @supports = AssociationSupport.find(:all, :conditions => ["association_id = ?", as.id], :include => :confidence, :order => "confidences.position") -%>

      <% @row_type ||= '' -%>
      <%=  render(:partial => "associations/support_table#{@row_type}", :locals => {:a => as} ) -%>
    <% end %>
  </ul>

<% end %>

