<!-- remember we only have @otu in otu/page partials -->
<% if @otu.taxon_name.blank? -%>

<% else -%>
  <% @taxon_hists = @otu.taxon_name.taxon_hists -%>

  <% if @taxon_hists.size > 0 %>
    <div class="header">Taxonomic History</div>
    <table style="width: 100%;" cellspacing="0">
      <tr class="lbl1" style="text-align: center;"><td>name</td><td>reference</td><td>pages</td><td>notes</td><td>status</td></tr>
      <% for hi in @taxon_hists %>
      <!-- TODO: strip css -->
      <tr <%= 'class = "failed"' if hi.status -%>>
      <td><%= hi.display_name %></td> 
      <td><%= link_to(hi.ref.authors_year, :action => 'show_ref', :id => hi.ref_id) if hi.ref_id? %></td>      
      <td><%= hi.ref_page %></td><td><%= hi.notes %></td>
      <td><%= hi.status.display_name if hi.taxon_name_status_id %></td>
      </tr>
    <% end %>
    </table>
  <% end %>
<% end -%>
