<%# remember we only have @otu in otu/page partials -%>

<% if @taxon_name = @otu.taxon_name -%>
  <div class="box4sub">

    <!-- TaxonName now displayed through the header -->
  
    <table style="margin: 0;">
      <%= "<tr><td class=\"lbl1\">status</td><td>#{@taxon_name.status.display_name}</td></tr>" if @taxon_name.taxon_name_status_id %>
      <% if  @taxon_name.valid_name_id? %>
        <tr><td class="lbl1">valid name:</td><td><%= link_to("#{@taxon_name.valid_name.display_name}", :action => "show_taxon", :taxon_name_id => @taxon_name.valid_name_id) %></td></tr>
      <% end %>
      <% if @taxon_name.iczn_group == "genus" %>
        <tr><td class="lbl1">species:</td><td><%= link_to("View list", :action => "browse_taxa", :genus => @taxon_name.name) %></td></tr>
      <% end %>
      <%= "<tr><td class=\"lbl1\">original genus:</td><td>#{h(@taxon_name.original_genus.display_name)}</td></tr>" if !@taxon_name.orig_genus_id.blank? %>
      <%= "<tr><td>type lost</td><td></td></tr>" if @taxon_name.type_lost == 1 %>
      <%= "<tr><td class=\"lbl1\">notes:</td><td>#{h(@taxon_name.notes)}</td></tr>" if @taxon_name.notes? %>
      <%= "<tr><td class=\"lbl1\">type taxon:</td><td>#{h(@taxon_name.type_taxon.display_name)}</td></tr>" if @taxon_name.type_taxon_id and @taxon_name.iczn_group != 'species' %> 
      <%= "<tr><td class=\"lbl1\">type locality:</td><td>#{h(@taxon_name.display_type_locale)}</td></tr>" if @taxon_name.display_type_locale.size != 0 %>
      <%= "<tr><td class=\"lbl1\">type sex:</td><td>#{h(@taxon_name.type_sex)}</td></tr>" if @taxon_name.type_sex? %>
      <%= "<tr><td class=\"lbl1\">type repository:</td><td>#{h(@taxon_name.type_repository.coden)}, #{h(@taxon_name.type_repository.name)}</td></tr>" if @taxon_name.type_repository_id? %>
      <%= "<tr><td class=\"lbl1\">type repository notes:</td><td>#{h(@taxon_name.type_repository_notes)}</td></tr>" if !@taxon_name.type_repository_notes.blank? %>
      <%= "<tr><td class=\"lbl1\">notes on type:</td><td>#{h(@taxon_name.type_notes)}</td></tr>" if !@taxon_name.type_notes.blank? %>
    </table>
  </div>

<% end %>
