<div class="header">Publication table</div>


<!-- header row 1 -->
<div style="border-bottom:1px dotted silver;padding:0.3em;clear:both;"><!-- row -->
  <div style="float:left;width:310px;"><!-- taxal -->
    Taxa
  </div>
  <% @genes.each do |g| %>
    <div style="float:right;width:320px;text-align:center;"><!-- gene col -->
      <%= g.name -%>
    </div><!-- end gene col -->
  <% end -%>
  <br style="clear:both;" /> 
</div>

<!-- header row 2 -->
<div style="border-bottom:1px dotted silver;padding:0.3em;clear:both;"><!-- row -->
  <div style="float:left;"><!-- taxal -->
    <div style="float:left;width:80px;"><!-- family col -->
      Family
    </div>
    <div style="float:left;width:80px;"><!-- subfamily col -->
      Subfamily 
    </div>
    <div style="float:left;width:120px;"><!-- taxon col -->
      Taxon 
    </div>
    <div style="float:left;width:30px;"><!-- taxon col -->
      OTU id 
    </div>
    <br style="clear:both;" />
  </div>
  <% @genes.each do |g| %>
    <div style="float:right;"><!-- gene col -->
      <div style="float:left;"><!-- otu row col -->
        <div style="border-bottom:1px dotted silver;"><!-- seq row  -->
          <div style="float:left;width:60px;"><!-- genbank id -->
            Genbank ID
          </div>
          <div style="float:left;width:60px;"><!-- seq id -->
            mx Seq ID
          </div>
          <div style="float:left;width:200px;"><!-- specimen id -->
            Specimen ID
          </div>
        </div><!-- end seq row -->
        <br style="clear: both;" />
      </div><!-- end otu row -->
      <br style="clear: both;" />
    </div><!-- end gene col -->
  <% end -%>
  <br style="clear:both;" /> 
</div><!-- end otu col -->


<% @otus.each_with_index do |o,i| -%>
  <div style="border-bottom:1px dotted silver;padding:0.3em;clear:both;background-color:<%= (i % 2 == 0) ? '#eee' : 'white' -%>;"><!-- row -->

    <div style="float:left;"><!-- taxal -->

      <div style="float:left;width:80px;"><!-- family col -->
        <%= o.taxon_name.andand.name_at_rank('family') -%>&nbsp;
      </div>
      <div style="float:left;width:80px;"><!-- subfamily col -->
        <%= o.taxon_name.andand.name_at_rank('subfamily') -%>&nbsp;
      </div>
      <div style="float:left;width:120px;"><!-- taxon col -->
        <%= o.taxon_name.andand.display_name -%>&nbsp;
      </div>
      <div style="float:left;width:30px;"><!-- taxon col -->
        <%= link_to(o.id, :action => :show, :id => o.id, :controller => :otu) -%>&nbsp;
      </div>

      <br style="clear:both;" />
    </div>

    <% @genes.each_with_index do |g,j| %>
      <div style="float:right;background-color:<%= (j % 2 == 0) ? '#def' : 'white' -%>;"><!-- gene col -->

        <div style="float:left;"><!-- otu row col -->

          <% o.sequences(:gene_ids => [g.id]).each do |s| -%>
            <div style="border-bottom:1px dotted silver;"><!-- seq row  -->

              <div style="float:left;width:60px;"><!-- genbank id -->
                <%= s.genbank_identifier.blank? ? 'X000000' : s.genbank_identifier -%>
              </div>
              <div style="float:left;width:60px;"><!-- seq id -->
                <%= link_to(s.id, :action => 'show', :controller => 'seq', :id => s) -%>
              </div>
              <div style="float:left;width:200px;"><!-- specimen id -->
                <%= s.source_specimen.andand.display_name(:type => :identifiers)  -%>
              </div>

            </div><!-- end seq row -->
          <% end -%>

          <br style="clear: both;" />
        </div><!-- end otu row -->

        <br style="clear: both;" />
      </div><!-- end gene col -->

    <% end -%>

    <br style="clear:both;" />
  </div><!-- end otu col -->
<% end -%>

