<% html_id = "ontology_relationship_in_list_#{r.id}" %>
<div style="padding: 2px; border-bottom: 1px dotted silver; width: 100%;" id="<%=html_id%>">
  <div style="float:left; width: 35%;"><%= ontology_class_postfixed_with_label(r.ontology_class1, matching_id) -%></div>
  <div style="float:left; width: 13%;"><%= r.object_relationship.display_name -%> </div>
  <div style="float:left; width: 35%;"><%= ontology_class_postfixed_with_label(r.ontology_class2, matching_id) -%> </div>
  <div style="float:left; width: 10%;"><%= time_ago_in_words(r.updated_on) -%> </div>
  <div style="float:left; width: 2%;">
    <form class='inline' method='post' action="<%= url_for({:action => :destroy, :controller => :ontology_relationships, :id => r.id, :html_id=> html_id}) %>" >
      <input name="<%=request_forgery_protection_token%>" type="hidden" value="<%=form_authenticity_token%>"/>
      <input type='hidden' name='_method' value='delete'></input>
      <input type='submit' value='&#10008;' data-ajaxify='submit' data-ajaxify-confirm='Are you sure?'></input>
    </form>
  </div>
  <br style="clear: both;" />
</div>
