<h3>Editing protocol</h3>

<%= form_tag :action => 'update', :id => @protocol do -%>
  <%= render :partial => "form" %>
  <%= submit_tag "Edit" %>
<% end -%>

<%= link_to 'Show', :action => 'show', :id => @protocol %> |
<%= link_to 'Back', :action => 'list' %>
