<% if !@hide_pagination %>
 	<%= render(:partial => 'shared/page_nav_scope', :locals => {:pages => @chr_pages}) -%>
	<%= render(:partial => 'shared/page_nav', :locals => {:pages => @chr_pages}) -%>
<% end %>

<table class='list_table'>
  <%= t_col_heads( [ {'name' => "name", 'style' => 'width: 40%;'}, "mx_id",   {'name' => "cited in", 'style' => 'width: 20%;'},  "cited #",  'states', 'codings', "mod age", "mod by" ] ).html_safe %>
  <% @chrs.each_with_index do |chr, i| -%>
  <%=  t_row( { 'obj' => chr, 'tr_css' => i,
    'cell_data' => [ link_to(chr.name, :action => 'show', :id => chr),
    chr.id,
    chr.cited_in_ref.andand.authors_year,
    chr.cited_char_no,
    chr.chr_states.size,
    chr.codings.size,
    time_ago_in_words(chr.updated_on),
    chr.m_by] }).html_safe -%>
  <% end -%>
</table>
<br />

<% if !@hide_pagination %>
	<%= render(:partial => 'shared/page_nav', :locals => {:pages => @chr_pages}) -%>
<% end %>
