<div>
  <% if @part == 'center' -%>

    <% if @chr.continuous? -%>
      <div style="margin-bottom: 1em;text-align:center;padding: 1em;" class="passed">
        <% if @chr.is_continuous -%>
          This is a continuous character that accepts any numerical value.
        <% else -%>
          This is a continuous character mapped to specimen measurements for: <%= @chr.continuous_description.display_name -%>
        <% end -%>
      </div>
    <% else -%>


      <div style="border-bottom: 1px dotted silver; margin-bottom:1em;"> States </div>
      <div class="subform" style = "min-width: 460;" >
        <%= render(:partial => 'cs_form') -%>
      </div>

      <% if @chr_states.size > 0 -%>
        <%= render(:partial => 'cs', :collection => @chr_states) -%>
      <% else -%>
        <div class="failed" style="text-align:center; border: 1px solid silver; padding: 1em; margin:1em;"> No states have been added. </div>
      <% end -%>
      <br style="clear: both;" />

    <% end -%><!-- end continuous conditional -->


    <div style="border-bottom: 1px dotted silver; margin-bottom:1em;"> Character metadata </div>


    <div><strong>Document character description: </strong>
      <div id="chr_desc_id<%= @chr.id -%>" class="inplaceeditor-text"><%= @chr.doc_char_descr.blank? ? content_tag(:em, 'none provided, click to add') : htmlize(@chr.doc_char_descr) -%> </div>
      <%= in_place_editor("chr_desc_id#{@chr.id}", :url => url_for(:controller => :chr, :action => :_in_place_description_update, :id => @chr.id), :rows => 5, :style => 'width: 100%;') -%>
    </div>

    <b>Notes: </b>
    <div id="chr_notes_id<%= @chr.id -%>" class="inplaceeditor-text" ><%= @chr.notes.blank? ? content_tag(:em, 'none provided, click to add') : @chr.notes -%></div>
    <%= in_place_editor("chr_notes_id#{@chr.id}", :url => url_for(:controller => :chr, :action => :_in_place_notes_update, :id => @chr.id), :rows => 4, :cols => 80) -%>


    <b>Cited in: </b><%= @chr.cited_in_ref ? @chr.cited_in_ref.display_name : "" -%><br />
    <b>Cited on page: </b><%= @chr.cited_page -%><br />
    <b>Cited as character no.: </b><%= @chr.cited_char_no -%><br />
    <b>Synonymous with: </b> <% if @chr.syn_with -%> <%= link_to(@chr.chr_syn_with.display_name, :action => 'show', :id => @chr.syn_with) -%><% end -%> <br />

    <% @syns = @chr.child_synonyms -%>
    <% if @syns -%>
      <b>Immediate child synonyms:</b> <%= @syns.map{|i| link_to(i.display_name, :action => 'show', :id => i.id)}.join("; ") -%>
    <% end -%> <br />

    <b>Document character code: </b><%= @chr.doc_char_code -%><br />


    <div>
      <%= render_figs_for_obj(@chr, 'medium') %>
    </div>

    <b>Short/Matrix name: </b><%= @chr.short_name -%><br />
    <b>Position within project: </b> <%= @chr.position -%><br />

    <%= display_record_ccuu(@chr) -%><br />

  <% elsif @part == 'right' -%>

    <%= render(:partial => 'shared/tag_cloud', :object => @chr) -%>
    <%= render(:partial => 'code_with_form', :object => @chr) -%>

  <% end -%>
</div>
