<h3> New character </h3>
<% form_tag :action => 'create' do -%>
  <%= submit_tag "Create", :class => 'form_button', :style => 'margin-left: 128px;'  -%>
  <%= hidden_field 'chr', 'id' -%>
  <%= render :partial => "form" -%>

  <table><tr><td style="width: 480px;">
  <div class="fr"> <label for="chr_ordered" class="lbl4">Create in group:</label>
    <span class="fld"><select name="chr_group_id">
      <option></option>
      <%= options_from_collection_for_select(@proj.chr_groups, "id", "name") -%>
    </select></span>
  </div>
</td></tr></table>
  
<%= submit_tag "Create", :class => 'form_button', :style => 'margin-left: 128px;'  -%>
<% end -%>

