<%
  prefix = "ref[author_attributes][]"
  element_id =  "authors_#{author.id}"
  element_selector="##{element_id}"
-%>
<tr id="<%= element_id %>">
  <% if !author.new_record? -%>
    <input type="hidden" name="<%=prefix-%>[id]" value="<%=author.id %>"/>
    <input type="hidden" name="<%=prefix-%>[position]" value="<%=author.position%>"/>
  <% end %>
  <td><%= error_messages_for 'author' %></td>
  <% if author.new_record? -%>
  <td> needs save! </td>
  <%else%>
  <td class='handle'><%= render("shared/drag_handle") -%></td>
  <%end%>
  <td>
    <input type='text' name="<%=prefix-%>[last_name]" value="<%= author.last_name -%>"></input>
  </td>
  <td>
    <input type='text' name="<%=prefix-%>[first_name]" value="<%= author.first_name -%>"></input>
  </td>
  <td>
    <input type='text' size='8' name="<%=prefix-%>[initials]" value="<%= author.initials %>"></input>
  </td>
  <td>
    <select name="<%=prefix-%>[auth_is]">
      <option value='author' <%= author.auth_is == 'author' ? 'selected' : '' -%>>Author</option>
      <option value='editor' <%= author.auth_is == 'editor' ? 'selected' : '' -%>>Editor</option>
    </select>
  </td>
  <td>
    <% if !author.new_record? %>
      <a href="<%= url_for(:action=>'destroy_author', :author_id=>author.id, :selector=>element_selector)%>" data-ajaxify='submit' > X </a>
    <% end %>
  </td>
</tr>
