<% content_for :center do -%>
  <h4> Taxonomic History for <%= @taxon_name.display_name  %></h4>
  <%= render :partial =>("taxon_hist/table_list") %>
  <hr />
  <div class="subform">
    <div class="header">Add new history</div>
    <%= form_tag :action => 'create', :controller => 'taxon_hist' do -%>
    <%= render :partial =>("taxon_hist/form") %>
    <%= submit_tag "Add" %>
    <% end -%>
  </div>
<% end %>
