<p> Result for: <%= keyword.display_name -%> </p>
<div>
  <% labels.each do |l| -%>
    <div style="font-weight: bolder;"><%= link_to(l.display_name, {:action => 'show', :id => l.id}) -%></div>

    <% l.ontology_classes.each do |oc| -%>
      <div style="margin: 1em; border-bottom: 1px dashed silver; padding: 1em;" class="ip_edit" id="ontology_class_definition_id<%= oc.id -%>"><%= oc.definition -%></div>
      <%= in_place_editor "ontology_class_definition_id#{oc.id}", :url => url_for(:controller => :ontology_class, :action => :_in_place_definition_update, :id => oc.id), :rows => 3, :cols => 60 -%>
    <% end -%>
 <% end %>
</div>