<div class='navigator'>
  <%= navigator2(:obj => @label, :do => params[:action], :ord => "name") -%>
   <%= show_nav_link(:obj => @label, :link => 'tags')  -%>

<br />
  <div class="item"><%= new_tag_tag(:object=>@label) -%></div>
  <div class="item"><%= sensu_link_for_show(:label_id => @label.id, :div_id => "new_sensu_on_#{@label.id}") -%></div>

</div>

<br />
<%= render(:partial => 'shared/tag_cloud', :object => @label) -%>
