<!-- Not used? -->
<h3>Listing geographic name types</h3>

<%= paginate(@geog_types, :total_count => @geog_types.total_count) -%>
<table>
  <tr>
<% for column in GeogType.content_columns %>
    <th><%= column.human_name %></th>
<% end %>
  </tr>
  
<% for geog_type in @geog_types %>
  <tr>
  <% for column in GeogType.content_columns %>
    <td><%=h geog_type.send(column.name) %></td>
  <% end %>
    <td><%= link_to 'Show', :action => 'show', :id => geog_type %></td>
    <td><%= link_to 'Edit', :action => 'edit', :id => geog_type %></td>
    <td><%= link_to 'Destroy', {:action => 'destroy', :id => geog_type}, :confirm => "Are you sure?" %></td>
  </tr>
<% end %>
</table>

<%= paginate(@geog_types, :total_count => @geog_types.total_count) -%>
