<p> <strong> Visualize ontology classes in tree </strong> 
	
	<em> nodes in the tree represent ontology classes (concepts) </em>
</p>

<div class="subform">
  <div class="header">Set root<%= image_tag('/images/spinner.gif', :alt => 'Loading', :id => 'tree_spinner', :style => "display: none; vertical-align:middle;") -%></div>
  <div class="content">
    <% form_remote_tag :loading => "Element.show('tree_spinner')", :complete => "Element.hide('tree_spinner')", :url => {:action => :_tree_set_root, :controller => :ontology}, :update => :tree  do  -%>
      <label for="ontology_part_id" class="lbl4">Term</label>
        <span class="fld"><%= render :partial => 'shared/picker', :locals => {
          :controller => 'ontology_class',
          :object => 'ontology_class',
          :method => 'id',
          :size => 40,
          :tag_id => "ontology_class_for_tree_build",
          :display => '' } -%>
        </span>&nbsp;
        <label for="depth" class="lbl4">Expansion Depth</label><span class="fld"><%= text_field_tag(:max_depth, "2", :size => 2) -%></span>&nbsp;
        <label for="ontology_relationship_id" class="lbl4">Limit relationships to:</label><span class="fld"><%= select("object_relationship", "id", @all_object_relationships.collect {|p| [ p.display_name, p.id ]}, :include_blank => true) -%></span>&nbsp;
      <%= submit_tag("Set") -%>
  <% end -%>
  </div>
</div>

<table style="width: 100%;">
  <tr> 
    <th></th>
    <th></th>
  </tr>

  <% if @colored_object_relationships.size > 0 -%>
  <tr> 
    <td colspan="2" style="border: 1px solid silver;">Relationship colors (<i>relationships without color not shown</i>): <%= @colored_object_relationships.collect{|i| i.colored_display_name}.join(", ") -%>  </td>
  </tr>
  <% end -%>

  <tr>
    <td style="width: 50%;"><div id="tree" style="clear: both;"><%= render(:partial => '/ontology/tree/tree_index', :locals => {:max_depth => 2, :relationship_type => 'all'}) -%></div></td>
    <td style="width: 30%;">
      <div style="clear: both; padding: 4px;" id="ontology_tree_info_target"></div>
     </td>
  </tr>
</table>
