<%= link_to("Return to content editing", :action => :edit_page, :controller => :otu, :id => @content.otu_id, :content_template_id => @content_template.id) -%>

<div class="show_rec">
  
  <div class="show_category"> Content details </div>
  <div class="show_row"><span class="show_lbl">Id: </span><span class="show_data"><%= @content.id -%></span></div>
  <div class="show_row"><span class="show_lbl">Text: </span><span class="show_data"><%= @content.text -%></span></div>
  <div class="show_row"><span class="show_lbl">Published?: </span><span class="show_data"><%= @content.public_version ? 'yes' : 'no' -%></span></div>

  <div class="show_category"> Present attribution</div>
  <div class="show_row"><span class="show_comment">Default values come from default project settings or content creator, and are overwridden by values below when provided. </span></div>
  <div class="show_row"><span class="show_lbl">Editor: </span><span class="show_data"><%= @content.editor ? @content.editor : content_tag(:em, 'none provided') -%></span></div>
  <div class="show_row"><span class="show_lbl">Creator/author: </span><span class="show_data"><%= @content.attribution_creator -%></span></div>
  <div class="show_row"><span class="show_lbl">Rights holder: </span><span class="show_data"><%= @content.attribution_rights_holder -%></span></div>
  <div class="show_row"><span class="show_lbl">License: </span><span class="show_data"><%= @content.attribution_license_text -%></span></div>

  <%= render(:partial => '/shared/show/record/record_details', :locals => {:obj => @content}) -%>
</div>

<%= form_tag(:action => :update, :id => @content.id, :content_template_id => @content_template.id) do -%>
  <%= render(:partial => 'form') -%>
  <%= submit_tag 'Edit' -%>
<% end %>
