<!DOCTYPE html >
<html>
  <head>
    <title>MX - <%= self.controller.controller_name.humanize -%></title>
    <%
      # Pulling in from Google CDN.
      # Commented out now, b/c it slows things WAY down locally.
      # <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js" type='text/javascript'/>
      #
      # TODO: replicate the edge include_js that checks for google cs. local
    %>

    <%= include_javascripts :application %>
    <%= include_stylesheets :application %>
    <%= class_css -%>
    <%= csrf_meta_tag %>

    <%= yield :head -%>
    <link rel="shortcut icon" href="/favicon.png" type="image/x-icon" />
  </head>
  <body>
    <div id="container" class='<%= controller_name.dasherize %>-controller'>
      <div id="header">
        <% if session && session[:person] -%>
          <div style="float:right; padding-top: 2px;" class="links">
            <span class="links">Logged in as <%= session[:person].login -%>
              (<%= link_to 'logout', :controller => '/account', :action => :logout -%> |
              <%= link_to "my preferences", :action => 'preferences', :controller => 'people' -%> |
              <span class="wiki_help_link"><%= wiki_help_link -%></span> |
              <span class="github_link"><%= link_to('Github', 'https://github.com/mx3/mx', :target => "_blank") -%></span>)
            </span>
          </div>
        <% end -%>

        <% if @page_title -%>
          <p><%= @page_title -%></p>
        <% elsif @proj -%>
        <p><%= @proj.name -%>
        <span class="links"> (
            <%= link_to "settings", :controller => :projs, :action => :show, :id => @proj.id -%> |
            <%= link_to "change projects", :controller => '/projs', :action => 'list' -%> |
            <%= link_to "my data", :controller => '/projs', :action => 'my_data' -%>   )
        </span>
        </p>
        <% end -%>

        <% if @proj.andand.id -%>
          <span style="float:right; padding: 0.25em 1em;">&nbsp;</span>
          <%= menu_tabs("main") -%>
        <% else %>
          <%= content_tag(:p) if !@page_title -%>
        <% end %>
      </div>

      <div id="content">
        <% unless no_subnav.include?(self.controller.controller_name) -%>
          <div class='subnav-wrapper'>
            <div data-sticky-header class="subnav">
              <div style="float:right;"><%= render(:partial => 'shared/class_navigator') unless no_sidenav.include?(self.controller.controller_name) -%></div>
              <div><%= menu_tabs("subnav") -%></div>
              <div style="clear:both;"></div>
            </div>
          </div>
        <% end -%>


        <%= yield -%>

      </div>
      <div id="footer" style="clear:both;">&nbsp;</div>


    </div>

    <!-- Flash display here -->
    <script type='text/javascript' >
      $(document).ready(function() {
        <% flash.each  do |type, msgs| -%>
          <% [msgs].flatten.each do |msg| -%>
            $.mx_flash("<%=escape_javascript(type.to_s)%>", "<%=escape_javascript(msg.to_s)%>");
          <% end %>
        <% end %>
      });
    </script>

  </body>
</html>
