<!DOCTYPE html >
<html>
  <head>
    <title>MX - <%= self.controller.controller_name.pluralize.humanize -%></title>
    <%
      # Pulling in from Google CDN.
      # Commented out now, b/c it slows things WAY down locally.
      # <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js" type='text/javascript'/>
      #
      # TODO: replicate the edge include_js that checks for google cs. local
    %>

    <%= javascript_include_tag 'jquery-1.6.2',
              'application',
              'jquery-ui-1.8.13.custom.min',
              'jquery.mx-autocompleter',
              'jquery.basic-modal',
              'jquery.ajaxify',
              'jquery.mx-effects',
              'jquery.mx-color-picker',
              'jquery.mx-flash',
              'jquery.notifications'%>

    <%= stylesheet_link_tag "standard",'notifications' -%>
    <%= class_css -%>
    <%= csrf_meta_tag %>

    <%= yield :head -%>
    <link rel="shortcut icon" href="/favicon.png" type="image/x-icon" />
  </head>
  <body>

  <%= figure_tag(@proj.chrs.first) -%>

    <div id="container">
      <div id="header">
        <% if session && session[:person] -%>
          <div style="float:right; padding-top: 2px;" class="links">
            <span class="links">Logged in as <%= session[:person].login -%>
              (<%= link_to 'logout', :controller => '/account', :action => :logout -%> |
              <%= link_to "my preferences", :action => 'preferences', :controller => 'person' -%> |
              <span style="background: #F7B346; padding: 0 2px 0 2px; border: 1px;"><%= wiki_help_link -%></span> |
              <span style="background: #D7D435; padding: 0 2px 0 2px; border: 1px;"><%= link_to('SF', 'https://sourceforge.net/tracker/?group_id=175927', :target => "_blank") -%></span>)
            </span>
          </div>
        <% end -%>

        <% if @page_title -%>
          <p><%= @page_title -%></p>
        <% elsif @proj -%>
          <p><%= @proj.name -%><span class="links"> ( <%= link_to "settings", :controller => :proj, :action => :show, :id => @proj.id -%> | <%= link_to "change projects", :controller => '/proj', :action => 'list' -%> | <%= link_to "my data", :controller => '/proj', :action => 'my_data' -%>   )</span></p>
        <% end -%>

        <% if @proj.andand.id -%>
          <span style="float:right; padding: 0.25em 1em;">&nbsp;</span>
          <%= menu_tabs("main") -%>
        <% else %>
          <%= content_tag(:p) if !@page_title -%>
        <% end %>
      </div>

      <div id="content">
        <div id="notice" class="notice"><%= [flash[:notice]].flatten.join("<br/>") -%></div> <%# on all the time for AJAX %>

        <% unless no_subnav.include?(self.controller.controller_name) -%>
          <div class="subnav">
            <div style="float:right;"><%= render(:partial => 'shared/class_navigator') unless no_sidenav.include?(self.controller.controller_name) -%></div>
            <div><%= menu_tabs("subnav") -%></div>
            <div style="clear:both;"></div>
          </div>
        <% end -%>

        <%= yield -%>

      </div>
      <div id="footer" style="clear:both;">&nbsp;</div>


    </div>
  </body>
</html>
