<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
  <meta http-equiv="content-type" content="text/html;charset=utf-8" />
  <title>MX - OTU preview page for <%= @otu.display_name -%> </title>
  <%= javascript_src_tag "svg_web/svg.js", "data-path" => "/javascripts/svg_web" -%><!-- this must come first -->
  <%= javascript_include_tag 'mx_svgweb' -%>
  <%= stylesheet_link_tag "minimal" -%>
  <%= class_css -%>
  <link rel="shortcut icon" href="/favicon.png" type="image/x-icon" />  
    <%= javascript_include_tag :defaults, :include_google_js => true, :versions => {:scriptaculous => "1.8.1", :prototype => "1.6.1"} -%>
    <%= render(:partial => '/shared/gmaps_header') if needs_gmaps -%>
    <%= yield :head -%>
  </head>
  <body>
    <div id="container">
      <div id="header">

      <div id="content">

        <%= yield -%>

      </div>
    </div>
    </div>
  </body>
</html>
